.editable-label-value{
	margin-left: 5px;
	margin-right: 5px;
}
.editable-label-button{
	color: #bababa;
}
.editable-label-button-dark{
	color: #353535;
}
.editable-label-button-dark:hover{
	color: #428BCA;
}
.editable-label-input{
	.editable-label-value;
	border: none;
	border-bottom: 1px solid #353535;
	outline: 0;
}