.comments-comment{
    color: #3e3e3e;
}
.comments-button{
}
.comments-button:hover{
    color: #3973A7;
}
.comments{
    color: #717980;
}
.comments-count-wrapper{
    display: table;
    text-align: center;
    margin: 0 auto;
}
.comments-count{
    padding-top: 5%;
    display: table-cell;
}
.comments-big-label{
    font-size: 10pt;
}
.comments-comment-body{
    margin-top: 20px;
    margin-bottom: 20px;
}
