@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
body {
  font-family: 'Open Sans', sans-serif !important;
}
.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
       height: 60px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 333px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    padding-top:4px;
    padding-left: 40px;
}
.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 65px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-header>.navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 332px;
    border: none;
    min-height: 50px;
    border-radius: 0;
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
    position: relative;
    left: -330px;
    top: 3px;
}
.main-header .logo .logo-lg {
    color: #414141;
    margin-top: 2px;
}
.main-header .logo .logo-lg b {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid rgba(65, 65, 65, 0.62);
}
.skin-blue .main-header .navbar {
    background-color: #f4f4f4 !important;
}
.skin-blue .main-header .logo {
    background-color: #f4f4f4 !important;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #f4f4f4 !important;
}
.navbar-custom-menu > .navbar-nav > li {
    position: relative;
    top: 3px;
}
.fa-style {
  color:#414141;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f1f1f1;
    z-index: 800;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.17);
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #f1f1f1 !important;
}
.main-footer {
    background: #f4f4f4;
    padding: 15px;
    color: #444;
    /* border-top: 1px solid #d2d6de; */
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.17);
}
.control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg {
       background-color: #e8e8e8 !important;
}


.navbar-custom-menu > .navbar-nav > li:hover .fa-style, .navbar-custom-menu > .navbar-nav > li:focus .fa-style, .navbar-custom-menu > .navbar-nav > li:active .fa-style{
    color:#414141;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background: #e8e8e8 !important;
    color: #414141!important;
}
.control-sidebar-bg {
  height: 190px !important;
}
.side-toggle-menu-item {
  list-style: none;
  text-align: right;
  color:#414141;
      padding-left: 0;
       margin-top: 15px;
}
.side-toggle-menu-item i {
  margin-left: 5px;
}
.side-toggle-menu-item li {
   
    font-size: 14px;
    margin-bottom: 5px;
}
.heading {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.full-width {
  width:100%;
}

.proj-form-group {
  float: left;
  width: 50%;
}
.s-type {
  width:100%;
}
.s-type-group {
    float: left;
   
    width: 33.3%;
}

.m-type-group {
  float:left;
  width:50%
}
.minus-width {
  width: 97% ;
}
.minus-m-width {
  width:100% ;
}
.m-type {
  width:100%;
}
.line {
    width: 100%;
    height: 1px;
    background: rgba(204, 204, 204, 0.43);
    margin: 35px auto 35px auto;
    /* text-align: center; */
}
.sp-row {

     margin-left: 0px;
      margin-right: 0px;
    width: 50%;
    float: left;

}


#gdirect, #bank, #settmentaccount, #projnum, #projtype {
  width: 98%;
}


.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    border: none;
    border-bottom: 3px solid #e2e2e2;
    background: #e8e8e8;
}
.main-name {
    color: #414141;
    position: relative;
    top: 3px;
}
.main-avatar {
    display: block;
    width: 45px;
    height: 45px;
    background: url(/images/users/user1-128x128.jpg);
    background-size: cover;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: -8px;
}


.main-header>.navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 332px;
    border: none;
    min-height: 60px;
    border-radius: 0;
}
.side-main-name {
    padding-bottom: 25px !important;
    margin-top: -3px;
}
.control-sidebar > .tab-content {
    padding: 10px 20px;
}
.control-sidebar-bg, .control-sidebar {
    top: 0;
    right: -230px;
     width: initial; 
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 14px;
}


/******************tasks*******************/
.fa-circle-style {
    font-size: 10px;
    color: #df4e4e;
    position: relative;
    top: -2px;
    margin-left: 5px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #e8e8e8;
    border-top: none;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top:1px solid #dadada;
  vertical-align: bottom;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px !important;
    margin-top: 10px;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    padding-top: 20px;
    position: relative;
}
.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    margin-left: 8px !important;
    cursor: pointer;
}
 .word-btn {
    margin-left: -12px;
}
.col-1 td {
  border-top: none !important;

}
.col-2 td {
  border-top: none !important;

}
.table-docs {
  background: #f4f4f4;
}
.table-wrap {
  background: #f4f4f4;
}
.brown-text, .brown-text:hover {
 
color:#9e9e9e;
}

  .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #9e9e9e;
}

.align-right {
  text-align: right;
}
.direct-chat-messages {
  background: #f4f4f4;
}
.box-footer {
  background: #f4f4f4;
}
.send-message-control {
  height:40px;
}
.send-message-btn {
  height:40px;
}
.comment-box {
  box-shadow: none;
}

.sub-task-box {
  background: none;
  border:none;
  box-shadow:none;
}
.sub-task-box-body {
  background: #f4f4f4;
}
.collapsed-link {
  background:none;
}
.sub-task-box-header {
  height:25px;
  padding: 0;
  margin:0;
}
.box {
  box-shadow: none;
}
.skin-blue .main-header .navbar .nav>li>a {
  color:#414141 !important;
}
.display-none {
  display:none;
}
.dropdown-menu {
    
      background-color: #e8e8e8;
      border:none;
}
.respons-visible, .caret {
  position:relative;
  top:3px;
}

/****************************************/

/*************main**********************/
.navbar-header {
    float: left;
    position: relative;
    z-index: 99999;
}
.skin-black .main-header>.navbar {
    background-color: #f4f4f4 !important;
}
.skin-black .main-header .navbar-brand, .skin-black .main-header>.navbar .navbar-nav>li>a, .skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black .main-header>.navbar .navbar-right>li>a {
  border:none !important;
}
.navbar-brand {
  font-size: 20px;
  color:#414141 !important;
}
.main-header .logo  b {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid rgba(65, 65, 65, 0.62);
}
.collapse {
  display:block;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav li:hover {
    float: left;
    margin: 0;
    background: #e8e8e8 !important;
}
.navbar-nav>li {
    float: left;
}
.skin-black .main-header>.navbar .navbar-nav>li>a:hover, .skin-black .main-header>.navbar .navbar-nav>li>a:active, .skin-black .main-header>.navbar .navbar-nav>li>a:focus {
  background: #e2e2e2 !important;
  color:#414141 !important;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 19px;
}
.navbar-collapse {
  padding-right: 0;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 26px;
    line-height: 19px;
}
.skin-black .main-header .navbar-brand {
    color: #333;
    border-right: 1px solid #eee;
    padding-top: 3px;
}
.semi-width {
  width:49%;
}
.color-link {
  color:#414141;
}
.color-link:hover {
  color:rgba(65, 65, 65, 0.65); 
}
.form-projects-group {
  margin-bottom:30px;
}
.padding-lr-none {
  padding-left:0 !important;
  padding-right:0 !important;
}
.navbar-custom-menu {
    position: relative;
    top: 1px;
}
.daterangepicker {
    position: absolute;
    background: #e8e8e8 !important;
   

}
.daterangepicker .calendar-date {
   background: #e8e8e8 !important;
} 
.margin-none {
  margin: 0 !important;
}
.bg-grey {
  background: #e8e8e8;
}
.nav-item-card {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.box .nav-stacked > li {
    border-bottom: 1px solid #ECECEC;
    margin: 0;
}
.long-link {
  font-size: 10px;
}
.main-sidebar, .left-side {
    position: fixed !important;
    top: 0;
    left: 0;
    padding-top: 65px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.sidebar-toogle-fixed {
  position:fixed !important;
  left:3px !important;
  top:7px !important;
}
#fixed-link {
  color:#f4f4f4;
  z-index: 50;
  display: none;
}
#fixed-link:hover {
  color:#f4f4f4;
  z-index: 50;
  background: transparent !important;
}
#relative-link {
    color: #414141;
    z-index: 100;
}
.add-proj {
  float: right;
  font-size: 22px !important;
  color:#414141;
}
.add-proj:hover {
  color:#868686;
  transition:all 0.1s ease;
}
.add-proj span {
  font-family: 'Open Sans', sans-serif;
  padding-left: 3px;
  font-weight:100;
}
/***************************************/

/***********************************/
.margin-top-medium {
  margin-top:50px;
}
.margin-bottom-medium {
  margin-bottom:50px;
}
/*************************************/
/*****************docs****************/
.add-doc-link, .add-doc-link:hover {
    color: #414141;
    float: right;
    font-size: 20px;
    margin-top: 10px;
}
.table-hover tr:hover {
  background: #f1f1f1 !important;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    padding-top: 12px;
    position: relative;
}


textarea.form-control {
    height: 200px;
}

.default-bg {
  background: #f1f1f1;
  padding:0;
}
.comment {
  margin-top: 10px;
}
.input-group-btn {
  margin-top: 20px;
}
  .send-comment-btn-group {
    position: relative;
    font-size: 0;
    top: 10px;
    white-space: nowrap;
}
.contacts-list-name {
    font-weight: 600;
    margin-top: 10px;
}
.checkbox, .radio {
  
}
.direct-chat-contacts {
    -webkit-transform: translate(101%, 0);
    -ms-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 201px;
    bottom: 0;
    height: 200px;
    width: 250px;
    background: #f1f1f1;
    color: #fff;
    overflow: auto;
    border-left: 2px solid #e2e2e2;
}
.contacts-list-info {
    margin-left: 25px;
    color: #fff;
}
.contacts-list-name {
    font-weight: 500;
    margin-top: 10px;
    color: #414141;
    font-size: 14px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 11px;
}
.contacts-list-date {
    color: #aaa;
    font-weight: normal;
    margin-right: 10px;
    position: relative;
    top: 2px;
    left: 1px;
}

.btn-list:active, .btn-list:hover, .btn-list:focus {
  background: #e2e2e2;
}
.btn-list {
    padding: 12px;
    position: relative;
    top: -4px;
    right: -9px;
}
.direct-chat-primary-header-style {
      border-bottom: 3px solid #e2e2e2 !important;
}

.check-style-class {
 display:none;
}
.styled-check:before {
    content: "";

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}




.skin-blue .sidebar-menu>li.header {
    
    background: #1a2226;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
  background: #1e282c !important;
}
/**************************************/

.sp-h {
  height: 80px;
  vertical-align: inherit !important;
}
.sp-width {
  width: 300px;
}
.table-style-creditors {
  margin:0 !important;
  border: 1px solid #ccc;
}
.table-style-creditors td {
    border-left: 1px solid rgba(204, 204, 204, 0.28);
    border-right: 1px solid rgba(204, 204, 204, 0.16);
    border-top: 1px solid rgba(218, 218, 218, 0.29) !important;
    border-bottom: 1px solid rgba(204, 204, 204, 0.13);
    text-align: center;
}
.vertical-al-m {
    vertical-align: middle !important;
    text-align: center;
    font-weight: 600;
    color: rgba(65, 65, 65, 0.9);
}





.btn-default {
  background-color: #e2e2e2;
}

.nav-stacked > li > a:hover {
  background: #f4f4f4
}

.main-footer {
    background: #f4f4f4;
    padding: 15px;
    color: #444;
 
    /* border-top: 1px solid #d2d6de; */
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.17);
   
}
.font-up {
  font-size: 15px;
}
.font-up-main {
  font-size: 20px;
}
.action-col {
  width:50px;
  text-align: center;
}



.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
   
    font-size: 16px;
    padding-bottom: 25px;
    position: fixed;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    width: 50px;
    background: #303744 !important;
    z-index: 999999;
}
.icon-menu i {
  margin-right: 5px;
      height: 45px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    color:#e8e8e8;
}
.menu {
  
  height: 100%;
  list-style: none;
  padding-left:0;
}
.menu-item {
    display: none;
    /* padding: 12.5px; */
    position: relative;
    left: -16px;
    top: 0px;
    padding-left: 5px;
    padding-right: 35px;
    text-transform: initial;
    font-size: 14px;
}


.menu-list {
   height: 45px;
  
  
}
.menu-list a {
  color:#f4f4f4;
}

.menu-list:hover {
border-left: 3px solid #3c8dbc;
    background: #1e282c;
    transition:all 0.1s ease;
}

.active-item i {
      border-left: 3px solid #3c8dbc;
    background: #1e282c;
    color: #e8e8e8;
}
.active-item:hover .menu-item, .active-item .menu-item  {
  background: #1e282c;
}
.sub-menu {
    height: 80px;
    background: #1e282c !important;
    position: relative;
    z-index: 99999;
    text-transform: initial;
    list-style: none;
    padding-left: 20px;
    display: none;
    font-size: 15px;
    padding-top: 15px;
    top: -2px;
}
.sub-menu-list {
    padding-bottom: 7px;
}

tr.col-2 {
    border-top: 1px solid #E4E4E4;
}

.layout-top-nav .content-wrapper, .layout-top-nav .right-side, .layout-top-nav .main-footer {
    margin-left: 50px;
} 
.dropdown-list {
    font-size: 10px;
    height: inherit !important;
    width: inherit !important;
    line-height: inherit !important;
    border-left: none !important;
}
.slogo-word {
  margin:8px;
}
.slogo .menu-item {
    padding: 0;
    margin-left: 16px;
    border-left: 1px solid #ccc;
    padding-left: 8px;
}
li.slogo {
    margin-bottom: 18px;
    margin-top: 20px;
}
.sort-link-type,
.sort-link-type:focus,
.sort-link-type:active,
.sort-link-type:hover

{
  color:#9e9e9e;
}


.sort-link-type-creditors,
.sort-link-type-creditors:hover,
.sort-link-type-creditors:active,
.sort-link-type-creditors:focus {
     color: rgba(65, 65, 65, 0.9);
}

.slogo-word-login {
    font-size: 24px;
    font-weight: 600;
}
.logo-slogo-admin {
    font-size: 23px;
    border-left: 1px solid #ccc;
    margin-left: 5px;
    padding-left: 5px;
}
.login-page, .register-page {
  background: #f1f1f1;
}
.login-box-body, .register-box-body {
  background: #e8e8e8;
}
.icheckbox_square-blue, .iradio_square-blue {
  top: -1px;
}
.logout-modal {
  width: 100%;
  height: 100%;
  margin: 0;

}
.logout-modal .modal-content {
width: 100%;
  height: 100%;
  margin:0;
   background-color: rgba(241, 241, 241, 0.83) !important; 
}
.logou-modal-window {
  right:-17px;
}
.logou-modal-window {
      z-index: 999999;

}
.lockscreen-wrapper {
  padding-top: 10%;
  margin-top: 0;
}
.lockscreen-name {
 
      text-align: center;
    font-size: 16px;
}
.lockscreen-image {
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -25px;
    background: #e8e8e8;
    padding: 3px;
    z-index: 10;
}
.lockscreen-credentials {
    margin-left: 60px;
}
.lockscreen-credentials .btn {
  background: #f1f1f1;
}
.input-group-btn {
  background: #f1f1f1;
}
.small-box h3, .small-box p {
    color: rgba(65, 65, 65, 0.82);
}
.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 2px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -25px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}
.small-box .icon .fa {
   font-size: 65px;
}

.more-header {
    height: 20px;
    background: rgba(123, 123, 123, 0.14);
}
.more-header > .box-tools {
    position: absolute;
    top: -3px;
    left: 5px;
}
.more-header.with-border {
  border-bottom:none;
}

.more-collapsed .box-body .nav-stacked > li {
    border-bottom: 1px solid #DEDEDE;
    margin: 0;
}
.box-body:hover {
  color:#414141;
}
.more-collapsed:hover .box-body, .small-box .box-body {
  color:#414141;
}
.default-link, .default-link:hover {
  color:#414141;
}
.display-none {
  display: none !important;
}
/*************************************/
@media screen and (min-width:1200px) {
 
}

@media  screen and (max-width:1200px) {
 
}
@media  screen and (max-width:1100px) {
  #projnum, #projtype {
    width:100%;
  }
  .sp-row {

     margin-left: -15px;
      margin-right: -15px;
   width: inherit;
    float:none;

}
.proj-form-group {
    float: none; 
     width: 100%; 
}
.minus-m-width {
    width: 100% ;
}
}
@media  screen and (max-width:991px) {
.dropdown-menu {
      left: -188px;
      background-color: #e8e8e8;
      border:none;
}
.align-right {
      text-align: left;
    }
   
.display-none {
  display:block !important ;
}

.respons-visible {
  display:none;
}
.single-type {
  padding-bottom: 15px !important;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 14px;
}

}
@media  screen and (max-width:1100px) and (min-width:991px) {
    .m-type-group {
     float: none; 
     width: 100%; 
}
.fminus-m-width {
    width: 100% ;
}
}
@media screen and (max-width:768px) {
  .mask-wrapper .fileInputText {
    width: 55%;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #e8e8e8;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}
@media screen and (max-width:470px) {
  .m-type-group {
     float: none; 
     width: 100%; 
}
.minus-m-width {
    width: 100% ;
}
}

.box-title .fa {
  font-size: 12px !important;
}

.fa-circle-style, .fa-circle-style3, .fa-circle-style3 {
  margin-left: 0;
}

.fa-circle-style2 {
   color: green;
}

.fa-circle-style3 {
   color: orange;
}

#relative-link {
  display: none;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.icheck > label {
  padding-left: 20px !important;
}
.input-btn {
  background-color: #e2e2e2;
  width: 96%;
  margin-top: 10px;
  height: 37px;
  border-radius: 0px;
}
.input-btn:hover, .input-btn:focus, .input-btn:active  {
  border:none;
  background-color:#e7e7e7 !important;
}
.alertify-log-error {
  background-color: #df4e4e !important;
  border-radius: 0 !important;
  color:#f4f4f4 !important;
  text-shadow:none !important;
}
.alertify-log-success {
  background-color: #00a65a !important;
  border-radius: 0 !important;
  color:#f4f4f4 !important;
  text-shadow:none !important;
}
.btn-primary, .btn-danger, .btn-success {
  border-radius: 0 !important;
}
/*.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {

}*/
.btn-danger {
  background-color: #df4e4e;

}

.side-toggle-menu-item a, .side-toggle-menu-item a:hover, .side-toggle-menu-item a:active, .side-toggle-menu-item a:focus {
  color: #414141;
}

.slogo a, .slogo a:hover, .slogo a:active, .slogo a:focus {
  color: #fff;
}

.navbar-header {
  display: none;
}

@media screen and (max-width: 1100px) {
  .map {
      margin-top: 0px;
      margin-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  .map {
    margin-top: 405px !important;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1200px) {
  .mask-wrapper .fileInputText {
    width: initial;
    height: 35px;
    top: 0px;
    left: 0px;
    border: none;
    background: #f4f4f4;
    float: left;
}
}

@media screen and (max-width:550px) {
  .mask-wrapper .fileInputText {
    width: 55%;
    height: 35px;
    top: 0px;
    left: 0px;
    border: none;
    background: #f4f4f4;
    float: left;
}
}

.toggleScale, .toggleExecutors {
    position: relative;
    float: left;
    background-color: #e8e8e8;
    text-align: center;
    margin: 10px 20px 20px 0;
    padding: 5px 0 0 0;
    border-radius: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #414141;
    font-weight: 100;
}

a.diagrammZoomIn:hover, a.diagrammZoomOut:hover, a.toggleScale:hover {
    color: #fff;
    background-color: #e8e8e8;
}

.mask-wrapper .fileInputTextSubTask {
    width: initial;
    height: 35px;
    top: 0px;
    left: 0px;
    border: none;
    background: #f4f4f4;
    float: left;
}

@media screen and (max-width: 1200px) {
    .mask-wrapper .fileInputTextSubTask {
      width: 38%;
      height: 35px;
      top: 0px;
      left: 0px;
      border: none;
      background: #f4f4f4;
      float: left;
  }
}

.bg-grey a {
  color: #000 !important;
}