.df-calendar {
    h6{
        text-align: center;
    }
    .calendar-empty-day{
        width:30px;
        display: inline-block;
    }
    .calendar-day {
        border: 1px solid silver;
        width: 30px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        margin: 0;
    }
    .calendar-day.selected {
        background-color: blue;
        color: silver;
        border-color: blue;
    }
    .calendar-top{
        display: inline-block;
        width: 30px;
        box-sizing: border-box;
        color: black;
        text-align: center;
    }
    ul {
        list-style: none;
        margin: 0 18px 5px 18px;
        padding: 0;
    }
    select, input{
        margin: 0 5px;   
    }
    width:250px;
    border:1px solid blue;
    border-radius:5px;
    text-align: center;
}