<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Меню</li>
            <!-- Optionally, you can add icons to the links -->
            <li ng-class="{ active: isActive('users') }">
                <a href="/#/admin/users">
                    <i class="fa fa-users"></i>
                    <span>Управление пользователями</span>
                </a>
            </li>
            <!--<li ng-class="{ active: isActive('orgs') }">
                <a href="/#/admin/orgs">
                    <i class="fa fa-university"></i>
                    <span>Управление организациями</span>
                </a>
            </li>-->
            <li ng-class="{ active: isActive('roles') }">
                <a href="/#/admin/roles">
                    <i class="fa fa-street-view"></i>
                    <span>Управление ролями</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('mail-system') }">
                <a href="/#/admin/mail-system">
                    <i class="fa fa-exchange"></i>
                    <span>Настройки обмена</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });        
</script>