<div class="menu">
	<div class="icon-menu" ng-click="menuClick()" ng-mouseleave="menuLeave()">
		<ul class="menu">
			<li class="slogo">
				<span class="slogo-word">AMS</span><a href="#/"><span class="menu-item">Управление активами</span></a>
			</li>
			<!--<div class="menu-list">-->
				<li ng-class="{ 'menu-list active-item': isActive('users'), 'menu-list': !isActive('users') }">
					<i class="fa fa-users"></i><a href="/#/admin/users">
					<span class="menu-item">Пользователи</span></a>
				</li>
				<!--<li ng-class="{ 'menu-list active-item': isActive('orgs'), 'menu-list': !isActive('orgs') }">
					<i class="fa fa-university"></i><a href="/#/admin/orgs">
					<span class="menu-item">Организации</span></a>
				</li>-->
				<li ng-class="{ 'menu-list active-item': isActive('roles'), 'menu-list': !isActive('roles') }">
					<i class="fa fa-street-view"></i><a href="/#/admin/roles">
					<span class="menu-item">Роли</span></a>
				</li>
				<li ng-class="{ 'menu-list active-item': isActive('mail'), 'menu-list': !isActive('mail') }">
					<i class="fa fa-exchange"></i><a href="/#/admin/mail-system">
					<span class="menu-item">Настройки обмена</span></a>
				</li>
			<!--</div>-->
		</ul>
	</div>
</div>