<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Недвижемое имущество</h4>
    </div>
    <div class="modal-body">
        <form name="form" class="form-horizontal form-assets" role="form" novalidate ng-model-options="{ getterSetter: true }">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Название актива  <span class="required">*</span></label>
                    <input name="title" type="text" class="form-control form-assets" id="title" autocomplete="off" placeholder="Название актива" ng-model="asset.title" required >
                </div>
            </div>

           
            <div class="form-group">
                <label for="tangibleBalanceValue" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <label>Балансовая стоимость</label>
                    <input
                        name="tangibleBalanceValue"
                        type="text"
                        class="form-control form-assets"
                        id="tangibleBalanceValue"
                        autocomplete="off"
                        placeholder="Введите сумму без пробелов"
                        ng-model="asset.balanceValue"
                        ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/">
                </div>
                <div class="col-md-2">
                    <select
                        class="form-control currency-select"
                        placeholder="Валюта"
                        ng-model="asset.balanceValueCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="tangibleActualValue" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <label>Фактическая стоимость</label>
                    <input
                        type="text"
                        name="tangibleActualValue"
                        class="form-control form-assets"
                        id="tangibleActualValue"
                        placeholder="Введите сумму без пробелов"
                        ng-model="asset.actualValue"
                        ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/">
                </div>
                <div class="col-md-2">
                    <select
                        class="form-control currency-select"
                        placeholder="Валюта"
                        ng-model="asset.actualValueCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="address" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Адрес </label><!--<span class="required">*</span>-->
                    <input id="asset-address" name="address" type="text" class="form-control form-assets" id="adress" autocomplete="off" placeholder="Адрес"
                        ng-model="asset.address" ng-click="loadSuggestion()">
                </div>
            </div>
            <div class="form-group">
                <label for="creditor" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Кредитор</label>
                    <input type="text" class="form-control form-assets" id="creditor" autocomplete="off" placeholder="Кредитор" ng-model="asset.creditor">
                </div>
            </div>
             <div class="form-group">
                <label for="typeAsset" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Тип недвижимости</label>
                    <input  type="text" class="form-control form-assets" id="typeAsset" autocomplete="off" placeholder="Тип недвижимости" ng-model="asset.typeAsset">
                </div>
            </div>
             <div class="form-group">
                <label for="cadastral" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Кадастровый номер</label>
                    <input  type="text" class="form-control form-assets" id="cadastral" placeholder="Кадастровый номер" autocomplete="off" ng-model="asset.cadastral" >
                </div>
            </div>

            <div class="form-group">
                <label for="assetStatus" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label for="assetStatus">Статус <span class="required">*</span></label>
                    <select class="form-control form-assets" id="status" placeholder="Выберите статус"
                        ng-model="asset.status" ng-options="status.name for status in statuses track by status.id" required>
                    </select>
                </div>
            </div>        

            <div id="hidden_box" ng-show="showBlock" class="box-body">
                <div ng-include="documentsListTemplate.url" ng-init="asset.documents = asset.documents || []; documents = asset.documents"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="showBlock = !showBlock">Документы</button>
                <button type="button" class="btn btn-default" ng-click="save()">Сохранить</button>
                <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
            </div>

        </form>
    </div>
</div>
