<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Движимое имущество</h4>
    </div>
    <div class="modal-body">
        <form name="form" class="form-horizontal form-assets" role="form" novalidate ng-model-options="{ getterSetter: true }">
            <div class="form-group">
                <label for="tangibleTitle" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Название актива <span class="required">*</span></label>
                    <input name="tangibleTitle" type="text" class="form-control form-assets" id="tangibleTitle" autocomplete="off" placeholder="Название актива" ng-model="asset.title" required>                   
                </div>
            </div>

            <div class="form-group">
                <label for="tangibleBalanceValue" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <label>Балансовая стоимость</label>
                    <input
                        name="tangibleBalanceValue"
                        type="text"
                        class="form-control form-assets"
                        id="tangibleBalanceValue"
                        autocomplete="off"
                        placeholder="Введите сумму без пробелов"
                        ng-model="asset.balanceValue"
                        ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/">
                </div>
                <div class="col-md-2">
                    <select
                        class="form-control currency-select"
                        placeholder="Валюта"
                        ng-model="asset.balanceValueCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="tangibleActualValue" class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <label>Фактическая стоимость</label>
                    <input
                        type="text"
                        name="tangibleActualValue"
                        class="form-control form-assets"
                        id="tangibleActualValue"
                        placeholder="Введите сумму без пробелов"
                        ng-model="asset.actualValue"
                        ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/">
                </div>
                <div class="col-md-2">
                    <select
                        class="form-control currency-select"
                        placeholder="Валюта"
                        ng-model="asset.actualValueCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>

            </div>
            
            <div class="form-group">
                <label for="tangibleCreditor" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label>Кредитор</label>
                    <input  type="text" class="form-control" id="tangibleCreditor" autocomplete="off" placeholder="Кредитор" ng-model="asset.creditor">
                </div>
            </div>
            <div class="form-group">
                <label for="assetStatus" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label for="assetStatus">Статус <span class="required">*</span></label>
                    <select class="form-control" id="status" placeholder="Выберите статус"
                        ng-model="asset.status" ng-options="status.name for status in statuses track by status.id" required>
                    </select>
                </div>
            </div>           

            <div id="hidden_box" ng-show="showBlock" class="box-body">
                <div ng-include="documentsListTemplate.url" ng-init="asset.documents = asset.documents || []; documents = asset.documents"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="showBlock = !showBlock">Документы</button>
                <button type="button" class="btn btn-default" ng-click="save()">Сохранить</button>
                <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
            </div>

        </form>
    </div>
</div>
