<div class="col-md-12">
    <div class="box box-primary direct-chat direct-chat-primary comment-box">
        <div class="box-header with-border">
            <h3 class="box-title">Оставьте свой комментарий</h3>
        </div>
        <div class="box-body">
            <div class="direct-chat-messages">
                <div ng-class="{'direct-chat-msg': !comment.right, 'direct-chat-msg right': comment.right}" ng-repeat="comment in comments">
                    
                    <div style="display: table; width: 100%;">
                        <div style="display: table-cell; width: 90%;">
                            <div class="direct-chat-info clearfix">
                                <span ng-class="{'direct-chat-name pull-left': !comment.right, 'direct-chat-name pull-right': comment.right}">
                                    {{comment.owner.fullName}}
                                </span>
                                <span ng-class="{'direct-chat-timestamp pull-right': !comment.right, 'direct-chat-timestamp pull-left': comment.right}">
                                    <span title="{{toLocalDateString(comment.creationDate)}}">
                                        {{toLocalDateString(comment.creationDate)}}
                                    </span>
                                </span>
                            </div>
                            <img class="direct-chat-img" ng-src="{{getUserPhoto(comment.owner)}}">
                            <div
                                ng-style="{'background-color':( (comment.importance.id === 'veryImportant') ? ('red') : (((comment.importance.id === 'important')?('orange'):(''))) )}" 
                                class="direct-chat-text">
                            {{comment.text}}
                            </div>
                        </div>

                        <div style="display: table-cell; width: 10%;">
                            <button
                                ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                                class="btn btn-box-tool"
                                data-toggle="tooltip"
                                title="Удалить комментарий"
                                ng-click="deleteComment(objType, objID, comment)"
                                style="font-size: 1.25em; margin-top: 20px;">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="box-footer">
            <form>
                <div style="display: table; width: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; vertical-align: top; width: 80%;">
                            <input type="text" placeholder="Введите сообщение" class="form-control send-message-control" ng-model="commentText">
                        </div>

                        <div style="display: table-cell; vertical-align: top; width: 15%;">                         
                            <select
                                class="form-control"
                                style="height: 40px;"
                                ng-model="commentImportance"
                                ng-options="commentImportance.name for commentImportance in commentImportances track by commentImportance.id">
                                <option value="">...</option>
                            </select>
                        </div>

                        <div style="display: table-cell; vertical-align: top; width: 5%;">
                            <span class="input-group-btn">
                                <button
                                    type="button"
                                    class="btn btn-primary btn-flat send-message-btn"
                                    ng-click="addComment(objType, objID, commentText, commentImportance); commentText = ''; commentImportance = '';"
                                    ng-disabled="!commentText || (commentText && commentText.length == 0)">
                                    <i class="fa fa-send"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
