<div class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Карта кредитора {{creditor.name}}</h4>
    </div>
    <div class="modal-body">
        <form name="form" class="form-horizontal form-assets" role="form" ng-model-options="{ getterSetter: true }" novalidate>
            <!--<form class="form-horizontal" role="form" ng-submit="submit()" ng-model-options="{ getterSetter: true }"-->
            <div class="form-group form-assets">
                <label for="name" class="col-md-2 control-label"></label>
                <div class="col-md-8">
                    <label class="lab">Наименование <span class="required">*</span>
                    </label>
                    <input name="name" type="text" class="form-control placehModal " id="name" autocomplete="off"
                        placeholder="Введите наименование кредитора" ng-model="creditor.name" required>
                </div>
            </div>

            <div class="form-group form-assets">
                <label for="basic" class="col-md-2 control-label"></label>
                <div class="col-md-8">
                    <label class="lab">Основание</label>
                    <input name="basic" type="text" class="form-control placehModal" id="basic" autocomplete="off"
                        placeholder="Основание" ng-model="creditor.basic" >
                </div>
            </div>

            <div class="form-group  form-assets">
                <label for="sum" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <label class="lab">Общая сумма</label>
                    <input name="sum" type="text" class="form-control placehModal" id="sum" autocomplete="off" placeholder="Введите сумму без пробелов(руб.коп)"
                        ng-model="creditor.sum"  ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/">
                </div>
                <div class="col-md-2">
                    <select class="form-control currency-select" placeholder="Валюта"
                        ng-model="creditor.sumCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>
            </div>
            <div class="form-group  form-assets">
                <label for="debt" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <label class="lab">Основной долг</label>
                    <input name="debt" type="text" class="form-control placehModal" id="debt" autocomplete="off" placeholder="Введите сумму без пробелов(руб.коп)"
                         ng-model="creditor.debt" ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/" >
                </div>
                <div class="col-md-2">
                    <select class="form-control currency-select" placeholder="Валюта"
                        ng-model="creditor.debtCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>

            </div>
            <div class="form-group  form-assets">
                <label for="debtPercent" class="col-md-2 control-label"></label>
                <div class="col-md-8">
                    <label class="lab">% по долгу</label>
                    <input name="debtPercent" type="text" class="form-control placehModal" id="debtPercent" autocomplete="off" placeholder="Введите количество процентов"
                        ng-model="creditor.debtPercent" ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/" >
                </div>
            </div>
            <div class="form-group form-assets">
                <label for="fine" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <label class="lab">Штрафы</label>
                    <input name="fine" type="text" class="form-control placehModal" id="fine" autocomplete="off" placeholder="Введите сумму без пробелов(руб.коп)"
                        ng-model="creditor.fine" ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/" >
                </div>
                <div class="col-md-2">
                    <select class="form-control currency-select" placeholder="Валюта"
                        ng-model="creditor.fineCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>
            </div>
            <div class="form-group form-assets">
                <label for="courtCosts" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <label class="lab">Судебные расходы</label>
                    <input name="courtCosts" type="text" class="form-control placehModal" id="courtCosts" autocomplete="off" placeholder="Введите сумму без пробелов(руб.коп)"
                        ng-model="creditor.courtCosts" ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/" >
                </div>
                <div class="col-md-2">
                    <select class="form-control currency-select" placeholder="Валюта"
                        ng-model="creditor.courtCostsCurrency"
                        ng-options="curr.name for curr in currencies track by curr.code">
                    </select>
                </div>
            </div>


            <div class="form-group form-assets">
                <label for="voicePercent" class="col-md-2 control-label"></label>
                <div class="col-md-8">
                    <label class="lab">% голосов</label>
                    <input name="voicePercent" type="text" class="form-control placehModal" id="voicePercent" autocomplete="off" placeholder="Введите количество процентов"
                        ng-model="creditor.voicePercent"  ng-pattern="/^[^a-zA-Zа-яА-ЯёЁ]+$/" >
                </div>
            </div>

            <div class="form-group">
                <label for="creditorStatus" class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                    <label for="creditorStatus">Статус <span class="required">*</span></label>
                    <select class="form-control" id="status" placeholder="Выберите статус"
                        ng-model="creditor.status" ng-options="status.name for status in statuses track by status.id" required>
                    </select>
                </div>
            </div>

            <div id="hidden_box" ng-show="showBlock" class="box-body">
                <div ng-include="documentsListTemplate.url" ng-init="creditor.documents = creditor.documents || []; documents = creditor.documents"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="showBlock = !showBlock">Документы</button>
                <button type="button" class="btn btn-default" ng-click="save()">Сохранить</button>
                <button type="button" class="btn btn-default" style="margin-right:70px;" ng-click="close()">Закрыть</button>
            </div>
        </form>
    </div>
</div>