<div class="col-md-12">
    <h4>Список прикрепленных файлов</h4>
    <div class="col-md-12 table-wrap">
        <table class="table table-docs">
            <tr class="col-1">
                <td class="brown-text">
                    <a href="" ng-click="sortType = 'name'; sortReverse =!sortReverse" class="sort-link-type">
                      Название
                      <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="brown-text">
                    <a href="" ng-click="sortType = 'uploadDate'; sortReverse =!sortReverse" class="sort-link-type">
                      Дата 
                      <span ng-show="sortType == 'uploadDate' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'uploadDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="brown-text">
                    <a href="" ng-click="sortType = 'uploadUser.fullName'; sortReverse =!sortReverse" class="sort-link-type">
                      Добавил
                      <span ng-show="sortType == 'uploadUser.fullName' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'uploadUser.fullName' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="brown-text action-col">
                    <i class="font-up-main fa fa-cloud-download"></i>
                </td>
                <td class="brown-text action-col">
                    <i class="font-up-main fa fa-trash"></i>
                </td>
            </tr>
            <tr class="col-2" ng-repeat="doc in documents | orderBy:sortType:sortReverse | filter:searchData">
                <td>
                    <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)">
                        <i class="fa fa-flag" aria-hidden="true" ng-if="doc.isComplete"></i>
                        <i ng-class="fileIcon(doc.type)"></i> {{doc.name}}
                    </a>
                </td>
                <td>
                    {{toLocalDateString(doc.uploadDate)}}
                </td>
                <td>
                    {{doc.uploadUser.fullName}}
                </td>
                <td class="action-col">
                    <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
                        <i ng-class="getLinkFileIcon(doc.link)"></i>
                    </button>
                </td>
                <td class="action-col">
                    <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(documents, doc)" ng-if="editMode || newMode">
                        <i class="font-up fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="col-md-12">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
        aria-valuenow="{{uploadedPercents}}" aria-valuemin="0" aria-valuemax="100" style="height:25px; width: {{uploadedPercents}}%"
        ng-if="uploadedPercents && uploadedPercents != 0 && uploadedPercents != 100">
        <span style="margin-top: 5px;">{{uploadedPercents}}%</span>
    </div>
</div>

<div class="col-md-4">
    <div class="mask-wrapper mask-wrapper-index">
        <div class="mask">
            <button class="file-button" ng-click="uploadFile(documents, newDoc.name)">
                <span>Загрузить файл</span>
            </button>
            <!--<input class="fileInputText fileInputTextSubTask" type="text" ng-model="newDoc.name">-->
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="mask-wrapper mask-wrapper-index">
        <div class="mask">
            <button class="file-button add-file">
                <span>Загрузить URL</span>
            </button>
        </div>
    </div>
    <div class="hidden-block">
        <p class="close fa fa-close"></p>
        <form>
            <div class="form-group input-group">
                <label for="adress">Введите название файла</label>
                <input type="text" class="form-control" placeholder="Название ссылки" ng-model="newDoc.name">
            </div>
            <div class="form-group input-group">
                <label>Введите URL файла <span class="required">*</span></label>
                <input type="text" class="form-control" placeholder="http://" ng-model="newDoc.link">
            </div>
            <div class="form-group">
                <button class="file-button" ng-click="addLink(documents, newDoc)">
                    <span>Загрузить URL</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-file').click(function() {
            $('.hidden-block').fadeIn();
            $('.hidden-block').addClass('block');
        });

        $('.close').click(function() {
            $('.hidden-block').fadeOut();
        });
    });
</script>