<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{objectCaption}} {{objectName}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <textarea froala ng-model="doc.htmlContent"></textarea>
            </div>
            <!--<div froala-view="myHtml"></div>-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="">Название документа
                    <input type="text" class="form-control" ng-model="doc.name" required="true" size="120" />
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <form method="post" action="http://localhost:3000/utils/downloadPdf">
            <input type="hidden" name="docName" value={{doc.text}} />
            <input type="hidden" name="htmlContent" value={{doc.htmlContent}}" />
            <button type="submit" class="btn btn-default">Скачать</button>
        </form>
        <button type="button" class="btn btn-default" ng-click="save()">Сохранить</button>
        <button type="button" class="btn btn-default" ng-click="close()">Закрыть</button>
    </div>
</div>