<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar collapse-left">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Меню</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="#/projects/{{projectId}}/main">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                    <span>Проекты</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });        
</script>