<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar collapse-left">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Меню</li>
            <!-- Optionally, you can add icons to the links -->
            <li ng-class="{ active: isActive('main') || isActive('edit') }">
                <a href="#/projects/{{projectId}}/main">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                    <span>Общие </span>
                </a>
            </li>
            <li ng-class="{ active: isActive('tasks') }">
                <a href="#/projects/{{projectId}}/tasks">
                    <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>Задачи</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('docs') }">
                <a href="#/projects/{{projectId}}/docs">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span>Документы</span>
                </a>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-institution" aria-hidden="true"></i>
                    <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>
                    <span>Активы </span>
                </a>
                <ul class="treeview-menu">
                    <li ng-class="{ active: isActive('assets') }">
                        <a href="#/projects/{{projectId}}/assets-tangible">
                            <i class="fa fa-car" aria-hidden="true"></i>
                            <span>Движимое имущество</span>
                        </a>
                    </li>
                    <li ng-class="{ active: isActive('main') }">
                        <a href="#/projects/{{projectId}}/assets-intangible">
                            <i class="fa fa-tree" aria-hidden="true"></i>
                            <span>Недвижимое имущество</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-class="{ active: isActive('creditors') }">
                <a href="#/projects/{{projectId}}/creditors">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <span>Регистр кредиторов</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('comments') }">
                <a href="#/projects/{{projectId}}/comments">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <span>Комментарии</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('group') }">
                <a href="#/projects/{{projectId}}/group">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Проектная группа</span>
                </a>
            </li>
            <!--<li ng-class="{ active: isActive('gantt') }">
                <a href="#/projects/{{projectId}}/gantt">
                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                    <span>Диаграмма Ганта</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('mail') }">
                <a href="#/projects/{{projectId}}/mail">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span>Корреспонденция</span>
                </a>
            </li>-->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });        
</script>