<div class="menu">
	<div class="icon-menu" ng-click="menuClick()" ng-mouseleave="menuLeave()" ng-if="!(newMode && ( newMode === true ))">
		<ul class="menu">
			<li class="slogo">
				<span class="slogo-word">AMS</span><a href="#/"><span class="menu-item">Управление активами</span></a>
			</li>

			<li			
				ng-class="{ 'menu-list active-item': isActive('main'), 'menu-list': !isActive('main') }">
				<i class="fa fa-suitcase" aria-hidden="true"></i>
				<a href="#/projects/{{projectId}}/main">
					<span class="menu-item">Общее</span>
				</a>
			</li>

			<li				
				ng-class="{ 'menu-list active-item': isActive('tasks'), 'menu-list': !isActive('tasks') }">
				<i class="fa fa-file-text" aria-hidden="true"></i>
				<a href="#/projects/{{projectId}}/tasks">
					<span class="menu-item">Задачи</span>
				</a>
			</li>

			<li				
				ng-class="{ 'menu-list active-item': isActive('docs'), 'menu-list': !isActive('docs') }">
				<i class="fa fa-star" aria-hidden="true"></i><a href="#/projects/{{projectId}}/docs">
				<span class="menu-item">Документы</span></a>
			</li>

			<li>
				<i class="fa fa-institution" aria-hidden="true"></i>
				<span class="menu-item" ng-click="dropdownClick()">Активы <i class="dropdown-list fa fa-chevron-down"></i></span>
				<ul class="sub-menu" ng-mouseleave="dropdownLeave()">
					<li ng-class="{ 'sub-menu-list active-item': isActive('tangible'), 'sub-menu-list': !isActive('tangible') }">
						<a href="#/projects/{{projectId}}/assets-tangible">Движимое имущество</a>
					</li>
					<li ng-class="{ 'sub-menu-list active-item': isActive('intangible'), 'sub-menu-list': !isActive('intangible') }">
						<a href="#/projects/{{projectId}}/assets-intangible">Недвижимое имущество</a>
					</li>
				</ul>
			</li>

			<li			
				ng-class="{ 'menu-list active-item': isActive('cred'), 'menu-list': !isActive('cred') }">
				<i class="fa fa-key" aria-hidden="true"></i>
				<a href="#/projects/{{projectId}}/creditors">
					<span class="menu-item">Реестр кредиторов</span>
				</a>
			</li>

			<li				
				ng-class="{ 'menu-list active-item': isActive('debt'), 'menu-list': !isActive('debt') }">
				<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
				<a href="#/projects/{{projectId}}/debtors">
					<span class="menu-item">Реестр дебиторов</span>
				</a>
			</li>

			<li			
				ng-class="{ 'menu-list active-item': isActive('comments'), 'menu-list': !isActive('comments') }">
				<i class="fa fa-comments" aria-hidden="true"></i>
				<a href="#/projects/{{projectId}}/comments">
					<span class="menu-item">Комментарии</span>
				</a>
			</li>

			<li			
				ng-class="{ 'menu-list active-item': isActive('group'), 'menu-list': !isActive('group') }">
				<i class="fa fa-users" aria-hidden="true"></i>
				<a href="#/projects/{{projectId}}/group">
					<span class="menu-item">Проектная группа</span>
				</a>
			</li>

			<!--<li ng-class="{ 'menu-list active-item': isActive('gantt'), 'menu-list': !isActive('gantt') }">
				<i class="fa fa-area-chart" aria-hidden="true"></i><a href="#/projects/{{projectId}}/gantt"><span class="menu-item">Диаграмма Ганта</span></a>
			</li>
			
			<li ng-class="{ 'menu-list active-item': isActive('mail'), 'menu-list': !isActive('mail') }">
				<i class="fa fa-pencil" aria-hidden="true"></i><a href="#/projects/{{projectId}}/mail"><span class="menu-item">Корреспонденция</span></a>
			</li>-->
		
		</ul>
	</div>
</div>