<div class="input-group input-group-sm date" style="width:150px;">
	<div class="input-group date">
			<input type="text" class="form-control" ng-model="selected.endDate">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i>
			</span>
	</div>
</div>