<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Меню</li>
            <!-- Optionally, you can add icons to the links -->
            <li ng-class="{ active: isActive('gantt') }">
                <a href="#/reports/gantt">
                    <i class="fa fa-suitcase"></i>
                    <span>Диаграмма Ганта</span>
                </a>
            </li>
            <li ng-class="{ active: isActive('users') }">
                <a href="#/reports/users">
                    <i class="fa fa-users"></i>
                    <span>Отчет по пользователям</span>
                </a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });        
</script>