<div class="container">
<h3>Отчёт по выполненным заявкам</h3>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-form navbar-left">
				<div class="form-group">
					<label>Начало периода:</label>
					<div class="input-group input-group-sm date" style="width:150px;">
						<input type="date" type="text" class="form-control" ng-model="startDate">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>
				<div class="form-group margin-left">
					<label>Конец периода:</label>
					<div class="input-group input-group-sm date" style="width:150px;">						
						<input type="text" type="text" class="form-control" ng-model="endDate">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div>
					<button class="btn navbar-btn btn-info margin-left" ng-click="getReport()" title="Получить отчёт">
						<i class="fa fa-table margin-right"></i>Получить отчёт
					</button>
			</div>
		</div>
	</nav>
</div>