<div class="menu">
	<div class="icon-menu" ng-click="menuClick()" ng-mouseleave="menuLeave()">
		<ul class="menu">
			<li class="slogo">
				<span class="slogo-word">AMS</span><a href="#/"><span class="menu-item">Управление активами</span></a>
			</li>
			<!--<div class="menu-list">-->
				<li ng-class="{ 'menu-list active-item': isActive('gantt'), 'menu-list': !isActive('gantt') }"">
					<i class="fa fa-suitcase"></i><a href="#/reports/gantt">
					<span class="menu-item">Диаграмма Ганта</span></a>
				</li>
				<li ng-class="{ 'menu-list active-item': isActive('users'), 'menu-list': !isActive('users') }">
					<i class="fa fa-users"></i><a href="#/reports/users">
					<span class="menu-item">Пользователи</span></a>
				</li>
			<!--</div>-->
		</ul>
	</div>
</div>