<style>
.fc-datetime-widget {
    display: table;
    width: 100%;
    border: 1px solid #d2cccc;
}

.fc-datetime-widget-row {
    display: table-row;
}

.fc-datetime-widget-row-cell {
    display: table-cell;
    vertical-align: middle;
}

.fc-datetime-widget-clear-button {
    display: none;
}

.fc-datetime-widget-clear-button i {
    margin: 0px 5px;
}

.fc-datetime-widget-icon {       
}         

.fc-datetime-widget-icon i {
    margin: 0px 5px;
}

.fc-datetime-widget-clear-button:hover i {
    font-weight: bold;
}

table thead th {
    vertical-align: top !important;
    background-color: #e8e8e8 !important;
}

table tbody tr td {
    vertical-align: top !important;
}
</style>

<div class="modal-content" id="task-editor">
    <div class="modal-header">
        <h4 style="margin-left: 0px;" class="modal-title">{{task.title}}</h4>
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Название</label>
                    <input ng-model="task.title" type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-lg-12">
                <label for="">Описание</label>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <textarea ng-model="task.description" class="form-control" style="width: 100%; height: 100px;"></textarea>
                </div>
            </div>

            <div class="col-lg-12">
                <label>Дата старта</label>
                <div class="fc-datetime-widget">
                    <div class="fc-datetime-widget-row">
                        <div class="fc-datetime-widget-row-cell" align="center" style="background-color: white;">
                            <div class="fc-datetime-widget-icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                        <div class="fc-datetime-widget-row-cell">
                            <input type="text" class="form-control pull-right" ng-model="task.startingDate" id="startingDate">
                        </div>

                        <div class="fc-datetime-widget-row-cell" align="center" style="background-color: #e8e8e8;">
                            <div class="fc-datetime-widget-clear-button">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <label>Планируемая дата завершения</label>
                <div class="fc-datetime-widget">
                    <div class="fc-datetime-widget-row">
                        <div class="fc-datetime-widget-row-cell" align="center" style="background-color: white;">
                            <div class="fc-datetime-widget-icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>

                        <div class="fc-datetime-widget-row-cell">
                            <input type="text" class="form-control pull-right" ng-model="task.dueDate" id="dueDate">
                        </div>

                        <div class="fc-datetime-widget-row-cell" align="center" style="background-color: #e8e8e8;">
                            <div class="fc-datetime-widget-clear-button">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <label>Необходимость закрывающих документов</label>
                <input type="checkbox" checked="false" ng-model="task.needsDocumentsOnFinish">
            </div>  
          
            <div class="col-lg-12">
                <label>Ответственный исполнитель</label>
                <select id="proposal-manager" class="form-control"
                    ng-model="task.executor" ng-init="task.filteredUsers = users" 
                    ng-options="user as user.fullName for user in users track by user._id" ng-disabled="task.finished">
                    <option value="">Выберите исполнителя...</option>
                </select>
            </div>
                    
        </div>
    </div>

    <div id="hidden_box" ng-show="showBlock" class="box-body">
        <div ng-include="documentsListTemplate.url" ng-init="task.documents = task.documents || []; documents = task.documents"></div>      
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showBlock = ! showBlock">Документы</button>
        <button type="button" class="btn btn-default" ng-click="save()">Сохранить</button>
        <button type="button" class="btn btn-default" style="margin-right:70px;" ng-click="close()">Закрыть</button>
    </div>   
</div>

<script>
function UTCToLocalTime( utc ) {
    var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
    return new Date( utc - timezoneOffset );
}

function resetDateTimeWidgets() {    
    [].slice.call( document.querySelectorAll( ".fc-datetime-widget" ) ).forEach( ( el ) => {       
        $( el.querySelector( "input" ) ).datepicker({           
            format: {                
                toDisplay: function( date, format, language ) {
                    var d = new Date( date );

                    var timestampString = d.toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );
                    timestampString = timestampString.replace( /(\d+)-(\d+)-(\d+)/, "$3.$2.$1" );

                    if ( /\d{2}:\d{2}:\d{2}/.test( timestampString ) ) {
                        var re = /\s/;
                        var tokens = timestampString.split( re );
                        timestampString = tokens[0];                      
                    }                

                    return timestampString;
                },
                toValue: function( date, format, language ) {
                    var timestampString = date;
                    if ( /\d+\.\d+\.\d+/.test( timestampString ) ) { // ru-RU
                        timestampString = timestampString.replace( /(\d+)\.(\d+)\.(\d+)/, "$3-$2-$1" );
                    }                 
                   
                    var result = new Date( timestampString );
                    return result;
                }
            },         
            language: "ru-RU",
            autoclose: true
        })
        .on( "changeDate", ( e ) => {
            el.querySelector( ".fc-datetime-widget-clear-button" ).style.display = "block";

            var inputEl = el.querySelector("input");
            if ( inputEl.getAttribute("id") === "startingDate" ) {                
                angular.element( document.querySelector( "#task-editor" ) ).scope().task.startingDate = ( ( e.date ) ? ( e.date.toISOString() ) : ( "" ) );
            }
            else if ( inputEl.getAttribute("id") === "dueDate" ) {            
                angular.element( document.querySelector( "#task-editor" ) ).scope().task.dueDate = ( ( e.date ) ? ( e.date.toISOString() ) : ( "" ) );
            }
            angular.element( document.querySelector( "#task-editor" ) ).scope().$apply();
        });

        el.querySelector( ".fc-datetime-widget-clear-button" ).style.display = "block";           

        el.querySelector( ".fc-datetime-widget-clear-button" ).addEventListener( "click", () => {
            $( el.querySelector( "input" ) ).datepicker( "clearDates" );
            el.querySelector( ".fc-datetime-widget-clear-button" ).style.display = "none";
        });
        
        var date = el.querySelector( "input" ).value;    
       
        if ( date.length === 0 ) {
            return;
        }            

        var timestampString = date;        
        if ( /\d+-\d+-\d+/.test( timestampString ) ) { // ISO8601
            timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );
            timestampString = timestampString.replace( /(\d+)-(\d+)-(\d+)/, "$3.$2.$1" );

            var re = /\s/;
            var tokens = timestampString.split( re );

            timestampString = tokens[0];
        }
        else if ( /\d+\.\d+\.\d+/.test( timestampString ) ) { // ru-RU
            // timestampString = timestampString.replace( /(\d+)\.(\d+)\.(\d+)/, "$3-$2-$1" );
        }
        else {
            console.error( "Недопустимый формат даты " + timestampString );
            return;
        }
        
        el.querySelector( "input" ).value = timestampString;          
    });   
}

setTimeout( function() {
    resetDateTimeWidgets();    
}, 100);

</script>