<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{task.title}}</h4>

    </div>
    <div class="modal-body">
        <div class="row" ng-if="task.description" ng-cloak>
            <div class="col-lg-12">
                <b>Условие завершения:</b> {{task.description}}
            </div>
        </div>
        <div class="row">
            <div class="box-body">
                <div ng-include="documentsListTemplate.url" ng-init="task.documents = task.documents || []; documents = task.documents"></div>
            </div>
            <div class="col-lg-12">
                <label for="">Комментарий завершения</label>
            </div>
            <div class="col-lg-12">
                <textarea ng-model="task.commentComplete" style="width: 100%; height: 200px;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            ng-click="finish()">         
            Завершить
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
    </div>
</div>