<div class="modal-header">
    <h3 class="modal-title" ng-cloak>{{task.title}}</h3>
</div>
<div class="modal-body">
    <div class="row">
    	<div class="col-md-5">
    		<b>Заявка</b>
    	</div>
		<div class="col-md-7">
			{{propName}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<b>Создал задачу</b>
		</div>
		<div class="col-md-7">
			{{task.owner.fullName}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<b>Исполнитель</b>
		</div>
		<div class="col-md-7">
			<span ng-if="task.executor">{{task.executor.fullName}}</span>
			<span ng-if="!task.executor">{{task.executor.fullName}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<b>Дата создания</b>
		</div>
		<div class="col-md-7">
			{{formatTime(task.creationDate)}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<b>Планируемая дата завершения</b>
		</div>
		<div class="col-md-7">
			<span ng-if="task.dueDate">{{formatTime(task.dueDate)}}</span>
			<span ng-if="!task.dueDate">-</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<b>Выполнена</b>
		</div>
		<div class="col-md-7">
			<span ng-if="task.finished">Да</span>
			<span ng-if="!task.finished">Нет</span>
		</div>
	</div>
	<div class="row" ng-if="task.finishingDate">
		<div class="col-md-5">
			<b>Дата завершения</b>
		</div>
		<div class="col-md-7">
			<span>{{formatTime(task.finishingDate)}}</span>
		</div>
	</div>
	<div class="row" ng-if="false">
		<div class="col-md-5">
			<b>Просрочена на</b>
		</div>
		<div class="col-md-7">
			<span>{{formatTime(task.finishingDate)}}</span>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK</button>
</div>