<div id="new-user-form"></div>
<div class="cloudConfig col-md-8">
    <div class="cloudConfigHeading">
        Настройка Fincase Cloud
    </div>
    <div ng-if="!cloudTokenExists" class="cloudConfigBody">
        <div class="row">
            <div class="col-md-2">
                <label>Логин</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="cloudLogin" ng-model="cloud.login" placeholder="Введите логин Fincase Cloud" />
            </div>
        </div>
        <div class="row spec">
            <div class="col-md-2">
                <label>Пароль</label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" name="cloudPassword" ng-model="cloud.password" placeholder="Введите пароль Fincase Cloud"/>
            </div>
        </div>
        <div class="row spec">
            <div class="col-md-12 text-right">
                <input type="button" class="btn btn-primary" value="Войти в Cloud" ng-click="connectToCloud()"/>
            </div>
        </div>
    </div>
    <div ng-if="cloudTokenExists" class="cloudConfigBody">
        <div class="row spec">
            <div class="col-md-12 text-right">
                <input type="button" class="btn btn-primary" value="Выйти" ng-click="disconnectFromCloud()"/>
            </div>
        </div>
    </div>
</div>