.btn {
    margin-left: 5px;
}
.new-project-form-container{
    display: table;
}
.new-project-form-content{
    vertical-align: middle;
    display: table-cell;
}
.statuses-list{
    .label{
        font-size: 12pt;
    }
    .glyphicon-remove:hover{
        color: #f0f0f0;
    }
    ul{
        margin: 5px 0;
        padding: 0;
        li{
            display: inline-block;
            margin: 3px;
        }
    }
}
