@font-face {
    font-family: HL;
    src: url(../fonts/helveticaneuecyr-light.otf);
}
@font-face {
    font-family: HUL;
    src: url(../fonts/helveticaneuecyr-ultralight.otf);
}
body {
	font-family: 'HL';
	
}
.container {
    background: transparent !important;
    min-height:initial !important;
}
#header {
   height:865px;
}
.main-screen-wrap {
 	height: 865px;
    width: 100%;
    min-width:380px;
    background: url(../img/bg-img.jpg);
    background-size: cover;
    position: absolute;
}
.header-wrap {
	padding-top: 20px;
	padding-bottom: 10px;
	background: rgba(48, 55, 68, 0.5);
	
}
.logo-wrap {
	width: 340px;
	float:left;

}
.button-wrap {

	float:right;

}
.logo span {
    background: #303744;
    padding: 8px;
    width: 65px;
    float: left;
    text-align: center;
    color: #f4f4f4;
    font-weight: 100;
    font-family: 'HL';
    color:#d6d6d6;
    font-size: 18px;
}
.logo p {
	 padding: 10px;
	 margin-left: 65px;
	 font-family: 'HL';
	 color:#d6d6d6;
	 font-size: 18px;
}
.button-wrap {
    float: right;
    
}
.button-header {
    padding: 10px 15px 10px 15px;
    background: #303744;
    color: #f4f4f4;
    font-weight: 100;
    border: none;
    font-family: 'HL';
    letter-spacing: 1px;
    font-size: 13px;
}
.danger {
	background: #ff6858;
}
.slogo-text {
	margin-top: 30px;
	font-family: 'HL';

}
.slogo-text h2 {
	margin-top: 30px;
	font-family: 'HL';

}
.slogo-text p {
	font-size: 17px;
	font-family: 'HL';

}
.proj-screen {
	width: initial;
	text-align: center;
	margin-top:60px;
}
.for-logos {
	width:100%;
	height: 200px;
	background: rgba(48, 55, 68, 0.9);
	bottom: 0;
	position: absolute;
	padding-top: 25px;
}
.intro-wrap {
	width: 100%;
}
.img-responsive {
	width:80%;
}
.heading {
	font-family: 'HUL';
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 60px;
}

#choose-us h3 {
	font-family: 
}
.full-width {
	width:100%;
}
.check-img {
    float: left;
    margin-bottom: 80px;
}
.what-is-text {
	padding-left: 70px;
}
.what-is-text h2 {
	margin-top:0px;
	font-family: 'HUL';\

}
#what-is {
	background: url(../img/mask.png);
	background-size: cover;
	position: relative;
	padding-bottom: 30px
}
.proection-img {
	position: absolute;
	z-index:-1;
	right:0;
	top:220px;
}
.video {
    background: url(../img/video-bg3.png);
    background-size: cover;
    color: #d6d6d6;
    padding: 80px 0px 100px 0px;
}
#video {
	font-family: 'HUL';
}
#video p {
	font-family: 'HL';
	letter-spacing: 1px;
}
.padding-add {
	padding:140px 0px 140px 0px ;
}
#footer {
    background: #282e38;
    padding: 70px;
}
.end-button {
    border: none;
    padding: 10px;
    color: #f4f4f4;
    margin-top: -20px;
}
.ending-head {
	padding:100px 0px 100px 0px ;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
.some-heading {
	color:rgba(65, 65, 65, 0.74);
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #414141;
    font-family: 'HL';
}
.ellipse {
    position: absolute;
    top: -40px;
    left: -45px;
    width: 390px;
}
.md-overlay {
    background: rgba(48, 55, 68, 0.4) !important;
}
.md-content {
    background: #282e38 !important;
    height: 425px;
}
.md-close {

}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #303540;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    border:none !important;
    border-radius:0px !important;
    height:45px;
     background-color: #303540 !important;
     color:#dadada !important;
}
.form-group label {
    font-family: "HUL";
    font-weight: 100;
    letter-spacing: 2px;
}
.callback {
    display: none;

    position: absolute;
    top:83px;
}
.mask-block {
    background:#282e38 !important;
    transition:all 0.5s ease-in-out;
}
.close-btn {
    float: right;
    /* padding: 10px; */
    cursor: pointer;
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 500;
}
.fancybox-skin {
    background: #282e38 !important;
}

/********custom********/
.margin-top-small {
	margin-top:20px;
}
.margin-bottom-small {
	margin-bottom:20px;
}
.margin-top-medium {
	margin-top:50px;
}
.margin-bottom-medium {
	margin-bottom:50px;
}
.center-align {
	text-align: center;
}
.shadow-box {
	    box-shadow: #B3B3B3 0px 0px 12px;
}
.vertical-centered-1  {
    margin-top:40px;
}
.vertical-centered-2 {
    margin-top: 100px;
}
.vertical-centered-3 {
    margin-top: 100px;
}


/*********************/

@media screen and (max-width:1200px) {

	.proj-screen {
    width: initial;
    text-align: center;
    margin-top: 35px;
}

}


@media screen and (max-width:991px) {
.ellipse {
    position: absolute;
    top: 0px;
    left: -45px;
    width: 69%;
}
.block-1 {
	display:table-footer-group;
}
.block-2 {
	display:table-header-group;
}
.proection-img {
    position: absolute;
    z-index: -1;
    right: -120px;
    top: 328px;
}
	.proj-screen {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

.for-logos {
    width: 100%;
    height: 145px;
    background: rgba(48, 55, 68, 0.9);
    bottom: 0;
    position: absolute;
    padding-top: 25px;
}
}

@media screen and (max-width:768px) {
	.proection-img {
    display:none;
}
.check-img {
    float: left;
    margin-bottom: 90px;
}
}
@media screen and (max-width:650px) {


.img-responsive {
    width: 50px !important;
    max-width: initial !important;
    height: initial !important;
}
.for-logos {
    width: 100%;
    height: 145px;
    background: rgba(48, 55, 68, 0.9);
    bottom: 0;
    position: absolute;
    padding-top: 46px;
}
}
@media screen and (max-width:510px) {
    .none-height {
        height:initial;
    }
}

@media screen and (max-width:700px) {

.logo-wrap {
	float: none;
}
	
	.button-wrap {
    float: left;
}

}