.proposal-snippet-container {
    display: table;
}
.proposal-snippet-content {
    display: table-cell;
    text-align: justify;
    vertical-align: middle;
}
.proposal-snippet-brief-info {
    .glyphicon {
        margin-right: 10px;
    }
    a {}
}
.proposal-snippet-urgent{
    background-color: #ffffdb;
}
.proposal-snippet-hold{
    background-color: #e7e7e7;
}
.proposal-snippet-canceled{
    background-color: #f8e8df;
}
.proposal-snippet-sale {
    background-color: rgba(30, 144, 255, 0.6); //#1e90ff;
    color: #fff;
}
.proposal-snippet-lawCourt {
  background-color: rgba(138, 43, 226, 0.6); //#8a2be2;
  color: #fff;
}
.proposal-snippet-sale a, .proposal-snippet-lawCourt a {
    color: #fff;
}
.proposal-snippet-complete{
    background-color: #e8ffd7;
}
.proposal-snippet-special-mark{
    font-size: 20px;
    color: #428BCA;
}