.project-detail {
    margin: 0 auto;
    .add-proposal, .resfresh-project {
        margin: 0 5px;
    }
    .select {
        border-radius: 0 5px 5px 0;
    }
    .project-detail-filter-controls {
        padding-top: 5px;
    }
    .proposals-list-pagination{
        text-align: center;
    }
    .status-select {
        option.success {
            font-weight: 900;
            color: green;
        }
        option.warning {
            font-weight: 900;
            color: orange;
        }
        option.danger {
            font-weight: 900;
            color: red;
        }
        option.info {
            font-weight: 900;
            color: blue;
        }
    }
}
.load-indicator{
    text-align: center;
    font-size: 26pt;
    color: silver;
}
.load-indicator:after{
    content: "";
    display: block;
    margin: 0 auto;
    width:128px;
    height: 128px;
    /* background-image: url("/images/preloader.gif");*/
    /* Почему-то эта гифка не загружется и на вкладке крутится такой-же значек,
       создается ощущение что страница не прогрузилась.
    */
}
