<!doctype html>
<html class="no-js" ng-app="crmApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">AMS Управление активами</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/gantt/codebase/dhtmlxgantt.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_editor.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_editor.pkgd.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_style.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/char_counter.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/code_view.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/colors.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/draggable.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/emoticons.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/file.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/fullscreen.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/image_manager.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/image.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/line_breaker.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/quick_insert.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/table.min.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/video.min.css" />
    <link rel="stylesheet" href="bower_components/suggestions-16.2/index.css" />
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/AdminLTE.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/admin-lte-over.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="styles/skins/skin-blue.min.css">
    <link rel="stylesheet" href="scripts/common/ui-components/dist/ui-components.css"/>
    <link rel="stylesheet" href="bower_components/alertify.js/themes/alertify.core.css"/>
    <link rel="stylesheet" href="bower_components/alertify.js/themes/alertify.default.css"/>
    <link rel="stylesheet" href="scripts/common/libs/select2/css/select2.min.css"/>
    <link rel="stylesheet" href="bower_components/iCheck/skins/square/blue.css" />
    <!-- endbuild -->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/iCheck/icheck.min.js"></script>
    <script src="bower_components/material-avatar/material-avatar.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1.20/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script>
        var AdminLTEOptions = {
            //Enable sidebar expand on hover effect for sidebar mini
            //This option is forced to true if both the fixed layout and sidebar mini
            //are used together
            sidebarExpandOnHover: true,
            //BoxRefresh Plugin
            enableBoxRefresh: true,
            //Bootstrap.js tooltip
            enableBSToppltip: true
        };
    </script>
</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <!--<navbar></navbar>-->

        <!-- Main Header -->
        <header class="main-header" ng-if="!loginPage">
            <div class="navbar-header">
                <a href="#/" class="navbar-brand logo"><b>AMS</b>Управление активами</a>
            </div>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="" id="relative-link" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a href="" id="fixed-link" class="sidebar-toggle sidebar-toogle-fixed" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="ng-cloak">
                            <a href="" class="side-main-name" data-toggle="control-sidebar" style="height: 59px;">
                                <!--<i class=" fa-style fa fa-gears"></i>-->
                                <!--<div ng-if="currentUser.isRoot" ng-class="{'main-avatar': true}" ng-style="getUserPhotoStyle()">
                                    {{getUserPhotoStyle()}}
                                </div>-->
                                <div ng-if="!isRoot" class="profile-photo" style="position: relative; float: left;margin: -8px 10px 0 0; height:40px; width:40px;">
                                    {{currentUser.fullName}}
                                </div>
                                <div class="main-name" style="position: relative; float: left;">
                                    {{currentUser.fullName}}
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-left sub-title" ng-if="projectId" class="ng-cloak">
                    <a ng-href="/#/projects/{{projectId}}/main" ng-bind="subTitle"></a>
                </div>
                <div class="pull-left sub-title" ng-if="!projectId && subTitle" class="ng-cloak">
                    <span ng-bind="subTitle"></span>
                </div>
                <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-if="currentRole.seeReports">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bar-chart display-none"></i>
                                <span class="respons-visible">Отчеты</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-next" role="menu">
                                <li>
                                    <a href="#/reports/gantt">Диаграмма Ганта</a>
                                </li>
                                <li>
                                    <a href="#/reports/users">Отчеты по пользователям </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-if="currentUser.isRoot">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-sliders display-none"></i>
                                <span class="respons-visible">Административная панель</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#/admin/users">
                                        <!--<i class="fa fa-users"></i>-->
                                        Управление пользователями
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="#/admin/orgs">
                                        <i class="fa fa-university"></i>
                                        Управление организациями
                                    </a>
                                </li>-->
                                <li>
                                    <a href="#/admin/roles">
                                        <!--<i class="fa fa-street-view"></i>-->
                                        Управления ролями
                                    </a>
                                </li>
                                <li>
                                    <a href="#/admin/mail-system">
                                        <!--<i class="fa fa-exchange"></i>-->
                                        Настройки обмена
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container">
                <div ng-view=""></div>
            </div>
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer" ng-if="!loginPage">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <a href="#"> FinCase </a>
                <span> Все права защищены.</span>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016</strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Tab panes -->
            <div class="tab-content">
                <ul class="side-toggle-menu-item">
                    <li>
                        <a href="#/logout" title="Выход" class="nav-tooltip" data-toggle="tooltip" data-placement="bottom">
                            Выход <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/profile" title="Редактирование информации о себе и смена пароля" class="nav-tooltip" data-toggle="tooltip" data-placement="bottom">
                            Управление профилем <i class="fa fa-user"></i>
                        </a>

                    </li>
                    <li>
                        <a href="#/feedback" title="Обратная связь для вопросов и предложений" class="nav-tooltip" data-toggle="tooltip" data-placement="bottom">
                            Поддержка <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/about" title="О системе" class="nav-tooltip" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-question-circle fa-lg" style="color: #777"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
        <div class="control-sidebar-bg" ng-if="!loginPage"></div>
    </div>
    <!-- ./wrapper -->
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-tabs/src/ui-router-tabs.js"></script>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/alertify.js/lib/alertify.js"></script>
    <script src="bower_components/node-uuid/uuid.js"></script>
    <script src="bower_components/validator-js/validator.js"></script>
    <script src="bower_components/validator/validator.js"></script>
    <script src="bower_components/chartjs/Chart.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/sugar/release/sugar.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/multi-timeline/dist/multi-timeline.min.js"></script>
    <script src="bower_components/promise-polyfill/Promise.js"></script>
    <script src="bower_components/gantt/codebase/dhtmlxgantt.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/froala_editor.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/draggable.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/file.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/image.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/quick_insert.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/url.min.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/plugins/video.min.js"></script>
    <script src="bower_components/angular-froala/src/angular-froala.js"></script>
    <script src="bower_components/jQuery-ajaxTransport-XDomainRequest/jquery.xdomainrequest.min.js"></script>
    <script src="bower_components/jquery.suggestions-16.2.min/index.js"></script>
    <script src="bower_components/AdminLTE/dist/js/app.js"></script>
    <script src="bower_components/angular-uuid2/dist/angular-uuid2.js"></script>
    <script src="bower_components/iCheck/icheck.min.js"></script>
    <script src="bower_components/material-avatar/material-avatar.js"></script>
    <script src="bower_components/material-avatar/material-avatar.min.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-i18n/angular-locale_ru-ru.js"></script>
    <script src="bower_components/moment/locale/ru.js"></script>
    <script src="bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/common/ui-components/dist/ui-components.js"></script>
    <script src="scripts/common/libs/map-manager.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/directives/mainbar.js"></script>
    <script src="scripts/directives/navbar.js"></script>
    <script src="scripts/directives/adminbar.js"></script>
    <script src="scripts/directives/reportbar.js"></script>
    <script src="scripts/common/libs/entity_factory/entity_factory.js"></script>
    <script src="scripts/common/libs/select2/js/select2.full.min.js"></script>
    <script src="scripts/common/libs/rest-api/auth-interceptor.js"></script>
    <script src="scripts/common/libs/rest-api/rest-api.js"></script>
    <script src="scripts/common/libs/get-project.js"></script>
    <script src="scripts/common/libs/report-helper.js"></script>
    <script src="scripts/common/libs/roles-helper.js"></script>
    <script src="scripts/common/libs/csv-exporter.js"></script>
    <script src="scripts/common/libs/utils.js"></script>
    <script src="scripts/common/libs/modals.js"></script>
    <script src="scripts/common/libs/menu.js"></script>
    <script src="scripts/common/libs/jquery.fullPage.min.js"></script>
    <script src="scripts/controllers/dest/main.js"></script>
    <script src="scripts/controllers/dest/projects.js"></script>
    <script src="scripts/controllers/dest/dashboard.js"></script>
    <script src="scripts/controllers/dest/new-proposal.js"></script>
    <script src="scripts/controllers/dest/new-asset.js"></script>
    <script src="scripts/controllers/dest/login.js"></script>
    <script src="scripts/controllers/dest/help.js"></script>
    <script src="scripts/controllers/dest/smscheck.js"></script>
    <script src="scripts/controllers/dest/logout.js"></script>
    <script src="scripts/controllers/dest/admin.js"></script>
    <script src="scripts/controllers/dest/forms.js"></script>
    <script src="scripts/controllers/dest/project-template.js"></script>
    <script src="scripts/controllers/dest/task-edit.js"></script>
    <script src="scripts/controllers/dest/task-finish.js"></script>
    <script src="scripts/controllers/dest/form.js"></script>
    <script src="scripts/controllers/dest/devpage.js"></script>
    <script src="scripts/controllers/dest/new-project.js"></script>
    <script src="scripts/controllers/dest/edit-proposal.js"></script>
    <script src="scripts/controllers/dest/project.js"></script>
    <script src="scripts/controllers/dest/assets.js"></script>
    <script src="scripts/controllers/dest/creditors.js"></script>
    <script src="scripts/controllers/dest/debtors.js"></script>
    <script src="scripts/controllers/dest/feedback.js"></script>
    <script src="scripts/controllers/dest/editor.js"></script>
    <script src="scripts/controllers/dest/users-admin.js"></script>
    <script src="scripts/controllers/dest/new-user.js"></script>
    <script src="scripts/controllers/dest/edit-user.js"></script>
    <script src="scripts/controllers/dest/reset-admin.js"></script>
    <script src="scripts/controllers/dest/profile.js"></script>
    <script src="scripts/controllers/dest/orgs-admin.js"></script>
    <script src="scripts/controllers/dest/new-org.js"></script>
    <script src="scripts/controllers/dest/edit-org.js"></script>
    <script src="scripts/controllers/dest/mail-system.js"></script>
    <script src="scripts/common/libs/entities/proposal-entity.js"></script>
    <script src="scripts/common/libs/entities/project-entity.js"></script>
    <script src="scripts/controllers/dest/roles.js"></script>
    <script src="scripts/controllers/dest/report-gantt.js"></script>
    <script src="scripts/controllers/dest/report-users.js"></script>
    <script src="scripts/controllers/dest/report-status.js"></script>
    <script src="scripts/controllers/dest/report-dgim.js"></script>
    <script src="scripts/controllers/dest/report-supervisor.js"></script>
    <script src="scripts/controllers/dest/report-tasks.js"></script>
    <script src="scripts/controllers/dest/report-plan.js"></script>
    <script src="scripts/controllers/dest/report-duration.js"></script>
    <script src="scripts/controllers/dest/report-statuses-duration.js"></script>
    <script src="scripts/controllers/dest/report-statuses-avg-duration.js"></script>
    <script src="scripts/controllers/dest/report-errors.js"></script>
    <script src="scripts/controllers/dest/report-export.js"></script>
    <script src="scripts/controllers/dest/report-stats.js"></script>
    <script src="scripts/controllers/dest/maps.js"></script>
    <script src="scripts/controllers/dest/tv.js"></script>
    <script src="scripts/controllers/dest/tv2.js"></script>
    <!-- endbuild -->
    <script>
        $(document).ready(()=>{
			$.fn.datepicker.defaults.format = "dd.mm.yyyy";
			$.fn.datepicker.defaults.language = "ru-RU";
			
            $('[data-toggle="tooltip"]').tooltip();

            $(".sidebar-menu li").click(function(){
                $(this).toggleClass('active');
            });

            /*var options = {
                "shape": 'circle'
            };

            MaterialAvatar(document.getElementsByClassName('profile-photo'), options);*/
        });       
    </script>
</body>

</html>
