.list-item-big-icon{
	font-size: 1.5em;
}
.list-item-big-text{
	font-size: 1.2em;
}
.list-item-menu-button{
	color: #c8c8c8;
}
.list-item-menu-button:hover{
	color: #428BCA;
}
.list-item-menu-button-active{
	color: #428BCA;
}
.list-item-remove-button{
	color: #c8c8c8;
}
.list-item-remove-button:hover{
	color: #D9534F;
}
.list-item-edit-button{
	color: #c8c8c8;
}
.list-item-edit-button:hover{
	color: #449D44;
}
.list-item-ok-button:hover{
	color: #5CB85C;
}
.list-item-hidden{
	visibility: hidden;
}
.list-item-line-element{
	display: inline-block;
}
.list-item-with-space-around{
	margin-right: 5px;
	margin-left: 5px;
}