<navbar></navbar>

<div class="container" style="padding-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Движимое имущество
            <a href="" ng-click="addTangibleAsset()">
                <i class="fa fa-plus add-proj">
                    <span>Добавить</span>
                </i>
            </a>
            </h2>
        </div>
        
        <div class="row form-projects-group">
           <div class="col-sm-6">
				<div class="form-group">
					<label for="search-string">Поиск</label>
					<div class='input-group'>
						<span class="input-group-addon">
                  			<span class="fa fa-search"></span>
						</span>
						<input type="search" class="form-control" ng-model="searchData" id="search-string"/>
					</div>
				</div>
			</div>

            <style>
            .input-clear-cntrol {
                vertical-align: middle;
                font-size: 1em;
                background-color: #e8e8e8;
                padding-right: 5px;
                display: none;
            }

            .input-clear-cntrol i:hover  {
                cursor: pointer;
                font-weight: bold;
            }
            </style>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="asset-tangible-creation-date">Дата регистрации</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input ng-model="assetTangibleCreationDate" type="text" class="form-control pull-right" id="asset-tangible-creation-date">
                        <div id="asset-tangible-creation-date-clear" class="input-clear-cntrol" align="right">
                            <i class="fa fa-times"></i>
                        </div>
                        <script>
                            function UTCToLocalTime( utc ) {
                                var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
                                return new Date( utc - timezoneOffset );
                            }

                            $( "#asset-tangible-creation-date" ).daterangepicker({
                                    locale: {
                                        format: "DD.MM.YYYY",
                                        applyLabel: "ОК",
                                        cancelLabel: "Отмена"
                                    },
                                },
                                function ( start, end ) {			
                                    var range = start.format( "DD.MM.YYYY" ) + " - " + end.format( "DD.MM.YYYY" );
                                    document.querySelector( "#asset-tangible-creation-date" ).value = range;
                                    var event = new Event( "change" );
                                    document.querySelector( "#asset-tangible-creation-date" ).dispatchEvent( event );
                                }
                            );
                            
                            $( "#asset-tangible-creation-date" ).on( "apply.daterangepicker", function( ev, picker ) {
                                var range = picker.startDate.format( "DD.MM.YYYY" ) + " - " + picker.endDate.format( "DD.MM.YYYY" );
                                document.querySelector( "#asset-tangible-creation-date" ).value = range;
                                var event = new Event( "change" );
                                document.querySelector( "#asset-tangible-creation-date" ).dispatchEvent( event );
                            });	

                            document.querySelector( "#asset-tangible-creation-date-clear" ).addEventListener( "click", ( e ) => {
                                console.log( "#asset-tangible-creation-date-clear >> click" );
                                var now = UTCToLocalTime( Date.now() ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );

                                var re = /\s/;
                                var tokens = now.split( re );

                                var timestampString = tokens[0];
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );

                                $( "#asset-tangible-creation-date" ).data( "daterangepicker" ).setStartDate( timestampString );
                                $( "#asset-tangible-creation-date" ).data( "daterangepicker" ).setEndDate( timestampString );

                                $( "#asset-tangible-creation-date" ).val( "" );

                                document.querySelector( "#asset-tangible-creation-date-clear" ).style.display = "none";

                                angular.element( document.querySelector( "#asset-tangible-creation-date" ) )
                                    .scope()
                                    .assetTangibleCreationDateFrom = "";
                                  
                                angular.element( document.querySelector( "#asset-tangible-creation-date" ) )
                                    .scope()
                                    .assetTangibleCreationDateTo = "";

                                angular.element( document.querySelector( "#asset-tangible-creation-date" ) )
                                    .scope().$apply();                               
                            }, false );

                            document.querySelector( "#asset-tangible-creation-date" ).addEventListener( "change", ( e ) => {
                                console.log( "#asset-tangible-creation-date >> change" );
                                var value = document.querySelector( "#asset-tangible-creation-date" ).value;
                                
                                var re = /\s*-\s*/;
                                var tokens = value.split( re );

                                var timestampString = tokens[0] + " " + "00:00:00";
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
                                timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();

                                angular.element( document.querySelector( "#asset-tangible-creation-date" ) )
                                    .scope()
                                    .assetTangibleCreationDateFrom = timestampString;
                              
                                timestampString = tokens[1] + " " + "23:59:59";
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
                                timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();                               

                                angular.element( document.querySelector( "#asset-tangible-creation-date" ) )
                                    .scope()
                                    .assetTangibleCreationDateTo = timestampString;

                                document.querySelector( "#asset-tangible-creation-date-clear" ).style.display = "table-cell";		
                            } );
                        </script>
                    </div>
                </div>

            </div>             

            <div class="col-sm-6">
                <div class="form-group ">
                    <label for="status">По статусу</label>
                    <select class="form-control" ng-model="filterAssetStatus" ng-options="status.name for status in assetStatuses track by status.id" id="status">
                        <option value="">Любой</option>
                    </select>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>                   
                    <div class="animate-switch-container">
                        <div class="animate-switch">
                            <div
                                class="box collapsed-box"
                                ng-repeat="asset in currentProject.assetsTangible | filter:searchData | filterAssetTangible:assetTangibleCreationDateFrom:assetTangibleCreationDateTo | filterAssetStatus:filterAssetStatus">
                                <div class="box-header">
                                    <h3 class="box-title">{{asset.title}}
                                        <span class="fa fa-circle-style fa-circle"></span>
                                    </h3>
                                    <table class="table">
                                        <tr>
                                            <td style="width: 25%;">Балансовая стоимость: {{asset.balanceValue | currency: asset.balanceValueCurrency.name}}</td>
                                            <td style="width: 25%;">Фактическая стоимость: {{asset.actualValue | currency: asset.actualValueCurrency.name}}</td>
                                            <td style="width: 25%;">Кредитор: {{asset.creditor}}</td>
                                            <td style="width: 25%;">Статус: {{asset.status.name}}</td>
                                        </tr>
                                    </table>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить актив" ng-click="deleteAsset(asset, true)">
                                            <i class="fa fa-trash" style="font-size: 1.5em;"></i>
                                        </button>
                                        <button class="btn btn-box-tool word-btn" data-toggle="tooltip" title="Редактировать" ng-click="editTangibleAsset(asset)">
                                            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Детали">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div ng-include="documentsListTemplate.url" ng-init="asset.documents = asset.documents || []; documents = asset.documents"></div>
                                    <div ng-include="commentsListTemplate.url" ng-init="objType='assetTangible';objID=asset.id;commentText='';comments = asset.comments"></div>
                                </div>                                
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>