<script src="/bower_components/gantt/codebase/locale/locale_ru.js"></script>

<style>
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: none !important;
}
</style>

<style>
.tabs{
	width: 100%;
	display: inline-block;
}
.tabs > div{
	padding-top: 10px;
}
.tabs ul{	
	margin: 0px;
	padding: 0px;
}
.tabs ul:after{
	content: "";
	display: block;
	clear: both;
	height: 5px;
	background: #7bb0ce;
}
.tabs ul li{
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	float: left;
	padding: 10px 15px;
	background: #e9eaeb;
	color: #707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background: #7bb0ce;
	color: #fff;
}
.tabs ul li:hover{
	background: #d6d6d7;
}
</style>

<navbar></navbar>
<div class="row">
	<div class="col-md-12" id="comments-list">
		<h2 class="heading">Комментарии</h2>
	</div>
</div>

<div class="tabs">
    <ul>
        <li>Проект</li>
        <li>Задачи</li>
		<li>Движимое имущество</li>
		<li>Недвижимое имущество</li>
    </ul>
    <div>
        <div>
			<div ng-include="commentsListTemplate.url" ng-init="objType = 'currentProject'; objID = currentProject._id; commentText='';"></div>			
		</div>

        <div>			
			<div ng-repeat="task in currentProject.tasks">
				<div ng-if="task.comments.length > 0" style="margin: 10px; border: 1px solid black;">
					<p style="margin: 10px; font-weight: bold; font-size: 1.5em;">{{task.title}}</p>

					<div ng-include="commentsListTemplate.url" ng-init="objType='task';objID=task.id;commentText='';comments = task.comments"></div>
				</div>
			</div>
		</div>

		<div>			
			<div ng-repeat="asset in currentProject.assetsTangible">
				<div ng-if="asset.comments.length > 0" style="margin: 10px; border: 1px solid black;">
					<p style="margin: 10px; font-weight: bold; font-size: 1.5em;">{{asset.title}}</p>

					<div ng-include="commentsListTemplate.url" ng-init="objType='assetTangible';objID=asset.id;commentText='';comments = asset.comments"></div>
				</div>
			</div>
		</div>

		<div>			
			<div ng-repeat="asset in currentProject.assetsIntangible">
				<div ng-if="asset.comments.length > 0" style="margin: 10px; border: 1px solid black;">
					<p style="margin: 10px; font-weight: bold; font-size: 1.5em;">{{asset.title}}</p>

					<div ng-include="commentsListTemplate.url" ng-init="objType='assetIntangible';objID=asset.id;commentText='';comments = asset.comments"></div>
				</div>
			</div>
		</div>
    </div>            
</div>

<script>
(function($){				
	jQuery.fn.lightTabs = function(options){

		var createTabs = function(){
			tabs = this;
			i = 0;
			
			showPage = function(i){
				$(tabs).children("div").children("div").hide();
				$(tabs).children("div").children("div").eq(i).show();
				$(tabs).children("ul").children("li").removeClass("active");
				$(tabs).children("ul").children("li").eq(i).addClass("active");
			}
								
			showPage(0);				
			
			$(tabs).children("ul").children("li").each(function(index, element){
				$(element).attr("data-page", i);
				i++;                        
			});
			
			$(tabs).children("ul").children("li").click(function(){
				showPage(parseInt($(this).attr("data-page")));
			});				
		};		
		return this.each(createTabs);
	};	
})(jQuery);	

$(document).ready(function(){
	$(".tabs").lightTabs();
});
</script>
