<navbar></navbar>

<div class="container" style="padding-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Реестр кредиторов
                <a href="" ng-click="addCreditor()">
                    <i class="fa fa-plus add-proj">
                      <span>Добавить</span>
                    </i>
                </a>
            </h2>
        </div>

        <div class="row form-projects-group">
             <div class="col-sm-6">
                <div class="form-group">
                    <label for="search-string">Поиск</label>
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="fa fa-search"></span>
                        </span>
                        <input type='search' class="form-control" ng-model="searchData" id="search-string"/>
                    </div>
                </div>
            </div>

            <style>
            .input-clear-cntrol {
                vertical-align: middle;
                font-size: 1em;
                background-color: #e8e8e8;
                padding-right: 5px;
                display: none;
            }

            .input-clear-cntrol i:hover  {
                cursor: pointer;
                font-weight: bold;
            }
            </style>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="creditor-creation-date">Дата регистрации</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input ng-model="creditorCreationDate" type="text" class="form-control pull-right" id="creditor-creation-date">
                        <div id="creditor-creation-date-clear" class="input-clear-cntrol" align="right">
                            <i class="fa fa-times"></i>
                        </div>
                        <script>
                            function UTCToLocalTime( utc ) {
                                var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
                                return new Date( utc - timezoneOffset );
                            }

                            $( "#creditor-creation-date" ).daterangepicker({
                                    locale: {
                                        format: "DD.MM.YYYY",
                                        applyLabel: "ОК",
                                        cancelLabel: "Отмена"
                                    },
                                },
                                function ( start, end ) {			
                                    var range = start.format( "DD.MM.YYYY" ) + " - " + end.format( "DD.MM.YYYY" );
                                    document.querySelector( "#creditor-creation-date" ).value = range;
                                    var event = new Event( "change" );
                                    document.querySelector( "#creditor-creation-date" ).dispatchEvent( event );
                                }
                            );
                            
                            $( "#creditor-creation-date" ).on( "apply.daterangepicker", function( ev, picker ) {		
                                var range = picker.startDate.format( "DD.MM.YYYY" ) + " - " + picker.endDate.format( "DD.MM.YYYY" );
                                document.querySelector( "#creditor-creation-date" ).value = range;
                                var event = new Event( "change" );
                                document.querySelector( "#creditor-creation-date" ).dispatchEvent( event );
                            });	

                            document.querySelector( "#creditor-creation-date-clear" ).addEventListener( "click", ( e ) => {
                                var now = UTCToLocalTime( Date.now() ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );

                                var re = /\s/;
                                var tokens = now.split( re );

                                var timestampString = tokens[0];
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );

                                $( "#creditor-creation-date" ).data( "daterangepicker" ).setStartDate( timestampString );
                                $( "#creditor-creation-date" ).data( "daterangepicker" ).setEndDate( timestampString );

                                $( "#creditor-creation-date" ).val( "" );

                                document.querySelector( "#creditor-creation-date-clear" ).style.display = "none";

                                angular.element( document.querySelector( "#creditor-creation-date" ) )
                                    .scope()
                                    .creditorCreationDateFrom = "";
                                  
                                angular.element( document.querySelector( "#creditor-creation-date" ) )
                                    .scope()
                                    .creditorCreationDateTo = "";

                                angular.element( document.querySelector( "#creditor-creation-date" ) )
                                    .scope().$apply();                               
                            }, false );

                            document.querySelector( "#creditor-creation-date" ).addEventListener( "change", function( e ) {
                                var value = document.querySelector( "#creditor-creation-date" ).value;
                                
                                var re = /\s*-\s*/;
                                var tokens = value.split( re );

                                var timestampString = tokens[0] + " " + "00:00:00";
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
                                timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();

                                angular.element( document.querySelector( "#creditor-creation-date" ) )
                                    .scope()
                                    .creditorCreationDateFrom = timestampString;
                              
                                timestampString = tokens[1] + " " + "23:59:59";
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
                                timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();                               

                                angular.element( document.querySelector( "#creditor-creation-date" ) )
                                    .scope()
                                    .creditorCreationDateTo = timestampString;

                                document.querySelector( "#creditor-creation-date-clear" ).style.display = "table-cell";		
                            } );
                        </script>
                    </div>
                </div>

            </div>
           
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="projtype">Статус ссуды</label>
                    <select class="form-control" ng-model="filterCreditorStatus" ng-options="status.name for status in creditorStatuses track by status.id">
                        <option value="">Любой</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-style-creditors table-docs">
                        <tr>
                            <td rowspan=2 class="vertical-al-m">
                                <a href="" ng-click="sortType = 'name'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    Наименование кредитора
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td rowspan=2 class="vertical-al-m">
                                <a href="" ng-click="sortType = 'basic'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                Основание
                                <span ng-show="sortType == 'basic' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'basic' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                            </td>
                            <td colspan=5 class="vertical-al-m">
                                Суммы
                            </td>
                            <td rowspan=2 class="vertical-al-m">
                                <a href="" ng-click="sortType = 'voicePercent'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    % голосов
                                    <span ng-show="sortType == 'voicePercent' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'voicePercent' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td rowspan=2 class="vertical-al-m">
                                <a href="" ng-click="sortType = 'docCount'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    Документов
                                    <span ng-show="sortType == 'docCount' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'docCount' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td rowspan=2 class="vertical-al-m">
                                Статус
                            </td>
                            <td rowspan=2 class="vertical-al-m">
                                Изменить
                            </td>
                            <td rowspan=2 class="vertical-al-m">
                                Удалить
                            </td>
                        </tr>
                        <tr>
                            <td class="vertical-al-m">
                                <a href="" ng-click="sortType = 'sum'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    общая сумма
                                    <span ng-show="sortType == 'sum' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'sum' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td class="vertical-al-m">
                                <a href="" ng-click="sortType = 'debt'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    основной долг
                                    <span ng-show="sortType == 'debt' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'debt' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td class="vertical-al-m">
                                <a href="" ng-click="sortType = 'debtPercent'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    -% по долгу
                                    <span ng-show="sortType == 'debtPercent' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'debtPercent' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                            </td>
                            <td class="vertical-al-m">
                                <a href="" ng-click="sortType = 'fine'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    штрафы
                                    <span ng-show="sortType == 'fine' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'fine' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>

                            <td class="vertical-al-m">
                                <a href="" ng-click="sortType = 'courtCosts'; sortReverse =!sortReverse" class="sort-link-type-creditors">
                                    судебные расходы
                                    <span ng-show="sortType == 'courtCosts' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'courtCosts' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                        </tr>
                     
                        <tr
                            ng-repeat="creditor in currentProject.creditors | orderBy:sortType:sortReverse | filter:searchData | filterCreditorCreation:creditorCreationDateFrom:creditorCreationDateTo | filterCreditorStatus:filterCreditorStatus">
                            <td>{{creditor.name}}</td>
                            <td>{{creditor.basic }}</td>
                            <td>{{creditor.sum | currency: creditor.sumCurrency.name }}</td>
                            <td>{{creditor.debt | currency: creditor.debtCurrency.name }}</td>
                            <td>{{creditor.debtPercent }}</td>
                            <td>{{creditor.fine | currency: creditor.fineCurrency.name }}</td>
                            <td>{{creditor.courtCosts| currency: creditor.courtCostsCurrency.name }}</td>
                            <td>{{creditor.voicePercent | currency:"%"}}</td>
                            <td>
                                <span ng-if="creditor.documents && creditor.documents.length > 0">
                                    {{creditor.documents.length}}
                                </span>
                                <span ng-if="!creditor.documents || (creditor.documents && creditor.documents.length == 0)">-</span>
                            </td>
                            <td>
                                {{creditor.status.name}}
                            </td>
                            <td>
                                <button class="btn btn-box-tool" data-toggle="tooltip" title="Редактировать данные" ng-click="editCreditor(creditor)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить кредитора" ng-click="deleteCreditor(creditor)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
