<script src="/bower_components/gantt/codebase/locale/locale_ru.js"></script>

<navbar></navbar>
<div class="container" style="padding-top: 0;">
	<div class="row">
		<div class="col-md-12">
			<h2 class="heading">Документы
                <!--<a href="" class="add-doc-link">
                    <i class="fa fa-plus"></i>
                    Добавить документ
                  </a>-->
              </h2>
		</div>
		<div class="row form-projects-group">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="search-string">Поиск</label>
					<div class='input-group'>
						<span class="input-group-addon">
                  			<span class="fa fa-search"></span>
						</span>
						<input type="search" class="form-control" ng-model="searchData" id="search-string"/>
					</div>
				</div>
			</div>

			<style>
            .input-clear-cntrol {
                vertical-align: middle;
                font-size: 1em;
                background-color: #e8e8e8;
                padding-right: 5px;
                display: none;
            }

            .input-clear-cntrol i:hover  {
                cursor: pointer;
                font-weight: bold;
            }
            </style>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="document-creation-date">Дата регистрации</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input ng-model="documentCreationDate" type="text" class="form-control pull-right" id="document-creation-date">
                        <div id="document-creation-date-clear" class="input-clear-cntrol" align="right">
                            <i class="fa fa-times"></i>
                        </div>
                        <script>
                            function UTCToLocalTime( utc ) {
                                var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
                                return new Date( utc - timezoneOffset );
                            }

                            $( "#document-creation-date" ).daterangepicker({
                                    locale: {
                                        format: "DD.MM.YYYY",
                                        applyLabel: "ОК",
                                        cancelLabel: "Отмена"
                                    },
                                },
                                function ( start, end ) {			
                                    var range = start.format( "DD.MM.YYYY" ) + " - " + end.format( "DD.MM.YYYY" );
                                    document.querySelector( "#document-creation-date" ).value = range;
                                    var event = new Event( "change" );
                                    document.querySelector( "#document-creation-date" ).dispatchEvent( event );
                                }
                            );
                            
                            $( "#document-creation-date" ).on( "apply.daterangepicker", function( ev, picker ) {		
                                var range = picker.startDate.format( "DD.MM.YYYY" ) + " - " + picker.endDate.format( "DD.MM.YYYY" );
                                document.querySelector( "#document-creation-date" ).value = range;
                                var event = new Event( "change" );
                                document.querySelector( "#document-creation-date" ).dispatchEvent( event );
                            });	

                            document.querySelector( "#document-creation-date-clear" ).addEventListener( "click", ( e ) => {
                                var now = UTCToLocalTime( Date.now() ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );

                                var re = /\s/;
                                var tokens = now.split( re );

                                var timestampString = tokens[0];
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );

                                $( "#document-creation-date" ).data( "daterangepicker" ).setStartDate( timestampString );
                                $( "#document-creation-date" ).data( "daterangepicker" ).setEndDate( timestampString );

                                $( "#document-creation-date" ).val( "" );

                                document.querySelector( "#document-creation-date-clear" ).style.display = "none";

                                angular.element( document.querySelector( "#document-creation-date" ) )
                                    .scope()
                                    .documentCreationDateFrom = "";
                                  
                                angular.element( document.querySelector( "#document-creation-date" ) )
                                    .scope()
                                    .documentCreationDateTo = "";

                                angular.element( document.querySelector( "#document-creation-date" ) )
                                    .scope().$apply();                               
                            }, false );

                            document.querySelector( "#document-creation-date" ).addEventListener( "change", function( e ) {
                                var value = document.querySelector( "#document-creation-date" ).value;
                                
                                var re = /\s*-\s*/;
                                var tokens = value.split( re );

                                var timestampString = tokens[0] + " " + "00:00:00";
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
                                timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();

                                angular.element( document.querySelector( "#document-creation-date" ) )
                                    .scope()
                                    .documentCreationDateFrom = timestampString;
                              
                                timestampString = tokens[1] + " " + "23:59:59";
                                timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
                                timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();                               

                                angular.element( document.querySelector( "#document-creation-date" ) )
                                    .scope()
                                    .documentCreationDateTo = timestampString;

                                document.querySelector( "#document-creation-date-clear" ).style.display = "table-cell";		
                            } );
                        </script>
                    </div>
                </div>

            </div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="projtype">По разделу</label>
					<select class="form-control " id="">
						<option>Любой</option>
						<option>Общие</option>
						<option>Задачи</option>
						<option>Активы (Движимое иущество)</option>
						<option>Активы (Недвижимое иущество)</option>
						<option>Кредиторы</option>
						<option>Дебиторы</option>
					</select>
				</div>
			</div>			

			<div class="col-sm-6"">
				<div class="form-group">
					<label for="document-owner">Владелец документа</label>
					<select id="document-owner" class="form-control"
		                ng-model="documentOwner"
						ng-options="user as user.fullName for user in users track by user._id">
		                <option value="">Любой</option>
		            </select>
				</div>
			</div>
		</div>

		<div class="row margin-none">
		    <div class="col-md-12">
		        <h4>Список прикрепленных файлов</h4>
		        <div class="col-md-12 table-wrap">
		            <table class="table table-docs">
		                <tr class="col-1">
		                    <td class="brown-text">
		                        <a href="" ng-click="sortType = 'name'; sortReverse =!sortReverse" class="sort-link-type">
		                          Название
		                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
		                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
		                        </a>
		                    </td>
		                    <td class="brown-text">
								<a href="" ng-click="sortType = 'docSection'; sortReverse =!sortReverse" class="sort-link-type">
							      Раздел
							      <span ng-show="sortType == 'docSection' && !sortReverse" class="fa fa-caret-down"></span>
							      <span ng-show="sortType == 'docSection' && sortReverse" class="fa fa-caret-up"></span>
							    </a>
							</td>
		                    <td class="brown-text">
		                        <a href="" ng-click="sortType = 'uploadDate'; sortReverse =!sortReverse" class="sort-link-type">
		                          Дата 
		                          <span ng-show="sortType == 'uploadDate' && !sortReverse" class="fa fa-caret-down"></span>
		                          <span ng-show="sortType == 'uploadDate' && sortReverse" class="fa fa-caret-up"></span>
		                        </a>
		                    </td>
		                    <td class="brown-text">
		                        <a href="" ng-click="sortType = 'uploadUser.fullName'; sortReverse =!sortReverse" class="sort-link-type">
		                          Добавил
		                          <span ng-show="sortType == 'uploadUser.fullName' && !sortReverse" class="fa fa-caret-down"></span>
		                          <span ng-show="sortType == 'uploadUser.fullName' && sortReverse" class="fa fa-caret-up"></span>
		                        </a>
		                    </td>
		                    <td class="brown-text action-col">
		                        <i class="font-up-main fa fa-cloud-download"></i>
		                    </td>
		                    <td class="brown-text action-col">
		                        <i class="font-up-main fa fa-trash"></i>
		                    </td>
		                </tr>
		                <tr
							class="col-2"
							ng-repeat="doc in currentProject.documents | orderBy:sortType:sortReverse | filter:searchData | filterDocumentCreation:documentCreationDateFrom:documentCreationDateTo | filterDocumentOwner:documentOwner">
		                    <td>
		                        <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)"><i ng-class="fileIcon(doc.type)"></i> {{doc.name}}</a>
		                    </td>
		                    <td>
		                    	Общие
		                    </td>
		                    <td>
		                        {{toLocalDateString(doc.uploadDate)}}
		                    </td>
		                    <td>
		                        {{doc.uploadUser.fullName}}
		                    </td>
		                    <td class="action-col">
		                        <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
		                            <i ng-class="getLinkFileIcon(doc.link)"></i>
		                        </button>
		                    </td>
		                    <td class="action-col">
		                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(currentProject.documents, doc)">
		                            <i class="font-up fa fa-times"></i>
		                        </button>
		                    </td>
		                </tr>

		                <tbody ng-repeat="task in currentProject.tasks" ng-if="task.documents && task.documents.length > 0">
		                	<tr
								class="col-2"
								ng-repeat="doc in task.documents | orderBy:sortType:sortReverse | filter:searchData | filterDocumentCreation:documentCreationDateFrom:documentCreationDateTo">
			                    <td>
			                        <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)">
			                        	<i class="fa fa-flag" aria-hidden="true" ng-if="doc.isComplete"></i>
			                        	<i ng-class="fileIcon(doc.type)"></i> {{doc.name}}
			                        </a>
			                    </td>
			                    <td>
			                    	{{task.title}}/Задачи
			                    </td>
			                    <td>
			                        {{toLocalDateString(doc.uploadDate)}}
			                    </td>
			                    <td>
			                        {{doc.uploadUser.fullName}}
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
			                            <i ng-class="getLinkFileIcon(doc.link)"></i>
			                        </button>
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(task.documents, doc)">
			                            <i class="font-up fa fa-times"></i>
			                        </button>
			                    </td>
			                </tr>
		                </tbody>

		                <tbody ng-repeat="asset in currentProject.assetsTangible" ng-if="asset.documents && asset.documents.length > 0">
		                	<tr
								class="col-2"
								ng-repeat="doc in asset.documents | orderBy:sortType:sortReverse | filter:searchData | filterDocumentCreation:documentCreationDateFrom:documentCreationDateTo">
			                    <td>
			                        <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)"><i ng-class="fileIcon(doc.type)"></i> {{doc.name}}</a>
			                    </td>
			                    <td>
			                    	{{asset.title}}/Движимое имущество
			                    </td>
			                    <td>
			                        {{toLocalDateString(doc.uploadDate)}}
			                    </td>
			                    <td>
			                        {{doc.uploadUser.fullName}}
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
			                            <i ng-class="getLinkFileIcon(doc.link)"></i>
			                        </button>
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(asset.documents, doc)">
			                            <i class="font-up fa fa-times"></i>
			                        </button>
			                    </td>
			                </tr>
		                </tbody>

		                <tbody ng-repeat="asset in currentProject.assetsIntangible" ng-if="asset.documents && asset.documents.length > 0">
		                	<tr
								class="col-2"
								ng-repeat="doc in asset.documents | orderBy:sortType:sortReverse | filter:searchData | filterDocumentCreation:documentCreationDateFrom:documentCreationDateTo">
			                    <td>
			                        <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)"><i ng-class="fileIcon(doc.type)"></i> {{doc.name}}</a>
			                    </td>
			                    <td>
			                    	{{asset.title}}/Недвижимое имущество
			                    </td>
			                    <td>
			                        {{toLocalDateString(doc.uploadDate)}}
			                    </td>
			                    <td>
			                        {{doc.uploadUser.fullName}}
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
			                            <i ng-class="getLinkFileIcon(doc.link)"></i>
			                        </button>
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(asset.documents, doc)">
			                            <i class="font-up fa fa-times"></i>
			                        </button>
			                    </td>
			                </tr>
		                </tbody>

		                <tbody ng-repeat="creditor in currentProject.creditors" ng-if="creditor.documents && creditor.documents.length > 0">
		                	<tr
								class="col-2"
								ng-repeat="doc in creditor.documents | orderBy:sortType:sortReverse | filter:searchData | filterDocumentCreation:documentCreationDateFrom:documentCreationDateTo">
			                    <td>
			                        <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)"><i ng-class="fileIcon(doc.type)"></i> {{doc.name}}</a>
			                    </td>
			                    <td>
			                    	{{creditor.name}}/Кредиторы
			                    </td>
			                    <td>
			                        {{toLocalDateString(doc.uploadDate)}}
			                    </td>
			                    <td>
			                        {{doc.uploadUser.fullName}}
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
			                            <i ng-class="getLinkFileIcon(doc.link)"></i>
			                        </button>
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(creditor.documents, doc)">
			                            <i class="font-up fa fa-times"></i>
			                        </button>
			                    </td>
			                </tr>
		                </tbody>

						<tbody ng-repeat="debtor in currentProject.debtors" ng-if="debtor.documents && debtor.documents.length > 0">
		                	<tr
								class="col-2"
								ng-repeat="doc in debtor.documents | orderBy:sortType:sortReverse | filter:searchData | filterDocumentCreation:documentCreationDateFrom:documentCreationDateTo">
			                    <td>
			                        <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)"><i ng-class="fileIcon(doc.type)"></i> {{doc.name}}</a>
			                    </td>
			                    <td>
			                    	{{debtor.name}}/Кредиторы
			                    </td>
			                    <td>
			                        {{toLocalDateString(doc.uploadDate)}}
			                    </td>
			                    <td>
			                        {{doc.uploadUser.fullName}}
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" ng-attr-title="{{getLinkWord(doc.link)}}" ng-click="processDocument(doc)">
			                            <i ng-class="getLinkFileIcon(doc.link)"></i>
			                        </button>
			                    </td>
			                    <td class="action-col">
			                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Удалить" ng-click="deleteDoc(debtor.documents, doc)">
			                            <i class="font-up fa fa-times"></i>
			                        </button>
			                    </td>
			                </tr>
		                </tbody>

		            </table>
		        </div>
		    </div>

		    <div class="col-md-12">
			    <div class="progress-bar progress-bar-striped active" role="progressbar"
			        aria-valuenow="{{uploadedPercents}}" aria-valuemin="0" aria-valuemax="100" style="height:25px; width: {{uploadedPercents}}%"
			        ng-if="uploadedPercents && uploadedPercents != 0 && uploadedPercents != 100">
			        <span style="margin-top: 5px;">{{uploadedPercents}}%</span>
			    </div>
			</div>

		    <div class="col-md-4">
			    <div class="mask-wrapper mask-wrapper-index">
			        <div class="mask">
			            <button class="file-button" ng-click="uploadFile(currentProject.documents, newDoc.name)">
			                <span>Загрузить файл</span>
			            </button>
			            <!--<input class="fileInputText fileInputTextSubTask" type="text" ng-model="newDoc.name">-->
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="mask-wrapper mask-wrapper-index">
			        <div class="mask">
			            <button class="file-button add-file">
			                <span>Загрузить URL</span>
			            </button>
			        </div>
			    </div>
			    <div class="hidden-block">
			        <p class="close fa fa-close"></p>
			        <form>
			            <div class="form-group input-group">
			                <label for="adress">Введите название файла</label>
			                <input type="text" class="form-control" placeholder="Название ссылки" ng-model="newDoc.name">
			            </div>
			            <div class="form-group input-group">
			                <label>Введите URL файла <span class="required">*</span></label>
			                <input type="text" class="form-control" placeholder="http://" ng-model="newDoc.link">
			            </div>
			            <div class="form-group">
			                <button class="file-button" ng-click="addLink(currentProject.documents, newDoc)" >
			                    <span>Загрузить URL</span>
			                </button>
			            </div>
			        </form>
			    </div>
			</div>

			<script type="text/javascript">
			    $(document).ready(function () {
			        $('.add-file').click(function() {
			            $('.hidden-block').fadeIn();
			            $('.hidden-block').addClass('block');
			        });

			        $('.close').click(function() {
			            $('.hidden-block').fadeOut();
			        });
			    });
			</script>
		</div>
	</div>
</div>
