<script src="/bower_components/gantt/codebase/locale/locale_ru.js"></script>

<navbar></navbar>
<h2 class="heading">Диаграмма Ганта</h2>
<div id="interactiveGantt" ng-cloak></div>
<a class="toggleScale" href="" ng-if="useHour" ng-click="toggleScale();">Показывать часы</a>
<a class="toggleScale" href="" ng-if="!useHour" ng-click="toggleScale();">Показывать дни</a>
<a class="toggleExecutors" href="" ng-if="showExecutors" ng-click="toggleExecutors();">Показать исполнителей</a>
<a class="toggleExecutors" href="" ng-if="!showExecutors" ng-click="toggleExecutors();">Скрыть исполнителей</a>

<script>
setTimeout( function() { 
    angular.element( document.querySelector( "#interactiveGantt" ) )
        .scope()
        .updateGanttDiagramm();
},
1000 );
</script>
