<script src="/bower_components/gantt/codebase/locale/locale_ru.js"></script>

<navbar></navbar>
<div class="row">
	<div class="col-md-12">
		<h2 class="heading">Проектная группа</h2>
		<div class="col-md-12" ng-if="currentUser.isRoot || !canDeleted(currentUser)">		
			<div class="col-md-4">
				<select
					class="form-control"
					placeholder="Выберите пользователя"
					ng-model="selected.user"
					ng-options="user.fullName for user in users | filterUsersOutsideProjectGroup:currentProject.projectGroupList">
				</select>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-primary btn-icon icon-add" ng-click="addUser()">
		        	<span class="glyphicon glyphicon-share-alt"></span> Добавить в группу
		        </button>
	        </div>
		</div>
		<div class="col-md-12" ng-cloak>
		    <div loading-container="tableDictionaries.settings().$loading">
		        <table ng-table="tableUsers" class="table table-condensed">
		            <tbody>
		                <tr ng-repeat="user in currentProject.projectGroupList">
		                    <td data-title="'#'" width="5%">
		                        {{$index+1}}
		                    </td>
		                    <td data-title="'ФИО'">
		                        <a ng-click="Info(user._id)">{{user.fullName}}</a>
		                    </td>
		                    <td data-title="'Должность'">
		                        {{user.position}}
		                    </td>
		                    <td data-title="'Организация'">
		                        {{getOrgName(user.organizationId)}}
		                    </td>
		                    <td data-title="'Email'">
		                        <a href="mailto:{{user.email}}?subject=Letter from CRM">{{user.email}}</a>
		                    </td>
		                    <td data-title="'Роль в заявке'">
		                        {{user.projectRole}}
		                    </td>
		                    <td data-title="'Удалить'" ng-show="currentUser.isRoot || !canDeleted(currentUser)">
		                        <a class="confirm-click remove-link" ng-if="canDeleted(user)" ng-click="deleteUser(user)">Удалить</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
	</div>
</div>

