<navbar></navbar>

<div class="container" style="padding-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Корреспонденция</h2>
        </div>
        <div class="col-md-3">
            <a href="" class="btn btn-primary btn-block margin-bottom">Написать</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Папки</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href=""><i class="fa fa-inbox"></i>Входящие <span class="label label-primary pull-right">12</span></a>
                        </li>
                        <li><a href=""><i class="fa fa-envelope-o"></i>Отправленные</a>
                        </li>
                        <li><a href=""><i class="fa fa-file-text-o"></i>Черновики</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Входящие</h3>

                </div>
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i>
                            </button>
                            <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i>
                            </button>
                            <button class="btn btn-default btn-sm"><i class="fa fa-share"></i>
                            </button>

                        </div>
                        <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i>
                        </button>
                        <div class="pull-right">
                            <span></span>
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>


                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover ">
                            <tr>
                                <td>
                                    <span class="">
                          <small class=" pull-left">
                            <label class>
                              <div class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false">
                                <input type="checkbox" class="minimal"> 
                                <ins class="iCheck-helper"></ins>
                              </div>
                              
                            </label>
                          </small>
                        </span>
                                </td>
                                <td class="mailbox-star">
                                    <a href="">
                                        <i class="class=" fa text-yellow fa-star ""></i>
                                    </a>
                                </td>
                                <td class="mailbox-name">
                                    <a href="">Елена Васильевна</a>
                                </td>
                                <td class="mailbox-subject">
                                    <b>Заголовок письма - </b> Короткий текст письма...
                                </td>
                                <td class="mailbox-attachment">
                                    <i class="fa fa-paperclip"></i>
                                </td>
                                <td class="mailbox-date">
                                    30 мин. назад
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="">
                          <small class=" pull-left">
                            <label class>
                              <div class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false">
                                <input type="checkbox" class="minimal"> 
                                <ins class="iCheck-helper"></ins>
                              </div>
                              
                            </label>
                          </small>
                        </span>
                                </td>
                                <td class="mailbox-star">
                                    <a href="">
                                        <i class="class=" fa text-yellow fa-star ""></i>
                                    </a>
                                </td>
                                <td class="mailbox-name">
                                    <a href="">Елена Васильевна</a>
                                </td>
                                <td class="mailbox-subject">
                                    <b>Заголовок письма - </b> Короткий текст письма...
                                </td>
                                <td class="mailbox-attachment">
                                    <i class="fa fa-paperclip"></i>
                                </td>
                                <td class="mailbox-date">
                                    30 мин. назад
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="">
                          <small class=" pull-left">
                            <label class>
                              <div class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false">
                                <input type="checkbox" class="minimal"> 
                                <ins class="iCheck-helper"></ins>
                              </div>
                              
                            </label>
                          </small>
                        </span>
                                </td>
                                <td class="mailbox-star">
                                    <a href="">
                                        <i class="class=" fa text-yellow fa-star ""></i>
                                    </a>
                                </td>
                                <td class="mailbox-name">
                                    <a href="">Елена Васильевна</a>
                                </td>
                                <td class="mailbox-subject">
                                    <b>Заголовок письма - </b> Короткий текст письма...
                                </td>
                                <td class="mailbox-attachment">
                                    <i class="fa fa-paperclip"></i>
                                </td>
                                <td class="mailbox-date">
                                    30 мин. назад
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="">
                          <small class=" pull-left">
                            <label class>
                              <div class="icheckbox_minimal-blue" aria-checked="false" aria-disabled="false">
                                <input type="checkbox" class="minimal"> 
                                <ins class="iCheck-helper"></ins>
                              </div>
                              
                            </label>
                          </small>
                        </span>
                                </td>
                                <td class="mailbox-star">
                                    <a href="">
                                        <i class="class=" fa text-yellow fa-star ""></i>
                                    </a>
                                </td>
                                <td class="mailbox-name">
                                    <a href="">Елена Васильевна</a>
                                </td>
                                <td class="mailbox-subject">
                                    <b>Заголовок письма - </b> Короткий текст письма...
                                </td>
                                <td class="mailbox-attachment">
                                    <i class="fa fa-paperclip"></i>
                                </td>
                                <td class="mailbox-date">
                                    30 мин. назад
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>