<script src="/bower_components/gantt/codebase/locale/locale_ru.js"></script>

<navbar></navbar>

<div class="container" style="padding-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">
                Список задач 
                <button
                    ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                    type="button"
                    class="btn btn-primary pull-right"
                    ng-click="editTasks()">
                    Редактировать                 
                </button>             
                <span style="font-szie: smaller; margin-top: 20px;">
                <a
                    ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                    href=""
                    ng-click="addTask()"                  
                    class="pull-right">
                    <i class="fa fa-plus add-proj"><span>Добавить</span></i>
                </a>
                </span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="padding-left: 0px;">       
            <div class="form-group proj-form-group ">
                <label for="task-status-filter">Статус</label>
                <select
                    id="task-status-filter"
                    class="form-control"
                    placeholder="Статус задачи"                    
                    ng-options="item.name for item in taskStatuses track by item.id"
                    ng-model="filterTaskStatus">
                    <option value="">Любой</option>             
                </select>
            </div>       
        </div>
    </div>

    <hr>

    <div       
        class="row"
        ng-repeat="task in currentProject.tasks | filterTasksByUserRights:currentUser:currentProject | filterTaskStatus:filterTaskStatus">       
        <div class="col-md-12 padding-lr-none" ng-if="task.parentID === null">
            <div class="box collapsed-box">
                <div class="box-header ">
                    <h3 class="box-title">
                    	<span class="box-tools name-collapse" data-widget="collapse" data-toggle="tooltip" title="{{task.description}}">
                            {{task.title}}
                        </span>
                    	<span ng-class="{'fa fa-circle-style2 fa-circle': task.finished, 'fa fa-circle-style fa-circle': isOverTime(task), 'fa fa-circle-style3 fa-circle': isLateFinish(task)}"></span>
                        <i ng-if="task.needsDocumentsOnFinish" class="fa fa-shield" aria-hidden="true"></i>
                    </h3>
                    <table class="table">
                        <tr>
                            <td>Дата начала: {{toLocalDateString(task.startingDate)}}</td>
                            <td>Дата завершения: {{ (task.finished) ? toLocalDateString(task.finishingDate) : toLocalDateString(task.dueDate)}}</td>
                            <td>Статус: {{task.status.name}}</td>
                            <td>Исполнитель: {{(task.executor.fullName) ? task.executor.fullName : '-'}}</td>
                        </tr>
                    </table>
                  
                    <div class="box-tools pull-right">
                        <button
                            ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                            class="btn btn-box-tool"
                            data-toggle="tooltip"
                            title="Удалить задачу"
                            ng-click="deleteTask(task)"
                            style="font-size: 1.25em;">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button
                            ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                            class="btn btn-box-tool word-btn"
                            data-toggle="tooltip"
                            title="Редактировать" 
                            ng-click="editTask(task)">
                            <i class="fa fa-pencil-square-o fa-lg"  style="font-size: 1.25em;"></i>
                        </button>
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Детали" style="font-size: 1.25em;">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                    </div>                  
                </div>

                <div class="box-body">
                    <div ng-include="documentsListTemplate.url" ng-init="documents = task.documents"></div>

                    <div class="col-md-12" ng-if="task.finished && task.commentComplete">
                        <h4>Комментарий завершения:</h4> {{task.commentComplete}}
                        <br/><br/>
                    </div>

                    <div ng-include="commentsListTemplate.url" ng-init="objType='task';objID=task.id;commentText='';comments = task.comments"></div>                
                   
                    <div
                        ng-if="!task.finished"
                        class="pull-right col-md-3">
                        <button
                            ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id) || (currentUser._id === task.executor._id)"                          
                            class="btn btn-primary btn-block margin-bottom"
                            ng-click="finishTask(task)">
                            <i ng-if="task.needsDocumentsOnFinish" class="fa fa-shield" aria-hidden="true"></i> Завершить
                        </button>
                    </div>                   
                </div>
            </div>
        </div>
        
        <div ng-init="subTasks = subTasks(task)">        
            <div ng-repeat="subTask in subTasks | filterTasksByUserRights:currentUser:currentProject">
                <div class="col-md-11 col-md-offset-1 padding-lr-none">
                    <div class="box collapsed-box">
                        <div class="box-header ">
                            <h3 class="box-title">
                                <span class="box-tools name-collapse" data-widget="collapse" data-toggle="tooltip" title="{{subTask.description}}">
                                    {{subTask.title}}
                                </span>
                                <span ng-class="{'fa fa-circle-style2 fa-circle': subTask.finished, 'fa fa-circle-style fa-circle': isOverTime(subTask), 'fa fa-circle-style3 fa-circle': isLateFinish(subTask)}"></span>
                                <i ng-if="subTask.needsDocumentsOnFinish" class="fa fa-shield" aria-hidden="true"></i>
                            </h3>
                            <table class="table">
                                <tr>
                                    <td>Дата начала: {{toLocalDateString(subTask.startingDate)}}</td>
                                    <td>Дата завершения: {{ (subTask.finished) ? toLocalDateString(subTask.finishingDate) : toLocalDateString(subTask.dueDate)}}</td>
                                    <td>Статус: {{subTask.status.name}}</td>
                                    <td>Исполнитель: {{(subTask.executor.fullName) ? subTask.executor.fullName : '-'}}</td>
                                </tr>
                            </table>
                        
                            <div class="box-tools pull-right">
                                <button
                                    ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                                    class="btn btn-box-tool"
                                    data-toggle="tooltip"
                                    title="Удалить задачу"
                                    ng-click="deleteTask(subTask)"
                                    style="font-size: 1.25em;">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button
                                    ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                                    class="btn btn-box-tool word-btn"
                                    data-toggle="tooltip"
                                    title="Редактировать"
                                    ng-click="editTask(subTask)">
                                    <i class="fa fa-pencil-square-o fa-lg"  style="font-size: 1.25em;"></i>
                                </button>
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Детали" style="font-size: 1.25em;">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                            </div>                  
                        </div>

                        <div class="box-body">
                            <div ng-include="documentsListTemplate.url" ng-init="documents = subTask.documents"></div>

                            <div class="col-md-12" ng-if="subTask.finished && subTask.commentComplete">
                                <h4>Комментарий завершения:</h4> {{subTask.commentComplete}}
                                <br/><br/>
                            </div>

                            <div ng-include="commentsListTemplate.url" ng-init="objType='task';objID=subTask.id;commentText='';comments = subTask.comments"></div>                        
                        
                            <div
                                ng-if="!subTask.finished"
                                class="pull-right col-md-3">
                                <button
                                    ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id) || (currentUser._id === subTask.executor._id)"
                                    class="btn btn-primary btn-block margin-bottom"
                                    ng-click="finishTask(subTask)">
                                    <i ng-if="subTask.needsDocumentsOnFinish" class="fa fa-shield" aria-hidden="true"></i> Завершить
                                </button>
                            </div>                   
                        </div>
                    </div>
                </div>         
            </div>          
        </div>       
</div>
