<style>
.fc-datetime-widget {
    display: table;
    width: 100%;
    border: 1px solid #d2cccc;
}

.fc-datetime-widget-row {
    display: table-row;
}

.fc-datetime-widget-row-cell {
    display: table-cell;
    vertical-align: middle;
}

.fc-datetime-widget-clear-button {
    display: none;
}

.fc-datetime-widget-clear-button i {
    margin: 0px 5px;
}

.fc-datetime-widget-icon {       
}         

.fc-datetime-widget-icon i {
    margin: 0px 5px;
}

.fc-datetime-widget-clear-button:hover i {
    font-weight: bold;
}

table thead th {
    vertical-align: top !important;
    background-color: #e8e8e8 !important;
}

table tbody tr td {
    vertical-align: top !important;
}
</style>

<navbar></navbar>

<div class="proposalTab">
     <div class="row">
        <div class="col-md-8">
            <h2 class="heading">Список задач</h2>
        </div>
        <div class="col-lg-4" style="text-align: right; margin:0; padding: 0;">
            <div class="field">
                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                    <button
                        ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                        ng-click="savePlan()"
                        class="btn btn-success"
                        type="button">
                        Сохранить
                    </button>
                    <button
                        ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                        ng-click="cancel()"
                        class="btn btn-danger"
                        type="button">
                        Отменить
                    </button>
                </div>
            </div>
        </div>
    </div>    
 
    <div class="row" ng-cloak id="task-list">
        <div loading-container="tableDictionaries.settings().$loading">
            <table ng-table="tableTasks" class="table table-condensed" id="tableTasks">
                <thead>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Роль</th>
                    <th>Ответственный исполнитель</th>
                    <th>Необходимость закрывающих документов</th>
                    <th>Удалить</th>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="task in currentProject.tasks | filterTaskActive"                       
                        id="t{{task.id}}"
                        on-finish-render="ngRepeatFinished">
                        <td>
                            {{task.title}}                        
                        </td>

                        <td>
                            <textarea
                                rows="2"
                                cols="25"
                                name="description"
                                ng-model="task.description"
                                ng-disabled="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )"
                                ng-disabled="task.finished"
                                style="background-color: #e8e8e8;">
                            </textarea>
                        </td>

                        <td>
                            <div class="fc-datetime-widget">
                                <div class="fc-datetime-widget-row">
                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: white;">
                                        <div class="fc-datetime-widget-icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>

                                    <div class="fc-datetime-widget-row-cell">
                                        <input
                                            type="text"
                                            class="form-control pull-right"
                                            ng-model="task.startingDate"
                                            id="startingDate"
                                            data-taskid="{{task.id}}"
                                            ng-disabled="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )">
                                    </div>

                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: #e8e8e8;">
                                        <div
                                            ng-style="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )?{'pointer-events': 'none'}:{}"
                                            class="fc-datetime-widget-clear-button">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>                 
                        </td>

                        <td>
                            <div class="fc-datetime-widget">
                                <div class="fc-datetime-widget-row">
                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: white;">
                                        <div class="fc-datetime-widget-icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>

                                    <div class="fc-datetime-widget-row-cell">
                                        <input
                                            type="text"
                                            class="form-control pull-right"
                                            ng-model="task.dueDate"
                                            id="dueDate"
                                            data-taskid="{{task.id}}"
                                            ng-disabled="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )">
                                    </div>

                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: #e8e8e8;">
                                        <div
                                            ng-style="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )?{'pointer-events': 'none'}:{}"
                                            class="fc-datetime-widget-clear-button">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <select
                                id="role-manager"
                                ng-model="roleItem"
                                class="form-control"
                                ng-options="role as role.name for role in roles track by role.id"
                                ng-change="updateExecutors(task, roleItem)"
                                ng-disabled="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )"
                                ng-disabled="task.finished">
                                <option value="">Выберите роль...</option>
                            </select>
                        </td>

                        <td>
                            <select
                                id="proposal-manager"
                                class="form-control"
                                ng-model="task.executor"
                                ng-init="task.filteredUsers = users"
                                ng-options="user as user.fullName for user in task.filteredUsers track by user._id"
                                ng-disabled="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )"
                                ng-disabled="task.finished">
                                <option value="">Выберите исполнителя...</option>
                            </select>
                        </td>

                        <td>
                            <input
                                type="checkbox"
                                ng-model="task.needsDocumentsOnFinish"
                                style="width: 30px; height: 30px;margin: 0 auto;"
                                ng-disabled="(!( (currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)) )"
                                ng-disabled="task.finished"/>
                        </td>
                        

                        <td>
                            <button
                                ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                                class="btn btn-box-tool"
                                data-toggle="tooltip"
                                ng-attr-title="{{getRemoveTitle(task)}}"                               
                                ng-click="removeTask(task)"
                                ng-disabled="task.finished"
                                style="width: 40px; height: 40px; border: 1px solid #d2cccc; font-size: 1.5em;">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
function UTCToLocalTime( utc ) {
    var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
    return new Date( utc - timezoneOffset );
}

function resetDateTimeWidgets() {    
    [].slice.call( document.querySelectorAll( ".fc-datetime-widget" ) ).forEach( ( el ) => {       
        $( el.querySelector( "input" ) ).datepicker({           
            format: {                
                toDisplay: function( date, format, language ) {
                    var d = new Date( date );

                    var timestampString = d.toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );
                    timestampString = timestampString.replace( /(\d+)-(\d+)-(\d+)/, "$3.$2.$1" );

                    if ( /\d{2}:\d{2}:\d{2}/.test( timestampString ) ) {
                        var re = /\s/;
                        var tokens = timestampString.split( re );
                        timestampString = tokens[0];                      
                    }                

                    return timestampString;
                },
                toValue: function( date, format, language ) {
                    var timestampString = date;
                    if ( /\d+\.\d+\.\d+/.test( timestampString ) ) { // ru-RU
                        timestampString = timestampString.replace( /(\d+)\.(\d+)\.(\d+)/, "$3-$2-$1" );
                    }                 
                   
                    var result = new Date( timestampString );
                    return result;
                }
            },         
            language: "ru-RU",
            autoclose: true
        })
        .on( "changeDate", ( e ) => {
            el.querySelector( ".fc-datetime-widget-clear-button" ).style.display = "block";

            var inputEl = el.querySelector("input");    
            var targetTaskID = inputEl.dataset.taskid;         
            var targetTask = null;
            var tasks = angular.element( document.querySelector( "#task-list" ) ).scope().currentProject.tasks;           
            for ( var i = 0; i < tasks.length; i++ ) {
                var currentTask = tasks[i];
                if ( currentTask.id === targetTaskID ) {
                    targetTask = currentTask;
                    break;
                }
            }

            if ( targetTask ) {
                if ( inputEl.getAttribute("id") === "startingDate" ) {                
                    targetTask.startingDate = ( ( e.date ) ? ( e.date.toISOString() ) : ( "" ) );
                }
                else if ( inputEl.getAttribute("id") === "dueDate" ) {            
                    targetTask.dueDate = ( ( e.date ) ? ( e.date.toISOString() ) : ( "" ) );
                }
                angular.element( document.querySelector( "#task-list" ) ).scope().$apply();
            }
        });

        el.querySelector( ".fc-datetime-widget-clear-button" ).style.display = "block";           

        el.querySelector( ".fc-datetime-widget-clear-button" ).addEventListener( "click", () => {
            $( el.querySelector( "input" ) ).datepicker( "clearDates" );
            el.querySelector( ".fc-datetime-widget-clear-button" ).style.display = "none";
        });
        
        var date = el.querySelector( "input" ).value;    
       
        if ( date.length === 0 ) {
            return;
        }            

        var timestampString = date;        
        if ( /\d+-\d+-\d+/.test( timestampString ) ) { // ISO8601
            timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );
            timestampString = timestampString.replace( /(\d+)-(\d+)-(\d+)/, "$3.$2.$1" );

            var re = /\s/;
            var tokens = timestampString.split( re );

            timestampString = tokens[0];
        }
        else if ( /\d+\.\d+\.\d+/.test( timestampString ) ) { // ru-RU
            // timestampString = timestampString.replace( /(\d+)\.(\d+)\.(\d+)/, "$3-$2-$1" );
        }
        else {
            console.error( "Недопустимый формат даты " + timestampString );
            return;
        }
        
        el.querySelector( "input" ).value = timestampString;          
    });   
}

angular.element( document.querySelector( "#tableTasks" ) ).scope().$on( "ngRepeatFinished", function( ngRepeatFinishedEvent ) {
    resetDateTimeWidgets();
});
</script>
