.links-list-delete-link-button {
    color: #c2c2c2;
    font-size: 20px;
    cursor: pointer;
}

.links-list-delete-link-button:hover {
    color: #CB3D39;
    font-size: 20px;
    cursor: pointer;
}

.links-list-download-link-button {
	cursor: pointer;
}