@fontSize: 14pt;

.label-default{
    background-color: transparent;
}
.status-title{
    /*background-color: #777;*/
    cursor: pointer;
}
.task-list-buttons-container{
    display: table;
}
.task-list-buttons-wrapper{
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}
.task-list-ok-button-disabled {
    font-size: @fontSize;
    color: #b8c4ce;
}
.task-list-ok-button-enabled {
    font-size: @fontSize;
    color: #717980;
}
.task-list-ok-button-enabled:hover {
    color: #77AC4E;
}
.task-list-edit-button-disabled {
    font-size: @fontSize;
    color: #b8c4ce;
}
.task-list-edit-button-enabled {
    font-size: @fontSize;
    color: #717980;
}
.task-list-edit-button-enabled:hover {
    color: #3973A7;
}
.task-list-finished-mark{
    font-size: @fontSize;
    color: #77AC4E;
}

.task-list-remove-button-enabled{
    font-size: @fontSize;
    color: #717980;
}
.task-list-remove-button-enabled:hover{
    font-size: @fontSize;
    color: #CB3D39;
}
.task-list-remove-button-disabled{
    font-size: @fontSize;
    color: #b8c4ce;
}

.task-list-description-container{
    color: #3973A7;
}
.task-list-task-label{
    font-size: 12pt;
    white-space: normal;
    color: #000;
}
