.new-user-form{
    .row{
        margin: 3px auto;
    }
    .hint{
        position: relative;
        top: 7px;
    }
    .project-name-link{
        margin-left: -15px;
        font-size: 14pt;
    }
    .checkbox{
        position:relative;
        left: 20px;
        height: 24px;
        width: 24px;
    }
}
