.tag-list-badge{
	display: inline-block;
	border-radius: 5px;
	margin-right: 2px;
	margin-left: 2px;
	background-color: #428BCA;
	color: #fff;
}

.tag-list-badge-text{
	font-size: 120%;
}

.tag-list-badge-table{
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.tag-list-remove-tag{
	font-size: 100%;
}

.tag-list-remove-tag:hover{
	color: #ff817e;
}