// .df-empty-text-list {
//     ul:before, ul:after {
//         content: "";
//         display: table;
//     }
//     ul:after {
//         clear: both;
//     }
//     ul {
//         zoom: 1;
//         /* For IE 6/7 (trigger hasLayout) */
//     }
//     ul {
//         padding: 0;
//         margin: 0;
//         li {
//             margin: 3px 5px;
//             padding: 2px 5px;
//             list-style: none;
//             display: block;
//             float: left;
//         }
//     }
// }
//

