﻿doctype html
html(lang="ru")
	head
		title=subject
		include style.css
	body
		div(class=commentType)
			if locals.fullName
				b= fullName 
					span  добавил комментарий к заявке 
			else
				p No fullName!
			a(href=proposalLink)= "№" + proposalNum
			= " (" + projectName + "):"
			p= comment
			p Статус: 
				b= commentTypeStr
			p Время: 
				b= dateTimeNotification