<style>
  body {
    /*background: #eee;*/
  }
  .success {
  	/*color: #3c763d;*/
  	color: #000;
	background: #dff0d8;
	border: 1px solid #d6e9c6;
	border-radius: 10px;
	padding: 50px;
  }
  .info {
  	/*color: #31708f;*/
  	color: #000;
  	background: #d9edf7;
	border: 1px solid #bce8f1;
	border-radius: 10px;
	padding: 50px;
  }
  .warning {
  	/*color: #8a6d3b;*/
  	color: #000;
  	background: #fcf8e3;
	border: 1px solid #faebcc;
	border-radius: 10px;
	padding: 50px;
  }
  .danger {
  	/*color: #a94442;*/
  	color: #000;
  	background: #f2dede;
	border: 1px solid #ebccd1;
	border-radius: 10px;
	padding: 50px;
  }
</style>