.login-form{
    width: 500px;
    margin: 0 auto;
    #remember-me{
        display: inline;
        margin: 0;
        padding: 0;
        height: 16px;
        width: 16px;
    }
    label[for=remember-me]{
        margin-left: 5px;
        display: inline;
        position: relative;
        bottom: 4px;
        line-height: 16px;
        font-size: 16px;
    }
}