.df-date-input {
    .input-group-addon {
        .glyphicon-ok {
            color: green;
        }
        .glyphicon-ban-circle {
            color: red;
        }
    }
    .df-date-input-calendar-wrapper {
        position: absolute;
        z-index: 5;
        background-color: white;
    }
    df-date-input-calendar-wrapper.hidden {
        display: none;
    }
    df-date-input-calendar-wrapper.visible {
        display: block;
    }
}
