<style>
	.navbar-header {
		display: block;
	}
</style>

<h1>О системе</h1>

<p>Система предназначена для управления активами предприятия.</p>

<p>Обладает следующими функциями:
<ul>
	<li>Добавление проекта предприятия</li>
	<li>Создание задач по передаче управления</li>
	<li>Формирование рабочих групп</li>
	<li>Установка времени выполнения</li>
	<li>Генерация отчетов по ходу выполнения проекта</li>
</ul>
</p>