<style>
    .navbar-header {
        display: block;
    }
</style>

<div class="row">
    <img src="/images/FinCase_logo.png" style="position: relative; float: left;">
    <h1 style="position: relative; float: left;">: Напишимте нам</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <form id="feedbackForm" class="form feedback-partial">
            <!--<img id="formLoader2" src="/Content/imgs/loader.gif">-->
            <!--<p class="restyle-font">заполните форму и с Вами свяжется наш специалист</p>-->

            <div class="row">
                <div class="form-group col-md-12">
                    <b><span class="required">*</span>Имя</b>
                    <input type="text" class="form-control feedback-control" ng-model="feedback.name" placeholder="Имя" required>
                    <div id="feedbackNameReq"><span class="required">*</span>Введите имя</div>
                </div>
                
                <div class="form-group padding-r-l-none col-md-6">
                    <b><span class="required">*</span>E-mail</b>
                    <input type="text" class="form-control feedback-control" ng-model="feedback.email" placeholder="E-Mail" required>
                    <div id="feedbackEmailReq"><span class="required">*</span>Введите E-mail</div>
                </div>

                <div class="form-group padding-r-l-none margin-right-large no-standart-width col-md-6">
                    <b>Контактный телефон</b>
                    <input type="text" class="form-control feedback-control" ng-model"feedback.phoneNum" placeholder="Контактный телефон"
                           pattern="(\+?\d[- .]*){7,13}">
                    <div id="feedbackPhoneNumReq"><span class="required">*</span>Введите номер телефона</div>
                </div>

                <div class="form-group col-md-12">
                    <b><span class="required">*</span>Текст сообщения</b>
                    <textarea rows="6" class="form-control feedback-control" ng-model="feedback.message" placeholder="Напишите нам..." required> </textarea>
                    <div id="feedbackMessageReq"><span class="required">*</span>Введите текст сообщения</div>
                </div>

                <div class="form-group col-md-12">
                    <div class="g-recaptcha" data-sitekey="6LdaxxoTAAAAAAFmP2sJXj65V4HjuPBpa5ecL-o3"></div>
                </div>
                
                <div id="errorFeedback">
                    <h3>Во время отправки заявки возникла ошибка. Повторите попытку позднее...</h3>
                </div>
            </div>
            <!--<div id="feedbackCaptcha"></div>
            <div id="feedbackCaptchaReq"><span class="required">*</span>Заполните правильно Captcha</div>-->
            <button type="button" class="btn btn-primary btn" ng-click="sendFeedback();">Отправить</button>
        </form>

        <div id="successFeedback">
            <h3>Заявка успешно принята</h3>
        </div>
    </div>

</div>

<style>
    .feedback-partial {
        padding-left:30px !important;
        padding-right:30px !important;
    }
     .form-control::-webkit-input-placeholder {
        color:#7b7b7b;
    }
    .form-control:-moz-placeholder {
        color:#7b7b7b;
    }
    .button-top-feedback {
        margin-top: 20px;
    }
    .form-control{
        border-radius:2px;
    }
   
    .feedback-control {
        height:55px;
        padding-left:0;
        padding-right:0;
    }
    .form {
         padding: 30px;
       
    }
    #formLoader2 {
        display: none;
    }

    span.required {
        color: red;
        margin-right: 5px;
    }

    #feedbackCaptcha {
        width: 304px;
        margin: 10px auto;
        transform: scale(0.9);
        transform-origin: 0 0;
    }

    #feedbackNameReq, #feedbackPhoneNumReq, #feedbackEmailReq, #feedbackCaptchaReq,
    #successFeedback, #errorFeedback, #feedbackMessageReq {
        display: none;
        font-weight: bold;
    }

    #successFeedback {
        color: #414141;
    }
    #errorFeedback {
        color: #414141;
        border-bottom:1px dashed #414141;
    }
    #successFeedback h3 {
        color:#ededed;
        font-weight:100 !important;
    }
</style>

<script src='https://www.google.com/recaptcha/api.js'></script>