<!--<link rel="stylesheet" href="/styles/main2.css">-->

<style>
	header, footer, .control-sidebar {
		display: none;
	}

	.skin-blue .wrapper {
		background-color: #f1f1f1 !important;
	}
</style>
<div id="login-form"> </div>
<div class="login-box">
 	<div class="login-logo">
    	<a href=""><span class="slogo-word-login">AMS</span><span class="logo-slogo-admin"> Управление активами</span></a>
  	</div><!-- /.login-logo -->
  	<div class="login-box-body">
		<form name="ams.login">
			<div class="form-group has-feedback">
				<input type="text" ng-model="account.login" id="login" name="login" class="form-control" placeholder="Имя пользователя">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" ng-model="account.password" id="password" name="password" class="form-control" placeholder="Пароль">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
						<label>
							<input type="checkbox" ng-model="account.remember" id="rememberme" name="rememberme"> Запомнить меня
						</label>
					</div>
				</div><!-- /.col -->
				<div class="col-xs-4">
					<button type="button" class="btn btn-primary btn-block btn-flat" ng-click="signIn()">Войти</button>
				</div><!-- /.col -->
			</div>
		</form>
	</div><!-- /.login-box-body -->
   <!--<a href="#">Я забыл пароль</a><br>
    <a href="register.html" class="text-center">Зарегестрироватся</a>-->
</div><!-- /.login-box -->