<h1>DASHBOARD</h1>

<div style="display: table; width: 100%;">
    <div style="display: table-row;">
        <div style="display: table-cell; width: 25%;">
            <div style="width: auto; height: 100px; margin: 10px; background-color: #3d517f; border: 1px solid black;">
                <div style="display: table; width: 100%; height: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; width: 30%; vertical-align: middle;" align="center">
                            <span style="font-size: 4em;">
                                <i class="fa fa-cubes" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 60%; vertical-align: middle;" align="center">
                            <span style="font-size: 1.5em;">
                                <a href="/#/projects">Проекты ( {{availableProjects.length}} )</a>                              
                            </span>
                        </div>
                        <div style="display: table-cell; width: 10%; vertical-align: middle;" align="center">
                            <span style="font-size: 2em;">
                                <div class="dropdown">
                                    <a data-target="#" href="" data-toggle="dropdown" class="dropdown-toggle">
                                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li
                                            ng-repeat="project in availableProjects">                                         
                                            <a href="#/projects/{{project._id}}/main" target="_blank">{{project.name}}</a>
                                        </li>                                      
                                    </ul>
                                </div>
                            </span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <div style="display: table-cell; width: 25%;">
            <div style="width: auto; height: 100px; margin: 10px; background-color: #f7c128; border: 1px solid black;">
                <div style="display: table; width: 100%; height: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; width: 30%; vertical-align: middle;" align="center">
                            <span style="font-size: 4em;">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 60%; vertical-align: middle;" align="center">
                            <span style="font-size: 1.5em;">
                                <a href="">
                                Задачи ( {{totalTaskCount}} )
                                </a>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 10%; vertical-align: middle;" align="center">
                            <span style="font-size: 2em;">
                                <div class="dropdown">
                                    <a data-target="#" href="" data-toggle="dropdown" class="dropdown-toggle">
                                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </a>                                  
                                    <ul class="dropdown-menu">                                            
                                        <li
                                            ng-repeat="task in availableTasks track by $index">
                                            <a
                                                href="#/projects/{{task.projectID}}/tasks"
                                                target="_blank">
                                                {{task.title}}
                                            </a>
                                        </li>                                   
                                    </ul>
                                </div>
                            </span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <div style="display: table-cell; width: 25%;">
            <div style="width: auto; height: 100px; margin: 10px; background-color: red; border: 1px solid black;">
                <div style="display: table; width: 100%; height: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; width: 30%; vertical-align: middle;" align="center">
                            <span style="font-size: 4em;">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 60%; vertical-align: middle;" align="center">
                            <span style="font-size: 1.5em;">
                                <a href="">События ( 4 )</a>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 10%; vertical-align: middle;" align="center">
                            <span style="font-size: 2em;">
                                <div class="dropdown">
                                    <a data-target="#" href="" data-toggle="dropdown" class="dropdown-toggle">
                                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Стоимость актива изменилась в связи получением решения по документу x</a></li>
                                        <li><a href="#">Получен платеж в рамках исполнения обязательств c дебитором x</a></li>                                       
                                        <li><a href="#">Выполнен платеж в рамках исполнения обязательств с кредитором x</a></li>
                                        <li><a href="#">Документ x отправлен в арбитражный суд, рассмотрение состоится x в x</a></li>
                                        <!--<li class="divider"></li>-->
                                    </ul>
                                </div>
                            </span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <div style="display: table-cell; width: 25%;">
            <div style="width: auto; height: 100px; margin: 10px; background-color: #5b6773; border: 1px solid black;">
                <div style="display: table; width: 100%; height: 100%;">
                    <div style="display: table-row;">
                        <div style="display: table-cell; width: 30%; vertical-align: middle;" align="center">
                            <span style="font-size: 4em;">
                                <i class="fa fa-inbox" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 60%; vertical-align: middle;" align="center">
                            <span style="font-size: 1.5em;">
                                <a href="">Сообщения ( 0 )</a>
                            </span>
                        </div>
                        <div style="display: table-cell; width: 10%; vertical-align: middle;" align="center">
                            <span style="font-size: 2em;">
                                <div class="dropdown">
                                    <a data-target="#" href="" data-toggle="dropdown" class="dropdown-toggle">
                                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">                                      
                                    </ul>
                                </div>
                            </span>
                        </div>
                    </div>   
                </div>
            </div>
        </div>     

    </div>   
</div>


<div style="display: table; width: 100%; margin-top: 50px;"> 
    <div style="display: table-row;">
        <div style="display: table-cell; width: 50%;">
            <h3>Изменение балансовой стоимости активов</h3>
            <div id="chart1" class="with-3d-shadow with-transitions" style="height: 500px;">
                <svg></svg>
            </div>
        </div>

        <div style="display: table-cell; width: 50%;">
            <h3>Распределение дебиторов по сумме задолженности</h3>
            <div id="chart2" class="with-3d-shadow with-transitions" style="height: 500px;">
                <svg></svg>
            </div>     
        </div>
    </div>
</div>


<link href="../libs/novus-nvd3/build/nv.d3.min.css" rel="stylesheet">

<script src="../libs/novus-nvd3/build/d3.min.js"></script>
<script src="../libs/novus-nvd3/build/nv.d3.min.js"></script>
<script src="../libs/novus-nvd3/examples/lib/stream_layers.js"></script>

<script>
nv.addGraph(function() {
    var chart = nv.models.multiBarChart()
        //.transitionDuration(350)
        .reduceXTicks(true)
        .rotateLabels(0) 
        .showControls(true)
        .groupSpacing(0.1);

    chart.xAxis
        .tickFormat(d3.format(',f'));

    chart.yAxis
        .tickFormat(d3.format(',.1f'));

    d3.select('#chart1 svg')
        .datum(exampleData())
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
});

function exampleData() {
    return stream_layers(3,10+Math.random()*100,.1).map(function(data, i) {
        return {
            key: 'Stream #' + i,
            values: data
        };
    });
}
</script>

<script>
nv.addGraph(function() {
  var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .showLabels(true) 
      .labelThreshold(.05)
      .labelType("percent")
      .donut(true)
      .donutRatio(0.35);

    d3.select("#chart2 svg")
        .datum(exampleData2())
        .transition().duration(350)
        .call(chart);

  return chart;
});

function exampleData2() {
  return  [
      { 
        "label": "ГК СпецСтройМонтаж",
        "value" : 29.765957771107
      } , 
      { 
        "label": "ООО Альфа",
        "value" : 0
      } , 
      { 
        "label": "ОАО Атомное приборостроение",
        "value" : 32.807804682612
      } , 
      { 
        "label": "ИП Иванов ИИ",
        "value" : 196.45946739256
      } , 
      { 
        "label": "ОАО Звезда",
        "value" : 0.19434030906893
      } , 
      { 
        "label": "ЗАО Энергия",
        "value" : 98.079782601442
      } , 
      { 
        "label": "ООО СпецТехника",
        "value" : 13.925743130903
      } , 
      { 
        "label": "ОАО Счетмаш",
        "value" : 5.1387322875705
      }
    ];
}
</script>
