<style>
    ya-map {
	    width: 100%;
	    height: 400px;
	    display: block
	}
</style>

<div>
	<div class="col-lg-12">
    <div class="col-lg-12">
        <h1>Статистика по заявкам</h1>
    </div>

    <div ng-show="isLoading" class="load-indicator">Идет загрузка данных ...</div>

<div ng-show="!isLoading">
	    <div class="col-lg-12">
        <div class="row">
			<div class="form-group">
				<label for="status-list">Статус:</label>
				<select id="status-list" style="min-width:250px;" class="form-control input-sm" multiple=""
					ng-model="selected.statuses" ng-options="status.id as status.title for status in project.statuses" ng-change="loadProject()">
				</select>
			</div>
		</div>
    </div>

    <div class="col-lg-12">
        <div class="row">
			<div class="form-group">
				<label for="type-list">Тип:</label>
				<select id="type-list" style="min-width:250px;" class="form-control input-sm" multiple=""
						ng-model="selected.objectTypes" ng-options="type.value as type.value for type in project.templates[0].fields[0].listItems" ng-change="loadProject()">
				</select>
			</div>
		</div>
    </div>

    <div class="col-lg-12">
        <div class="row">
        	<div class="form-group">
					<label>Площадь:</label>
					<select id="area-list" style="min-width:250px;" class="form-control input-sm" multiple=""
							ng-model="selected.areaSizeTypes" ng-change="loadProject()">
						<option value="0-1">не указана</option>
						<option value="1-100">до 100 кв.м</option>
						<option value="100-200">101-200 кв.м</option>
						<option value="200-400">201-400 кв.м</option>
						<option value="400-500">401-500 кв.м</option>
						<option value="500-1000">501-1000 кв.м</option>
						<option value="1000-3000">1001-3000 кв.м</option>
						<option value="3000-5000">3001-5000 кв.м</option>
						<option value="5000-100000">свыше 5000 кв.м</option>
					</select>
				</div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
        	<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-form navbar-left">
						<div class="form-group">
							<label>Дата создания:</label>
							<div class="input-group input-group-sm date" style="width:150px;">
								<div class="input-group date">
		  							<input type="text" class="form-control" ng-model="selected.startDate" ng-change="loadProject()">
		  							<span class="input-group-addon">
		  								<i class="glyphicon glyphicon-calendar"></i>
		  							</span>
								</div>
							</div>
						</div>
						<div class="form-group margin-left">
							<div class="input-group input-group-sm date" style="width:150px;">
								<div class="input-group date">
		  							<input type="text" class="form-control" ng-model="selected.endDate" ng-change="loadProject()">
		  							<span class="input-group-addon">
		  								<i class="glyphicon glyphicon-calendar"></i>
		  							</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
        </div>
    </div>

    <div class="col-lg-12" style="margin-bottom: 10px;">
    	<div class="row">
    		<button type="button" class="btn btn-primary" ng-click="updateMapFor(2014)">2014</button>&nbsp;
    		<button type="button" class="btn btn-danger" ng-click="updateMapFor(2015)">2015</button>
    	</div>
    </div>

</div>
</div>

<div ng-show="!isLoading" class="row">
	<div class="col-lg-12">
		<div class="col-md-3 col-sm-6">
			<i class="fa fa-building-o margin-right-sm"></i>Объектов показано/всего
			<p>{{visibleCount}}/{{totalCount}}</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<i class="fa fa-check-square-o margin-right-sm"></i>Объектов со стоимостью
			<p>{{avgPriceCount}}</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<i class="fa fa-money margin-right-sm"></i>Средняя стоимость
			<p class="lead"><span>{{avgPrice}}</span> <i class="fa fa-rouble"></i>/м<sup>2</sup></p>
		</div>
		<div class="col-md-3 col-sm-6">
			Мин<i class="fa fa-arrows-h margin-left-sm margin-right-sm"></i>Макс
			<p>
				<span>{{intervalLower}}</span><i class="fa fa-arrows-h margin-left-sm margin-right-sm"></i>
				<span>{{intervalUpper}}</span><i class="fa fa-rouble"></i>/м<sup>2</sup>
			</p>
		</div>
	</div>
</div>

<div ng-show="!isLoading" class="row">
	<div class="col-md-12">
		<div id="projectMap" style="width: 100%; height: 500px;"></div>
	</div>
</div>
</div>

<script type="text/javascript">

    $('#status-list').select2({placeholder: "Выберите статус"});
    $('#type-list').select2({placeholder: "Выберите тип"});
    $('#area-list').select2({placeholder: "Выберите площадь"});

    $('.input-group.date').datepicker({
        language: "ru",
        autoclose: true
    });
</script>
