<navbar></navbar>
<div class="row proposal-form">
    <div class="col-lg-12">
        <div class="col-lg-7">
            <div class="col-lg-4">
                <div class="field" ng-class="hasNumber">
                    <label htmlFor="proposal-number">Номер</label>
                    <div class="input-group" id="proposal-number">
                        <span class="input-group-addon">#</span>
                        <input ng-model="proposal.number" ng-change="changeNumber()" type="text" class="form-control" placeholder="Номер">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="field">
                    <label htmlFor="proposal-type">Тип проекта</label>
                    <div class="input-group" id="proposal-type">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span>
                        <input ng-model="proposal.type.name" type="text" class="form-control" placeholder="Тип проекта" disabled>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="field">
                    <label htmlFor="proposal-name">Полное наименование организации</label>
                    <div class="input-group" id="proposal-name">
                        <span class="input-group-addon"><i class="fa fa-university"></i></span>
                        <input ng-model="proposal.name" type="text" class="form-control" placeholder="Полное наименование организации">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="field">
                    <label htmlFor="proposal-shortname">Сокращенное наименование организации</label>
                    <div class="input-group" id="proposal-shortname">
                        <span class="input-group-addon"><i class="fa fa-university"></i></span>
                        <input ng-model="proposal.shortName" type="text" class="form-control" placeholder="Сокращенное наименование организации">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="field" ng-class="hasAddress">
                    <label htmlFor="proposal-address">Юридический адрес</label>
                    <div class="input-group" id="proposal-address">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
                        <input id="address" ng-model="proposal.address" ng-change="changeAddress()" ng-blur="updateAddress()" type="text" class="form-control" placeholder="Юридический адрес">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="field">
                    <label htmlFor="proposal-inn">ИНН</label>
                    <div class="input-group" id="proposal-inn">
                        <span class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        <input ng-model="proposal.inn" type="text" class="form-control" placeholder="ИНН">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="field">
                    <label htmlFor="proposal-kpp">КПП</label>
                    <div class="input-group" id="proposal-kpp">
                        <span class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        <input ng-model="proposal.kpp" type="text" class="form-control" placeholder="КПП">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="field">
                    <label htmlFor="proposal-ogrn">ОГРН</label>
                    <div class="input-group" id="proposal-ogrn">
                        <span class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        <input ng-model="proposal.ogrn" type="text" class="form-control" placeholder="ОГРН">
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="field">
                    <label htmlFor="proposal-okato">ОКАТО</label>
                    <div class="input-group" id="proposal-okato">
                        <span class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        <input ng-model="proposal.okato" type="text" class="form-control" placeholder="ОКАТО">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="field">
                    <label htmlFor="proposal-oktmo">ОКТМО</label>
                    <div class="input-group" id="proposal-oktmo">
                        <span class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        <input ng-model="proposal.oktmo" type="text" class="form-control" placeholder="ОКТМО">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="field">
                    <label htmlFor="proposal-okved">ОКВЭД</label>
                    <div class="input-group" id="proposal-okved">
                        <span class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                        <input ng-model="proposal.okved" type="text" class="form-control" placeholder="ОКВЭД">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="field">
                    <label htmlFor="proposal-director">Генеральный директор</label>
                    <div class="input-group" id="proposal-director">
                        <span class="input-group-addon"><i class="fa fa-male" aria-hidden="true"></i></span>
                        <input ng-model="proposal.head.director" type="text" class="form-control" placeholder="Генеральный директор">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="field">
                    <label htmlFor="proposal-buhgalter">Главный бухгалтер</label>
                    <div class="input-group" id="proposal-buhgalter">
                        <span class="input-group-addon"><i class="fa fa-male" aria-hidden="true"></i></span>
                        <input ng-model="proposal.head.buhgalter" type="text" class="form-control" placeholder="Главный бухгалтер">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 100px;">
                <div class="col-lg-8">
                    <div class="field">
                        <label htmlFor="proposal-bankname">Банк</label>
                        <div class="input-group" id="proposal-bankname">
                            <span class="input-group-addon"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                            <input ng-model="proposal.bank.name" type="text" class="form-control" placeholder="Банк">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="field">
                        <label htmlFor="proposal-bik">БИК</label>
                        <div class="input-group" id="proposal-bik">
                            <span class="input-group-addon">БИК</span>
                            <input ng-model="proposal.bank.bik" type="text" class="form-control" placeholder="БИК">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="field">
                        <label htmlFor="proposal-bankaccount">Расчетный счет</label>
                        <div class="input-group" id="proposal-bankaccount">
                            <span class="input-group-addon">р/сч</span>
                            <input ng-model="proposal.bank.account" type="text" class="form-control" placeholder="Расчетный счет">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="field">
                        <label htmlFor="proposal-bankraccount">Кор. счет</label>
                        <div class="input-group" id="proposal-bankraccount">
                            <span class="input-group-addon">к/сч</span>
                            <input ng-model="proposal.bank.raccount" type="text" class="form-control" placeholder="Кор. счет">
                        </div>
                    </div>
                </div>
            

            <div class="col-lg-12" style="margin-top: 20px;">
                <div class="field" id="docs-list"></div>
                <div class="col-md-12" ng-if='uploading'>
                    <!--<h3>Очередь загрузки</h3>
                    <p>Размер очереди: {{ uploader.queue.length }}</p>/-->

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Имя файла</th>
                            <th ng-show="uploader.isHTML5">Размер</th>
                            <th ng-show="uploader.isHTML5">Прогресс</th>
                            <th>Статус</th>
                            <!--<th>Действия</th>/-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" ng-style="{ 'width': item.progress + '%' }">{{item.progress + '%'}}</div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-5">
        <div class="col-lg-12" style="margin-bottom: 20px;">
            <div class="col-lg-12" style="text-align: right; margin:0; padding: 0;">
                <div class="field">
                    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                        <button ng-click="save()" class="btn btn-success" type="button">Сохранить</button>
                        <button ng-click="cancel()" class="btn btn-danger" type="button">Отменить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="margin-bottom: 20px;">

            <div class="map field" id="map"></div>
        </div>
    </div>
</div>

