<style>
.fc-remove-button {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: 1px solid #d2cccc;
    font-size: 1.5em;        
}

.fc-datetime-widget {
    display: table;
    width: 100%;
    border: 1px solid #d2cccc;
}

.fc-datetime-widget-row {
    display: table-row;
}

.fc-datetime-widget-row-cell {
    display: table-cell;
    vertical-align: middle;
}

.fc-datetime-widget-clear-button {
    display: none;
}

.fc-datetime-widget-clear-button i {
    margin: 0px 5px;
}

.fc-datetime-widget-icon {       
}         

.fc-datetime-widget-icon i {
    margin: 0px 5px;
}

.fc-datetime-widget-clear-button:hover i {
    font-weight: bold;
}

table thead th {
    vertical-align: top !important;
    background-color: #e8e8e8 !important;
}

table tbody tr td {
    vertical-align: top !important;
}
</style>

<navbar></navbar>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2 class="heading">Проект
                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="..." ng-if="editMode">
                    <button ng-click="save()" class="btn btn-success" type="button">Сохранить</button>
                    <button ng-click="cancel()" class="btn btn-danger" type="button">Отменить</button>
                </div>
                <div class="btn-group btn-group-sm pull-right" role="group" ng-if="!editMode">
                    <button
                        ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === currentProject.owner._id) || (currentUser._id === currentProject.manager._id)"
                        type="button"
                        class="btn btn-primary"
                        ng-click="edit()">
                        Редактировать                  
                    </button>                  
                </div>
            </h2>
        </div>
        <div class="col-md-12">
            <form class="project-form">
                <div class="form-group proj-form-group">
                    <label for="project-num">Номер <span class="required">*</span></label>
                    <input ng-model="currentProject.number" ng-change="changeNumber()" type="text" class="form-control minus-m-width" id="project-num" placeholder="№" ng-disabled="!editMode" required minlength="1">
                </div>
                <div class="form-group proj-form-group">
                    <label for="project-name">Название <span class="required">*</span></label>
                    <input ng-model="currentProject.name" type="text" class="form-control minus-m-width" id="project-name" placeholder="Название" ng-disabled="!editMode" required minlength="3">
                </div>              
                <div class="form-group proj-form-group ">
                    <label for="project-type">Тип</label>
                    <select class="form-control" placeholder="Выберите тип проекта"
                        ng-init="currentProject.type = projectTypes[0]" ng-model="currentProject.type" ng-options="item.name for item in projectTypes track by item.id" id="project-type"
                        ng-disabled="!editMode">
                    </select>
                </div>

                <div class="form-group proj-form-group">
                    <label for="project-manager">Менеджер <span class="required">*</span></label>
                    <select id="project-manager" class="form-control"
                        ng-model="currentProject.manager" ng-options="user as user.fullName for user in managerUsers track by user._id" ng-disabled="!editMode" required>
                        <option value="">Выберите менеджера...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    class="row"
    ng-if="editMode || ( currentProject.orgs.length > 0 )">
    <div class="col-md-12">
        <h2 class="heading">Карточки предприятий
             <a href="" ng-click="addOrg()" ng-if="editMode">
                <i class="fa fa-plus add-proj">
                  <span>Добавить</span>
                </i>
              </a>
        </h2>
    </div>
</div>

<div
    class="row"
    ng-if="editMode || ( currentProject.orgs.length > 0 )">
    <div class="col-md-12 col-md-offset-0" ng-repeat="org in currentProject.orgs">
        <div class="small-box bg-grey">
            <div class="inner">
                <h4><a href="">{{org.name}}</a>
                    <button
                        ng-if="editMode"
                        class="btn btn-box-tool pull-right fc-remove-button"                   
                        data-toggle="tooltip"
                        title="Удалить предприятие" 
                        ng-click="removeOrg(org)"                      
                        style="margin-top: -10px;">
                        <i class="fa fa-trash" aria-hidden="true"></i>                           
                    </button>

                </h4>
            </div>
            <div class="box collapsed-box more-collapsed">
                <div class="box-header with-border more-header">
                    <div class="box-tools ">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-chevron-down"></i>
                            <span>Подробнее</span>
                        </button>
                    </div>
                </div>
                <div class="box-body padding-top-small padding-bottom-small">
                    <div class="col-md-6">
                        <form class="enterprise-form">
                            <div class="form-group">
                                <label for="org-name">Полное наименование организации</label>
                                <input ng-model="org.name" type="text" class="form-control" id="org-name" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group">
                                <label for="org-shortName">Сокращенное наименование организации</label>
                                <input ng-model="org.shortName" type="text" class="form-control" id="org-shortName" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group">
                                <label for="org-address">Юридический адрес</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    ng-model="org.address"
                                    ng-click="loadSuggestion(org)"
                                    ng-init="changeAddress(org)"
                                    ng-blur="changeAddress(org)"
                                    ng-attr-id="{{'org-address-' + org._id}}"
                                    placeholder=""
                                    ng-disabled="!editMode">
                            </div>

                            <div class="form-group s-type-group">
                                <label for="org-INN">ИНН</label>
                                <input ng-model="org.inn" type="text" class="form-control s-type minus-width" id="org-INN" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group s-type-group">
                                <label for="org-KPP">КПП</label>
                                <input ng-model="org.kpp" type="text" class="form-control s-type minus-width" id="org-KPP" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group s-type-group">
                                <label for="org-OGRN">ОГРН</label>
                                <input ng-model="org.ogrn" type="text" class="form-control s-type" id="org-OGRN" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group s-type-group">
                                <label for="org-OKTMO">ОКТМО</label>
                                <input ng-model="org.oktmo" type="text" class="form-control s-type minus-width" id="org-OKTMO" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group s-type-group">
                                <label for="org-OKVED">ОКВЭД</label>
                                <input ng-model="org.okved" type="text" class="form-control s-type minus-width" id="org-OKVED" placeholder="" ng-disabled="!editMode">

                            </div>
                            <div class="form-group s-type-group">
                                <label for="org-OKATO">ОКАТО</label>
                                <input ng-model="org.okato" type="text" class="form-control s-type" id="org-OKATO" placeholder="" ng-disabled="!editMode">
                            </div>

                            <div class="form-group m-type-group">
                                <label for="org-director">Генеральный директор</label>
                                <input ng-model="org.director" type="text" class="form-control m-type minus-m-width" id="org-director" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group m-type-group">
                                <label for="org-buhgalter">Главный бухгалтер</label>
                                <input ng-model="org.buhgalter" type="text" class="form-control m-type" id="org-buhgalter" placeholder="" ng-disabled="!editMode">
                            </div>

                            <div class="form-group m-type-group ">
                                <label for="bank-name">Банк</label>
                                <input ng-model="org.bank.name" type="text" class="form-control m-type minus-m-width" id="bank-name" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group m-type-group">
                                <label for="bank-BIK">БИК</label>
                                <input ng-model="org.bank.bik" type="text" class="form-control m-type" id="bank-BIK" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group m-type-group ">
                                <label for="bank-account">Расчетный счет</label>
                                <input ng-model="org.bank.account" type="text" class="form-control m-type minus-m-width" id="bank-account" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group m-type-group">
                                <label for="bank-coraccount">Коррекционный счет</label>
                                <input ng-model="org.bank.raccount" type="text" class="form-control m-type" id="bank-coraccount" placeholder="" ng-disabled="!editMode">
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6">                        
                        <div class="map field" ng-attr-id="{{'map-' + org._id}}"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div
    class="row"
    ng-if="editMode || ( currentProject.arbitrationManagers.length > 0 )">
    <div class="col-md-12">
        <h2 class="heading">
            Карточки арбитражных управляющих
            <a href="" ng-click="addArbitrationManager()" ng-if="editMode">
                <i class="fa fa-plus add-proj">
                <span>Добавить</span>
                </i>
            </a>
        </h2>
    </div>
</div>

<div
    class="row"
    id="arbitrationManagersTable"
    ng-if="editMode || ( currentProject.arbitrationManagers.length > 0 )">
    <div
        id="arbitrationManagersTableRow"
        class="col-md-12 col-md-offset-0"
        ng-repeat="arbitrationManager in currentProject.arbitrationManagers track by $index"
        data-objid={{arbitrationManager._id}}     
        on-finish-render="ngRepeatFinished">
        <div class="small-box bg-grey">
            <div class="inner">
                <h4>
                    <a href="">{{arbitrationManager.name}}&nbsp;{{arbitrationManager.lastName}}</a>
                    <button
                        ng-if="editMode"
                        class="btn btn-box-tool pull-right fc-remove-button"
                        data-toggle="tooltip"
                        title="Удалить менеджера" 
                        ng-click="removeArbitrationManager(arbitrationManager)"                        
                        style="margin-top: -10px;">
                        <i class="fa fa-trash" aria-hidden="true"></i>                           
                    </button> <!-- ng-if="editMode && currentRole.editAllTasks" -->
                </h4>
            </div>
            <div class="box collapsed-box more-collapsed">
                <div class="box-header with-border more-header">
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-down"></i> <span>Подробнее</span>
                        </button>
                    </div>
                </div>
                <div class="box-body padding-top-small padding-bottom-small">
                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <label for="arbitrationManager-lastname">Фамилия</label>
                                <input ng-model="arbitrationManager.lastName" type="text" class="form-control" id="arbitrationManager-lastname" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group">
                                <label for="arbitrationManager-name">Имя</label>
                                <input ng-model="arbitrationManager.name" type="text" class="form-control" id="arbitrationManager-name" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group">
                                <label for="arbitrationManager-patronymic">Отчество</label>
                                <input ng-model="arbitrationManager.patronymic" type="text" class="form-control" id="arbitrationManager-patronymic" placeholder="" ng-disabled="!editMode">
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <label for="arbitrationManager-INN">ИНН</label>
                                <input ng-model="arbitrationManager.INN" type="text" class="form-control" id="arbitrationManager-INN" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group">
                                <label for="arbitrationManager-SNILS">Снилс</label>
                                <input ng-model="arbitrationManager.SNILS" type="text" class="form-control" id="arbitrationManager-SNILS" placeholder="" ng-disabled="!editMode">
                            </div>
                            <div class="form-group">
                                <label for="arbitrationManager-regnum">Рег. номер</label>
                                <input ng-model="arbitrationManager.regNum" type="text" class="form-control" id="arbitrationManager-regnum" placeholder="" ng-disabled="!editMode">
                            </div>

                        </form>
                    </div>

                    <div class="col-md-4 margin-bottom-medium">
                        <div class="form-group">
                            <label>Дата регистрации в реестре ФРС</label>
                            <div class="fc-datetime-widget">
                                <div class="fc-datetime-widget-row">
                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: white;">
                                        <div class="fc-datetime-widget-icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>

                                    <div class="fc-datetime-widget-row-cell">
                                        <input type="text" class="form-control pull-right" ng-model="currentProject.arbitrationManagers[$index].regDate" ng-disabled="!editMode" id="arbitrationManager-regDate">
                                    </div>

                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: #e8e8e8;">                                       
                                        <div class="fc-datetime-widget-clear-button" ng-style="{'pointer-events': (!editMode ? 'none' : 'all')}">                                          
                                            <i class="fa fa-times"></i>                                                     
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>

                        <div class="form-group">
                            <label for="arbitrationManager-SRO">СРО</label>
                            <input ng-model="arbitrationManager.SRO" type="text" class="form-control" id="arbitrationManager-SRO" placeholder="" ng-disabled="!editMode">
                        </div>

                        <div class="form-group">
                            <label>Дата вступления</label>
                            <div class="fc-datetime-widget">
                                <div class="fc-datetime-widget-row">
                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: white;">
                                        <div class="fc-datetime-widget-icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>

                                    <div class="fc-datetime-widget-row-cell">
                                        <input type="text" class="form-control pull-right" ng-model="currentProject.arbitrationManagers[$index].appointDate" ng-disabled="!editMode" id="arbitrationManager-appointDate">
                                    </div>

                                    <div class="fc-datetime-widget-row-cell" align="center" style="background-color: #e8e8e8;">
                                        <div class="fc-datetime-widget-clear-button" ng-style="{'pointer-events': (!editMode ? 'none' : 'all')}">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <h4>Список прикрепленных файлов</h4>
    <div class="col-md-12 table-wrap">
        <table class="table table-docs">
            <tr class="col-1">
                <td class="brown-text">
                    <a href="" ng-click="sortType = 'name'; sortReverse =!sortReverse" class="sort-link-type">
                      Название
                      <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="brown-text">
                    <a href="" ng-click="sortType = 'uploadDate'; sortReverse =!sortReverse" class="sort-link-type">
                      Дата 
                      <span ng-show="sortType == 'uploadDate' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'uploadDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="brown-text">
                    <a href="" ng-click="sortType = 'uploadUser.fullName'; sortReverse =!sortReverse" class="sort-link-type">
                      Добавил
                      <span ng-show="sortType == 'uploadUser.fullName' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'uploadUser.fullName' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td class="brown-text action-col">
                    <i class="font-up-main fa fa-cloud-download"></i>
                </td>
                <td class="brown-text action-col">
                    <i class="font-up-main fa fa-trash"></i>
                </td>
            </tr>
            <tr class="col-2" ng-repeat="doc in currentProject.documents | orderBy:sortType:sortReverse | filter:searchData">
                <td>
                    <a href="" ng-class="getLinkClass(doc.link)" ng-click="processDocument(doc)"><i ng-class="fileIcon(doc.type)"></i> {{doc.name}}</a>
                </td>
                <td>
                    {{toLocalDateString(doc.uploadDate)}}
                </td>
                <td>
                    {{doc.uploadUser.fullName}}
                </td>
                <td class="action-col">
                    <button                        
                        class="btn btn-box-tool"
                        data-toggle="tooltip"
                        ng-attr-title="{{getLinkWord(doc.link)}}"
                        ng-click="processDocument(doc)">
                        <i ng-class="getLinkFileIcon(doc.link)"></i>
                    </button>
                </td>
                <td class="action-col">
                    <button
                        ng-if="editMode"
                        class="btn btn-box-tool fc-remove-button"
                        data-toggle="tooltip"
                        title="Удалить"
                        ng-click="deleteDoc(currentProject.documents, doc)">
                        <i class="fa fa-trash" aria-hidden="true"></i> 
                    </button>
                </td>
            </tr>


        </table>
    </div>
</div>

<div class="col-md-12">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
        aria-valuenow="{{uploadedPercents}}" aria-valuemin="0" aria-valuemax="100" style="height:25px; width: {{uploadedPercents}}%"
        ng-if="uploadedPercents && uploadedPercents != 0 && uploadedPercents != 100">
        <span style="margin-top: 5px;">{{uploadedPercents}}%</span>
    </div>
</div>

<div class="col-md-4">
    <div class="mask-wrapper mask-wrapper-index">
        <div class="mask">
            <button class="file-button" ng-click="uploadFile(currentProject.documents, newDoc.name)">
                <span>Загрузить файл</span>
            </button>
            <!--<input class="fileInputText fileInputTextSubTask" type="text" ng-model="newDoc.name">-->
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="mask-wrapper mask-wrapper-index">
        <div class="mask">
            <button class="file-button add-file">
                <span>Загрузить URL</span>
            </button>
        </div>
    </div>
    <div class="hidden-block">
        <p class="close fa fa-close"></p>
        <form>
            <div class="form-group input-group">
                <label for="adress">Введите название файла</label>
                <input type="text" class="form-control" placeholder="Название ссылки" ng-model="newDoc.name">
            </div>
            <div class="form-group input-group">
                <label>Введите URL файла <span class="required">*</span></label>
                <input type="text" class="form-control" placeholder="http://" ng-model="newDoc.link">
            </div>
            <div class="form-group">
                <button class="file-button" ng-click="addLink(currentProject.documents, newDoc)">
                    <span>Загрузить URL</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-file').click(function() {
            $('.hidden-block').fadeIn();
            $('.hidden-block').addClass('block');
        });

        $('.close').click(function() {
            $('.hidden-block').fadeOut();
        });
    });
</script>