<style>
.fc-remove-button {	 
	width: 40px;
	height: 40px;
	padding: 0px;
	border: 1px solid #d2cccc;
	font-size: 1.5em;
}

table > thead > tr > th {
	vertical-align: top !important;
	font-weight: bold !important;
}
table > tbody > tr > td {
	vertical-align: top !important;
}

.navbar-header {
	display: block;
}
.container {
	width: 96%;
	margin-left: -3px;
}
.main-footer {
	margin-left: 0 !important;
	padding-left: 50px;
}	
</style>
<div class="col-md-12 padding-lr-none">
	<h2 class="heading">Проекты  
		<a href="" ng-click="newProject()">
			<i class="fa fa-plus add-proj"><span>Добавить</span></i>
		</a>
	</h2>
</div>


<div class="row form-projects-group">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="search-string">Поиск</label>
			<div class='input-group'>
				<span class="input-group-addon">
                      <span class="fa fa-search"></span>
				</span>
				<input ng-model="filter.searchString" type="search" class="form-control" id="search-string"/>
			</div>
		</div>
	</div>
	
	<div class="col-sm-6">
		<div class="form-group">
			<label for="filter-projtype">Тип проекта</label>
			<select class="form-control" placeholder="Тип проекта"
                ng-model="filterProjectType"
				ng-options="item.name for item in projectTypes track by item.id"
				id="filter-projtype">
                <option value="">Любой</option>
            </select>			
		</div>
	</div>

	<style>
	.input-clear-cntrol {
		vertical-align: middle;
		font-size: 1em;
		background-color: #e8e8e8;
		padding-right: 5px;
		display: none;
	}

	.input-clear-cntrol i:hover  {
		cursor: pointer;
		font-weight: bold;
	}
	</style>
	<div class="col-sm-6">

		<div class="form-group">
			<label for="project-creation-date">Дата создания</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</div>
				<input ng-model="filterProjectCreationDate" type="text" class="form-control pull-right" id="project-creation-date">
				<div id="project-creation-date-clear" class="input-clear-cntrol" align="right">
					<i class="fa fa-times"></i>
				</div>
				<script>
					function UTCToLocalTime( utc ) {
						var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
						return new Date( utc - timezoneOffset );
					}

					$( "#project-creation-date" ).daterangepicker({
							locale: {
								format: "DD.MM.YYYY",
								applyLabel: "ОК",
								cancelLabel: "Отмена"
							},
						},
						function ( start, end ) {			
							var range = start.format( "DD.MM.YYYY" ) + " - " + end.format( "DD.MM.YYYY" );
							document.querySelector( "#project-creation-date" ).value = range;
							var event = new Event( "change" );
							document.querySelector( "#project-creation-date" ).dispatchEvent( event );
						}
					);
					
					$( "#project-creation-date" ).on( "apply.daterangepicker", function( ev, picker ) {		
						var range = picker.startDate.format( "DD.MM.YYYY" ) + " - " + picker.endDate.format( "DD.MM.YYYY" );
						document.querySelector( "#project-creation-date" ).value = range;
						var event = new Event( "change" );
						document.querySelector( "#project-creation-date" ).dispatchEvent( event );
					});	

					document.querySelector( "#project-creation-date-clear" ).addEventListener( "click", ( e ) => {
						var now = UTCToLocalTime( Date.now() ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );

						var re = /\s/;
						var tokens = now.split( re );

						var timestampString = tokens[0];
						timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );

						$( "#project-creation-date" ).data( "daterangepicker" ).setStartDate( timestampString );
						$( "#project-creation-date" ).data( "daterangepicker" ).setEndDate( timestampString );

						$( "#project-creation-date" ).val( "" );

						document.querySelector( "#project-creation-date-clear" ).style.display = "none";

						angular.element( document.querySelector( "#project-creation-date" ) )
							.scope()
							.filterProjectCreationDateFrom = "";
							
						angular.element( document.querySelector( "#project-creation-date" ) )
							.scope()
							.filterProjectCreationDateTo = "";

						angular.element( document.querySelector( "#project-creation-date" ) )
							.scope().$apply();                               
					}, false );

					document.querySelector( "#project-creation-date" ).addEventListener( "change", function( e ) {
						var value = document.querySelector( "#project-creation-date" ).value;
						
						var re = /\s*-\s*/;
						var tokens = value.split( re );

						var timestampString = tokens[0] + " " + "00:00:00";
						timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
						timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();

						angular.element( document.querySelector( "#project-creation-date" ) )
							.scope()
							.filterProjectCreationDateFrom = timestampString;
						
						timestampString = tokens[1] + " " + "23:59:59";
						timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
						timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();                               

						angular.element( document.querySelector( "#project-creation-date" ) )
							.scope()
							.filterProjectCreationDateTo = timestampString;

						document.querySelector( "#project-creation-date-clear" ).style.display = "table-cell";
					} );
				</script>
			</div>
		</div>

	</div>            

	<div class="col-sm-6">

		<div class="form-group">
			<label for="project-finish-date">Дата завершения</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</div>
				<input ng-model="filterProjectFinishedDate" type="text" class="form-control pull-right" id="project-finish-date">
				<div id="project-finish-date-clear" class="input-clear-cntrol" align="right">
					<i class="fa fa-times"></i>
				</div>
				<script>
					function UTCToLocalTime( utc ) {
						var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
						return new Date( utc - timezoneOffset );
					}

					$( "#project-finish-date" ).daterangepicker({
							locale: {
								format: "DD.MM.YYYY",
								applyLabel: "ОК",
								cancelLabel: "Отмена"
							},
						},
						function ( start, end ) {			
							var range = start.format( "DD.MM.YYYY" ) + " - " + end.format( "DD.MM.YYYY" );
							document.querySelector( "#project-finish-date" ).value = range;
							var event = new Event( "change" );
							document.querySelector( "#project-finish-date" ).dispatchEvent( event );
						}
					);
					
					$( "#project-finish-date" ).on( "apply.daterangepicker", function( ev, picker ) {		
						var range = picker.startDate.format( "DD.MM.YYYY" ) + " - " + picker.endDate.format( "DD.MM.YYYY" );
						document.querySelector( "#project-finish-date" ).value = range;
						var event = new Event( "change" );
						document.querySelector( "#project-finish-date" ).dispatchEvent( event );
					});	

					document.querySelector( "#project-finish-date-clear" ).addEventListener( "click", ( e ) => {
						var now = UTCToLocalTime( Date.now() ).toISOString().replace( /T/, " " ).replace( /Z/, "" ).replace( /\..+/, "" );

						var re = /\s/;
						var tokens = now.split( re );

						var timestampString = tokens[0];
						timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );

						$( "#project-finish-date" ).data( "daterangepicker" ).setStartDate( timestampString );
						$( "#project-finish-date" ).data( "daterangepicker" ).setEndDate( timestampString );

						$( "#project-finish-date" ).val( "" );

						document.querySelector( "#project-finish-date-clear" ).style.display = "none";

						angular.element( document.querySelector( "#project-finish-date" ) )
							.scope()
							.filterProjectFinishedDateFrom = "";
							
						angular.element( document.querySelector( "#project-finish-date" ) )
							.scope()
							.filterProjectFinishedDateTo = "";

						angular.element( document.querySelector( "#project-finish-date" ) )
							.scope().$apply();                               
					}, false );

					document.querySelector( "#project-finish-date" ).addEventListener( "change", function( e ) {
						var value = document.querySelector( "#project-finish-date" ).value;
						
						var re = /\s*-\s*/;
						var tokens = value.split( re );

						var timestampString = tokens[0] + " " + "00:00:00";
						timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
						timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();

						angular.element( document.querySelector( "#project-finish-date" ) )
							.scope()
							.filterProjectFinishedDateFrom = timestampString;
						
						timestampString = tokens[1] + " " + "23:59:59";
						timestampString = timestampString.replace( /(\d+).(\d+).(\d+)/, "$3-$2-$1" );	
						timestampString = UTCToLocalTime( Date.parse( timestampString ) ).toISOString();                               

						angular.element( document.querySelector( "#project-finish-date" ) )
							.scope()
							.filterProjectFinishedDateTo = timestampString;

						document.querySelector( "#project-finish-date-clear" ).style.display = "table-cell";
					} );
				</script>
			</div>
		</div>

	</div>

	<div class="col-sm-6" style="height:80px;">
		<div class="form-group">
			<label for="filter-manager">Руководитель</label>
			<select id="filter-manager" class="form-control"
                ng-model="filterProjectManager"
				ng-options="user as user.fullName for user in users track by user._id">
                <option value="">Любой</option>
            </select>			
		</div>
	</div>

</div>

<style>
	.ui-jqgrid {
		width: 100% !important;
	}

	div.ui-jqgrid-view.table-responsive {
		width: 100% !important;
	}

	.ui-jqgrid .ui-jqgrid-hdiv {
		width: 100% !important;
	}

	.ui-jqgrid .ui-jqgrid-bdiv {
		width: 100% !important;
	}

	.ui-jqgrid .table-bordered {
		width: 100% !important;
	}

	.ui-jqgrid .ui-jqgrid-pager {
		width: 100% !important;
	}

	.ui-jqgrid .ui-jqgrid-titlebar-close {
		margin: -10px 20px 0 0 !important;
		color: #9e9e9e !important;
	}

	.ui-jqgrid .ui-jqgrid-titlebar-close {
		color: #9e9e9e !important;
		font-size: 1.25em !important;
	}

	.ui-jqgrid .ui-jqgrid-titlebar-close:hover {	
		color: black !important;
	}

	.acontainer-control-bar i {	
		display: inline-block;
		color: #9e9e9e;
		font-size: 1.5em;
	}

	.acontainer-control-bar i:hover {	
		color: black;
		cursor: pointer;
	}

	.acontainer {
		display: none;
		width: 100%;
		height: 100%;
	}

	.acontainer-control-bar {
		position: absolute;
		top: 19px;
		right: 14px;
		z-index: 10;
	}
</style>


<div class="row" id="search-result-view" style="display: none;">
	<div class="col-md-12">

		<div style="display: table; width: 100%;">
			<div style="display: table-row;">
				<p style="font-size: 2em;" id="search-status"></p>
			</div>
			
			<div style="display: table-row;">
				<div id="search-data-container" class="acontainer">
					<div class="acontainer-control-bar" id="acontainer-close-button">
						<i class="fa fa-fw fa-times"></i>
					</div>			
					<script>
						document.getElementById( "acontainer-close-button" ).addEventListener( "click", function() {							
							document.querySelector( "#search-data-container" ).style.display = "none";
							document.querySelector( "#search-result-view" ).style.display = "none";
						} );
					</script>
				
					<!-- jqGrid -->
					<!-- The jQuery library is a prerequisite for all jqSuite products -->
					<!-- <script type="text/ecmascript" src="./libs/jqGrid/js/jquery.min.js"></script> -->
					<!-- We support more than 40 localizations -->
					<script type="text/ecmascript" src="./libs/jqGrid/js/trirand/i18n/grid.locale-ru.js"></script>
					<!-- This is the Javascript file of jqGrid -->   
					<script type="text/ecmascript" src="./libs/jqGrid/js/trirand/jquery.jqGrid.min.js"></script>
					<!-- A link to a Boostrap  and jqGrid Bootstrap CSS siles-->
					<!-- <link rel="stylesheet" href="./libs/jqGrid/bootstrap/3.3.4/css/bootstrap.min.css"> -->
					<link rel="stylesheet" type="text/css" media="screen" href="./libs/jqGrid/css/trirand/ui.jqgrid-bootstrap.css" />
					<script>
					//$.jgrid.defaults.width = 780;
					$.jgrid.defaults.responsive = true;
					$.jgrid.defaults.styleUI = 'Bootstrap';
					</script>
					<!-- <script src="./libs/jqGrid/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

					<table id="jqGrid"></table>
					<div id="jqGridPager"></div>
					<!-- #jqGrid -->
					
				</div>

				<hr>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div
	 ng-repeat="project in projects | filterProjectsByUserRights:currentUser | filterProjectCreation:filterProjectCreationDateFrom:filterProjectCreationDateTo | filterProjectFinished:filterProjectFinishedDateFrom:filterProjectFinishedDateTo | filterProjectType:filterProjectType | filterProjectManager: filterProjectManager | orderBy:'-started'"
	 class="col-md-12">
		<div class="box collapsed-box">
			<div class="box-header">
				<h3 class="box-title">
					<a href="#/projects/{{project._id}}/main" class="color-link">
						<span>№{{project.number}}</span> {{project.name}}
					</a>
					<span class="fa fa-circle-style"></span>
				</h3>

				<table class="table">
					<thead>
						<tr>
							<th>Тип проекта</th>
							<th>Дата начала</th>
							<th>Дата завершения</th>
							<th>Руководитель проекта</th>
							<th>Статус</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{project.type.name}}</td>
							<td>{{toLocalDateString(project.started)}}</td>
							<td>{{toLocalDateString(project.dueDate)}}</td>
							<td>{{(project.manager) ? project.manager.fullName : '-'}}</td>
							<td>{{(project.finished) ? 'завершено' : 'в процессе'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="box-tools pull-right">
					<button
						ng-if="(currentUser.isRoot && ( currentUser.isRoot === true )) || (currentUser._id === project.owner._id) || (currentUser._id === project.manager._id)"						
						class="btn btn-box-tool fc-remove-button"
						data-toggle="tooltip"
						title="Удалить"
						ng-click="deleteProject(project._id)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>			
			<div class="box-footer">
				Footer
			</div>
		</div>
	</div>
</div>


<script>
	function UTCToLocalTime( utc ) {
		var timezoneOffset = ( new Date() ).getTimezoneOffset() * 60000;
		return new Date( utc - timezoneOffset );
	}	

	function customSumAggregationFunc( val, name, record ) {	
		return (( record.ProjectID ) ? ( record.ProjectID ) : ( "" ));		
	}

	$( document ).ready( function () {
		$( "#jqGrid" ).jqGrid({
			colModel: [
				{ label: "ObjectID", name: "ObjectID", width: 1, hidden: true },
				{ label: "ObjectType", name: "ObjectType", width: 1, hidden: true },
				{ label: "Имя", name: "ObjectName", width: 150 },
				{ label: "Дата и время создания", name: "ObjectCreationDateTime", width: 175 },
				{ label: "Описание", name: "ObjectDescription", width: 150 },
				{ label: "ProjectName", name: "ProjectName", width: 1, hidden: true },
				{ label: "ProjectID", name: "ProjectID", width: 1, hidden: true, summaryType:customSumAggregationFunc }
			],
			pager: "#jqGridPager",
			caption: "&nbsp;"
		});
	});

	function updateSearchDataView( data ) {
		if ( data && data.length == 0 ) {
			document.querySelector( "#search-status" ).innerHTML = "По вашему запросу ничего не найдено";
			$( "#jqGrid" ).jqGrid( "clearGridData" );
			document.querySelector( "#search-data-container" ).style.display = "none";
			return;
		}

		$( "#jqGrid" ).jqGrid( "clearGridData" )
			.jqGrid( "setGridParam", {
				datatype: "local",
				data: data,			
				colModel: [
					{ label: "ObjectID", name: "ObjectID", width: 1, hidden: true },
					{ label: "Тип", name: "ObjectType", width: 1, hidden: true },
					{ label: "Имя", name: "ObjectName", width: 150 },
					{ label: "Дата и время создания", name: "ObjectCreationDateTime", width: 175 },
					{ label: "Описание", name: "ObjectDescription", width: 150 },
					{ label: "ProjectName", name: "ProjectName", width: 1, hidden: true },
					{ label: "ProjectID", name: "ProjectID", width: 1, hidden: true, summaryType:customSumAggregationFunc }
				],			
				viewrecords: true,
				//width: 780,
				height: 250,
				rowNum: 20,
				rowList: [20,30,50],
				sortname: "ObjectCreationDateTime",
				pager: "#jqGridPager",
				grouping: true,
				groupingView: {
					groupField: ["ProjectName", "ObjectType"],
					groupColumnShow: [true, true],
					groupText: ["Проект: <a href=\"./#/projects/{ProjectID}/main\" target=\"_blank\"><b>{0}</b></a>", "<b>{0} ({1})</b>"],		
					groupOrder: ["asc", "asc"],
					groupSummary: [false, false],
					groupCollapse: false
				},
				caption: "&nbsp;"
			})		
			.trigger( "reloadGrid" );

		window.dispatchEvent( new Event( "resize" ) );	
	}

	document.querySelector( "#search-string" ).addEventListener( "change", function( e ) {		
		var searchString = document.querySelector( "#search-string" ).value;

		if ( searchString.length == 0 ) {
			document.querySelector( "#search-status" ).innerHTML = "Для выполнения поиска необходимо ввести данные";
			$( "#jqGrid" ).jqGrid( "clearGridData" );

			document.querySelector( "#search-data-container" ).style.display = "none";		

			return;
		}

		document.querySelector( "#search-result-view" ).style.display = "block";
		document.querySelector( "#search-data-container" ).style.display = "block";

		document.querySelector( "#search-status" ).innerHTML = "Поиск...";
		
		angular.element( document.querySelector( "#search-string" ) )
			.scope()
			.search( searchString,
			( data, error ) => {
				if ( error ) {				
					console.error( error );
					return;
				}				

				document.querySelector( "#search-status" ).innerHTML = "";

				updateSearchDataView( data );
			} );
	} );
</script>
