<tabs data="tabData" type="tabs" justified="true"/>

<div class="col-lg-12">
    <h4 class="centered-header">Супервайзеры</h4>
    

<table style="margin-top:1em;" class="table table-condensed table-striped table-bordered table-responsive table-hover">
	<thead>
		<tr>
			<th></th>
			<!-- ko foreach: supervisors -->
			<th class="text-center" ng-repeat="supervisor in supervisors">{{supervisor || "не указан"}}</th>
			<!-- /ko -->
			<th class="text-center lead active">Итого</th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: {data: statuses, as:'Status'} -->
		<tr ng-repeat="status in projectStatuses" ng-class="{success: status.title == 'выполнена'}">
			<th>{{status.title}}</th>
			<!-- ko foreach: {data:  $root.supervisors, as:'Supervisor'} -->
			<td class="text-center" ng-repeat="supervisor in supervisors">
				<span>
					{{getData(status.title, supervisor)}}					
				</span>
			</td>
			<!-- /ko -->
			<td class="active text-center" style="font-size:21px;">
				<span>
					<span>{{getTotalByStatus(status.title)}}</span>
					<small data-bind="visible: change, css:{'text-danger': change<0, 'text-success': change>0}"><i class="fa" data-bind="css:{'fa-arrow-down': change<0, 'fa-arrow-up': change>0}"></i><span data-bind="text: Math.abs(change)"></span></small>
				</span>				
			</td>
		</tr>
		<!-- /ko -->
	</tbody>
	<tfoot>
		<tr class="active">
			<th class="lead">Итого</th>
			<!-- ko foreach: supervisors -->
			<th class="lead text-center" ng-repeat="supervisor in supervisors">
				<span>
					<span data-bind="text: curValue"></span>
					<small data-bind="visible: change, css:{'text-danger': change<0, 'text-success': change>0}">
						<i class="fa" data-bind="css:{'fa-arrow-down': change<0, 'fa-arrow-up': change>0}"></i>
						<span>{{getTotalBySupervisor(supervisor)}}</span>
					</small>
				</span>	
			</th>
			<!-- /ko -->
			<th class="lead text-center" data-bind="with: $root.getGrandTotal()">
				<span data-bind="visible: curValue || change">
					<span data-bind="text: curValue"></span>
					<small data-bind="visible: change, css:{'text-danger': change<0, 'text-success': change>0}"><i class="fa" data-bind="css:{'fa-arrow-down': change<0, 'fa-arrow-up': change>0}"></i><span data-bind="text: Math.abs(change)"></span></small>
				</span>	
			</th>
		</tr>
	</tfoot>
</table>
	



</div>