<tabs data="tabData" type="tabs" justified="true"/>

<h4 class="centered-header">Сроки по статусам</h4>
<p ng-if="!statusesDurationLoaded" class="lead text-center text-muted" style="margin:3em auto;">
	<i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
</p>
<tabset>
	<tab ng-repeat="statusTable in dataTable">
		<tab-heading>
			<span class="label label-{{statusTable.statusClassName}}">{{statusTable.statusName}}</span>
		</tab-heading>
	    <div class="row">
			<div class="col-md-12">
				<div class="list-group" data-bind="foreach: durationData">
					<a ng-repeat="proposal in statusTable.proposals"
					href="{{'#/projects/' + proposal.projectId + '/proposals/' + proposal.id}}" class="list-group-item"
						ng-class="{'proposal-snippet-complete': proposal.finished, 'proposal-snippet-urgent': !proposal.finished && proposal.overText}" target="_blank">
						<h4 class="list-group-item-heading">
							<span data-bind="text: projectNo">{{proposal.name}}</span>
							<small class="margin-left">
								<strong>
									<span ng-if="proposal.finished && proposal.finishingDate" class="margin-left" data-bind="text: 'завершена ' + proposal.finishingDate">
										{{'завершена ' + formatTimeToLocal(proposal.finishingDate)}}
									</span>
									<span ng-if="!(proposal.finished && proposal.finishingDate) && proposal.restText" class="margin-left" data-bind="proposal.restText">
										{{proposal.restText}}, (срок выполнения {{formatTimeToLocal(proposal.creationDate)}} - {{formatTimeToLocal(proposal.planedDueDate)}} )
									</span>
									<span ng-if="!(proposal.finished && proposal.finishingDate) && proposal.overText" class="margin-left" data-bind="proposal.restText">
										{{proposal.overText}} (срок выполнения {{formatTimeToLocal(proposal.creationDate)}} - {{formatTimeToLocal(proposal.planedDueDate)}} )
									</span>
								</strong>
							</small>
						</h4>
						<p class="list-group-item-text">
							<div class="progress">
								<div ng-if="proposal.durationDaysNum>0" class="progress-bar progress-bar-success" ng-style="{width: proposal.durationPercent}">
									<span title="{{proposal.durationText}}">
										{{proposal.durationText}}
									</span>
								</div>
								<div ng-if="proposal.restDaysNum"class="progress-bar progress-bar-warning" ng-style="{width: proposal.restPercent}">
									<span title="{{proposal.restText}}">
										{{proposal.restText}}
									</span>
								</div>
								<div ng-if="proposal.overDaysNum" class="progress-bar progress-bar-danger" ng-style="{width: proposal.overPercent}">
									<span title="{{proposal.overText}}">
										{{proposal.overText}}
									</span>
								</div>
							</div>
						</p>
					</a>
				</div>
			</div>
		</div>
	</tab>
</tabset>
