<div class="row">
    <tabs data="tabData" type="tabs" justified="true"/>    
            <div>
                <div report-Dgim class="col-lg-12"></div>
            </div>

    <ui-view></ui-view>

</div>