<tabs data="tabData" type="tabs" justified="true"/>

<div class="container">
<h3>Экспорт заявок</h3>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-form navbar-left">
				<div class="form-group">
					<label>Начало периода:</label>
					<div class="input-group input-group-sm date" style="width:150px;">
						<div class="input-group date">
  							<input type="text" class="form-control" ng-model="startDate">
  							<span class="input-group-addon">
  								<i class="glyphicon glyphicon-calendar"></i>
  							</span>
						</div>
					</div>
				</div>
				<div class="form-group margin-left">
					<label>Конец периода:</label>
					<div class="input-group input-group-sm date" style="width:150px;">
						<div class="input-group date">
  							<input type="text" class="form-control" ng-model="endDate">
  							<span class="input-group-addon">
  								<i class="glyphicon glyphicon-calendar"></i>
  							</span>
						</div>
					</div>
				</div>
					<button class="btn navbar-btn btn-info margin-left" ng-click="getReport()" title="Получить отчёт">
						<i class="fa fa-table margin-right"></i>Получить отчёт
					</button>
			</div>
		</div>
	</nav>
</div>

<script type="text/javascript">
	$('.input-group.date').datepicker({
	    language: "ru",
	    autoclose: true
	});
</script>