<tabs data="tabData" type="tabs" justified="true"/>

<h4 class="centered-header">Статистика</h4>
<iframe src="/views/statistics.html"  width="100%" height="800" class="statistics">
    Ваш браузер не поддерживает фреймы!
</iframe>


