<tabs data="tabData" type="tabs" justified="true"/>

<div class="col-lg-12">
	<p ng-if="!durationLoaded" class="lead text-center text-muted" style="margin:3em auto;">
    	<i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
	</p>
    <h4 class="centered-header" ng-if="series && series.length>0">Сроки</h4>
    <h4 class="centered-header" ng-if="errorText">{{errorText}}</h4>
    <h4 class="centered-header" ng-if="!errorText && durationLoaded && series && series.length==0">Нет завершенных заявок</h4>
    <div class="row">
		<div class="col-md-12">		
			<div class="list-group" data-bind="foreach: durationData">
				<a ng-repeat="proposal in series" href="{{'/#/projects/' + projectId + '/proposals/' + proposal._id}}" class="list-group-item"
					ng-class="{'list-group-item-success': proposal.totalDuration<15, 'list-group-item-warning': proposal.totalDuration>14 && proposal.totalDuration<17,
						'list-group-item-danger': proposal.totalDuration>16}" target="_blank">
					<h4 class="list-group-item-heading">
						<span data-bind="text: projectNo">{{proposal.projectNo}}</span>
						<small class="margin-left">
							<strong>
								{{getTotalDurationDescr(proposal.totalDuration)}}
							</strong>
							<span class="margin-left" data-bind="text: 'завершена '+ completedAt">
								{{'завершена ' + proposal.completedAt}}
							</span>
						</small>
					</h4>
					<p class="list-group-item-text">
						<div class="progress">
							<div class="progress-bar progress-bar-success" ng-style="{width: 100*proposal.appraisalDuration/proposal.totalDuration+'%'}">
								<span title="{{'Оценка: '+ proposal.appraisalDuration+ ' дн.'}}">
									{{'Оценка: '+ proposal.appraisalDuration+ ' дн.'}}
								</span>
							</div>
							<div class="progress-bar" ng-style="{width: 100*proposal.dgiDuration/proposal.totalDuration + '%'}">
								<span title="{{'ДГИМ: '+proposal.dgiDuration+ ' дн.'}}">
									{{'ДГИМ: '+proposal.dgiDuration+ ' дн.'}}
								</span>
							</div>
							<div class="progress-bar progress-bar-warning" ng-style="{width: 100*proposal.sroDuration/proposal.totalDuration+'%'}">
								<span title="{{'СРО: '+proposal.sroDuration+ ' дн.'}}">
									{{'СРО: '+proposal.sroDuration+ ' дн.'}}
								</span>
							</div>
							<div class="progress-bar progress-bar-info" ng-style="{width: 100-100*proposal.appraisalDuration/proposal.totalDuration-100*proposal.sroDuration/proposal.totalDuration-100*proposal.dgiDuration/proposal.totalDuration+'%'}">
								<span>
									{{'Остальные: '+(proposal.totalDuration - proposal.appraisalDuration - proposal.sroDuration - proposal.dgiDuration) + ' дн.'}}
								</span>
							</div>
						</div>
					</p>
				</a>
			</div>
		</div>
	</div>

</div>