<tabs data="tabData" type="tabs" justified="true"/>

<div>
	<div id="container" style="min-width: 500px; height: 500px; max-width: 900px; margin: 0 auto">
		<p ng-if="!avgDurationLoaded" class="lead text-center text-muted" style="margin:3em auto;">
			<i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
		</p>
	</div>
	<h4 ng-if="avgDurationLoaded && statusStats && statusStats.length === 0" class="centered-header">Нет завершенных заявок</h4>
	<table ng-if="avgDurationLoaded && statusStats && statusStats.length > 0" border="1" style="width: 900px; margin: 20px auto 50px auto; border: 1px solid #000;">
		<tr>
			<th width="300">Статус</td>
			<th>Минимальная длительность, часов</th>
			<th>Средняя длительность, часов</th>
			<th>Максимальная длительность, часов</th>
		</tr>
		<tr ng-repeat="status in statusStats">
			<td><span class="label label-{{status.className}}" style="margin: 5px 0 10px 2px;">{{status.name}}</span></td>
			<td>{{status.minDuration}}</td>
			<td>{{status.avgDuration}}</td>
			<td>{{status.maxDuration}}</td>
		</tr>
	</table>
</div>
