<tabs data="tabData" type="tabs" justified="true"/>

<h1>План</h1>

<div class="col-lg-12">
    <div>
	<div id="chartPlan" style="height:400px;min-width:300px; margin:0 auto;padding:0;position:relative;">
		<p class="lead text-center text-muted" style="margin:3em auto;">
			<i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
		</p>
	</div>
</div>
</div>