<tabs data="tabData" type="tabs" justified="true"/>

<div class="col-lg-12">
	<div id="filterStatus">
		<button ng-click="updateForYear()" type="button" class="btn btn-success">Все</button>
    	<button ng-click="updateForYear(2014)" type="button" class="btn btn-primary">2014</button>
        <button ng-click="updateForYear(2015)" type="button" class="btn btn-danger">2015</button>
    </div>
    <div id="chartStatus" style="height:400px;min-width:300px; margin:0 auto;padding:0;position:relative;">
        <p class="lead text-center text-muted" style="margin:3em auto;">
            <i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
        </p>
    </div>
    
</div>
<div ng-if="projects.length === 0" class="col-lg-12">
    <h4 class="centered-header">У вас не достаточно прав для просмотра статистики</h4>
</div>