﻿<html>
<head>
    <meta charset="utf-8">
    <title>CRM Statistics</title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-ui-router-tabs/src/ui-router-tabs.js"></script>
    <script src="/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/bower_components/ng-table/dist/ng-table.min.js"></script>
    
	<script src="/scripts/app.js"></script>
    <script src="/scripts/config.js"></script>
    <script src="/scripts/controllers/dest/statistics.js"></script>

    <link rel="stylesheet" href="/styles/font-awesome.min.css"/>
</head>

<body ng-app="crmApp" ng-controller="StatisticsCtrl">
    <div class="col-lg-12">
        <center>
            <p class="lead text-center text-muted" style="margin:3em auto;">
                <i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
            </p>
        	<form name="formStats" enctype="multipart/form-data" action="{{statisticsUrl}}" method="post">
        		<input type="hidden" name="username" value="{{statUserName}}">
                <input type="hidden" name="facility" value="crm.business">
        		<a href="javascript:void(0)" onclick='document.formStats.submit();'>Пользователь {{statUserName}}</a>
        	</form>
        </center>
    </div>
</body>
</html>